{
  "openapi": "3.0.1",
  "info": {
    "title": "Equipment360 API",
    "version": "v1",
    "description": "API for interacting with Equipment360. Operations require the 'e360:read' or 'e360:write' scope.",
    "termsOfService": "https://support.hcss.com.",
    "contact": {
      "name": "Heavy Construction Systems Specialists, Inc. (HCSS)",
      "url": "https://support.hcss.com/",
      "email": "support@hcss.com"
    },
    "license": {
      "name": "EULA",
      "url": "https://support.hcss.com."
    }
  },
  "servers": [
    {
      "url": "https://api.hcssapps.com/e360"
    }
  ],
  "security": [
    {
      "bearer": [
        "e360:read",
        "e360:write"
      ]
    }
  ],
  "paths": {
    "/api/v1/businessUnits": {
      "get": {
        "tags": [
          "BusinessUnit"
        ],
        "summary": "Returns a list of all business units.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiBusinessUnitRead"
                  }
                },
                "example": [
                  {
                    "id": "b31f57c2-9861-4acf-816e-7faab246cfd5",
                    "code": "Houston Central",
                    "description": "There's no place like home."
                  },
                  {
                    "id": "5b36ddb7-e570-45eb-aad4-aa4ad21ddbc4",
                    "code": "Pasadena Shop",
                    "description": "Repairs, rentals, and sublets."
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      }
    },
    "/api/v1/costs/fuel": {
      "get": {
        "tags": [
          "Cost"
        ],
        "summary": "Get total fuel cost for all jobs.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Optional. If specified, totals will reflect all costs submitted after startDate, inclusive.",
            "schema": {
              "type": "string",
              "description": "Optional. If specified, totals will reflect all costs submitted after startDate, inclusive.",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Optional. If specified, totals will reflect all costs submitted prior to endDate, inclusive.",
            "schema": {
              "type": "string",
              "description": "Optional. If specified, totals will reflect all costs submitted prior to endDate, inclusive.",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "jobCode",
            "in": "query",
            "description": "Optional. If specified, totals will reflect all costs submitted filtered by job code.",
            "schema": {
              "type": "string",
              "description": "Optional. If specified, totals will reflect all costs submitted filtered by job code.",
              "nullable": true
            }
          },
          {
            "name": "businessUnitId",
            "in": "query",
            "description": "Optional. If specified, totals will reflect all costs submitted filtered by business unit. The business unit guid.",
            "schema": {
              "type": "string",
              "description": "Optional. If specified, totals will reflect all costs submitted filtered by business unit. The business unit guid.",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiFuelCostRead"
                  }
                },
                "example": [
                  {
                    "jobId": "48f8ba5d-a39b-4188-9cac-500ca34a56e4",
                    "jobCode": "Pasadena Underpass",
                    "totalFuelCost": 8221.25
                  },
                  {
                    "jobId": "eacbaf91-7a2f-49b0-8643-c2f5c3ad7e2b",
                    "jobCode": "Garden Road Expansion - Phase A",
                    "totalFuelCost": 2193.73
                  }
                ]
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiFuelCostRead"
                  }
                },
                "example": [
                  {
                    "jobId": "48f8ba5d-a39b-4188-9cac-500ca34a56e4",
                    "jobCode": "Pasadena Underpass",
                    "totalFuelCost": 8221.25
                  },
                  {
                    "jobId": "eacbaf91-7a2f-49b0-8643-c2f5c3ad7e2b",
                    "jobCode": "Garden Road Expansion - Phase A",
                    "totalFuelCost": 2193.73
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiFuelCostRead"
                  }
                },
                "example": [
                  {
                    "jobId": "48f8ba5d-a39b-4188-9cac-500ca34a56e4",
                    "jobCode": "Pasadena Underpass",
                    "totalFuelCost": 8221.25
                  },
                  {
                    "jobId": "eacbaf91-7a2f-49b0-8643-c2f5c3ad7e2b",
                    "jobCode": "Garden Road Expansion - Phase A",
                    "totalFuelCost": 2193.73
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      }
    },
    "/api/v1/costs/workOrders": {
      "get": {
        "tags": [
          "Cost"
        ],
        "summary": "Gets work order costs for all jobs.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "parameters": [
          {
            "name": "businessUnitId",
            "in": "query",
            "description": "Required. The business unit guid.",
            "schema": {
              "type": "string",
              "description": "Required. The business unit guid.",
              "format": "uuid"
            }
          },
          {
            "name": "jobCode",
            "in": "query",
            "description": "Optional. If specified, totals will reflect all work order costs associated with the specified job code.",
            "schema": {
              "type": "string",
              "description": "Optional. If specified, totals will reflect all work order costs associated with the specified job code.",
              "nullable": true
            }
          },
          {
            "name": "equipmentId",
            "in": "query",
            "description": "Optional. If specified, totals will reflect all work order costs associated with the specified equipment id.",
            "schema": {
              "type": "string",
              "description": "Optional. If specified, totals will reflect all work order costs associated with the specified equipment id.",
              "format": "uuid",
              "nullable": true
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Optional. If specified, totals will reflect all work order costs where work orders are tagged with the specified tag.",
            "schema": {
              "type": "string",
              "description": "Optional. If specified, totals will reflect all work order costs where work orders are tagged with the specified tag.",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiWorkOrderCostRead"
                },
                "example": {
                  "jobCode": "West Loop - Phase A",
                  "laborCost": 12352,
                  "estimatedLaborCost": 12352,
                  "partCost": 6789.63,
                  "estimatedPartCost": 6789.63,
                  "otherCost": 575,
                  "estimatedOtherCost": 575,
                  "totalCost": 19716.63,
                  "estimatedTotalCost": 19716.63
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiWorkOrderCostRead"
                },
                "example": {
                  "jobCode": "West Loop - Phase A",
                  "laborCost": 12352,
                  "estimatedLaborCost": 12352,
                  "partCost": 6789.63,
                  "estimatedPartCost": 6789.63,
                  "otherCost": 575,
                  "estimatedOtherCost": 575,
                  "totalCost": 19716.63,
                  "estimatedTotalCost": 19716.63
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiWorkOrderCostRead"
                },
                "example": {
                  "jobCode": "West Loop - Phase A",
                  "laborCost": 12352,
                  "estimatedLaborCost": 12352,
                  "partCost": 6789.63,
                  "estimatedPartCost": 6789.63,
                  "otherCost": 575,
                  "estimatedOtherCost": 575,
                  "totalCost": 19716.63,
                  "estimatedTotalCost": 19716.63
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      }
    },
    "/api/v1/costs/workOrdersExtended": {
      "get": {
        "tags": [
          "Cost"
        ],
        "summary": "Gets work order costs with extended details.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "parameters": [
          {
            "name": "businessUnitId",
            "in": "query",
            "description": "Required. The business unit guid.",
            "schema": {
              "type": "string",
              "description": "Required. The business unit guid.",
              "format": "uuid"
            }
          },
          {
            "name": "jobCode",
            "in": "query",
            "description": "Optional. If specified, totals will reflect all work order costs associated with the specified job code.",
            "schema": {
              "type": "string",
              "description": "Optional. If specified, totals will reflect all work order costs associated with the specified job code.",
              "nullable": true
            }
          },
          {
            "name": "equipmentId",
            "in": "query",
            "description": "Optional. If specified, totals will reflect all work order costs associated with the specified equipment id.",
            "schema": {
              "type": "string",
              "description": "Optional. If specified, totals will reflect all work order costs associated with the specified equipment id.",
              "format": "uuid",
              "nullable": true
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Optional. If specified, totals will reflect all work order costs where work orders are tagged with the specified tag.",
            "schema": {
              "type": "string",
              "description": "Optional. If specified, totals will reflect all work order costs where work orders are tagged with the specified tag.",
              "nullable": true
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The total number of records to return. Default: 100. Limit: 1000.",
            "schema": {
              "type": "integer",
              "description": "The total number of records to return. Default: 100. Limit: 1000.",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "The point at which to start pagination.",
            "schema": {
              "type": "integer",
              "description": "The point at which to start pagination.",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiWorkOrderCostExtendedReadApiPagedResponse"
                },
                "example": {
                  "count": 2,
                  "prev": 6,
                  "next": 10,
                  "timestamp": 1590769189,
                  "data": [
                    {
                      "workOrderNumber": 25,
                      "workOrderDescription": "Oil change. The works.",
                      "workOrderCreatedDate": "2022-06-27T00:00:00Z",
                      "workOrderStatusCode": "Open",
                      "hasWorkOrderDamageTag": false,
                      "jobCode": "Hanbury Shop",
                      "laborCost": 65.3,
                      "partCost": 172.35,
                      "otherCost": 0,
                      "totalCost": 237.65,
                      "estimatedLaborCost": 65.3,
                      "estimatedPartCost": 172.35,
                      "estimatedOtherCost": 0,
                      "estimatedTotalCost": 237.65
                    },
                    {
                      "workOrderNumber": 26,
                      "workOrderDescription": "Battery theft. Requires replacement. Seat fabric also torn.",
                      "workOrderCreatedDate": "2022-05-22T00:00:00Z",
                      "workOrderStatusCode": "Closed",
                      "hasWorkOrderDamageTag": true,
                      "jobCode": "Darkwood Underpass",
                      "laborCost": 45,
                      "partCost": 112.17,
                      "otherCost": 0,
                      "totalCost": 157.17,
                      "estimatedLaborCost": 45,
                      "estimatedPartCost": 112.17,
                      "estimatedOtherCost": 0,
                      "estimatedTotalCost": 157.17
                    }
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiWorkOrderCostExtendedReadApiPagedResponse"
                },
                "example": {
                  "count": 2,
                  "prev": 6,
                  "next": 10,
                  "timestamp": 1590769189,
                  "data": [
                    {
                      "workOrderNumber": 25,
                      "workOrderDescription": "Oil change. The works.",
                      "workOrderCreatedDate": "2022-06-27T00:00:00Z",
                      "workOrderStatusCode": "Open",
                      "hasWorkOrderDamageTag": false,
                      "jobCode": "Hanbury Shop",
                      "laborCost": 65.3,
                      "partCost": 172.35,
                      "otherCost": 0,
                      "totalCost": 237.65,
                      "estimatedLaborCost": 65.3,
                      "estimatedPartCost": 172.35,
                      "estimatedOtherCost": 0,
                      "estimatedTotalCost": 237.65
                    },
                    {
                      "workOrderNumber": 26,
                      "workOrderDescription": "Battery theft. Requires replacement. Seat fabric also torn.",
                      "workOrderCreatedDate": "2022-05-22T00:00:00Z",
                      "workOrderStatusCode": "Closed",
                      "hasWorkOrderDamageTag": true,
                      "jobCode": "Darkwood Underpass",
                      "laborCost": 45,
                      "partCost": 112.17,
                      "otherCost": 0,
                      "totalCost": 157.17,
                      "estimatedLaborCost": 45,
                      "estimatedPartCost": 112.17,
                      "estimatedOtherCost": 0,
                      "estimatedTotalCost": 157.17
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiWorkOrderCostExtendedReadApiPagedResponse"
                },
                "example": {
                  "count": 2,
                  "prev": 6,
                  "next": 10,
                  "timestamp": 1590769189,
                  "data": [
                    {
                      "workOrderNumber": 25,
                      "workOrderDescription": "Oil change. The works.",
                      "workOrderCreatedDate": "2022-06-27T00:00:00Z",
                      "workOrderStatusCode": "Open",
                      "hasWorkOrderDamageTag": false,
                      "jobCode": "Hanbury Shop",
                      "laborCost": 65.3,
                      "partCost": 172.35,
                      "otherCost": 0,
                      "totalCost": 237.65,
                      "estimatedLaborCost": 65.3,
                      "estimatedPartCost": 172.35,
                      "estimatedOtherCost": 0,
                      "estimatedTotalCost": 237.65
                    },
                    {
                      "workOrderNumber": 26,
                      "workOrderDescription": "Battery theft. Requires replacement. Seat fabric also torn.",
                      "workOrderCreatedDate": "2022-05-22T00:00:00Z",
                      "workOrderStatusCode": "Closed",
                      "hasWorkOrderDamageTag": true,
                      "jobCode": "Darkwood Underpass",
                      "laborCost": 45,
                      "partCost": 112.17,
                      "otherCost": 0,
                      "totalCost": 157.17,
                      "estimatedLaborCost": 45,
                      "estimatedPartCost": 112.17,
                      "estimatedOtherCost": 0,
                      "estimatedTotalCost": 157.17
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      }
    },
    "/api/v1/customField": {
      "get": {
        "tags": [
          "CustomField"
        ],
        "summary": "Returns a list of all custom fields and their details.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiCustomFieldRead"
                  }
                },
                "example": [
                  {
                    "id": "a03d2948-bfbc-4718-88b3-648fdeb2b280",
                    "customFieldType": "Equipment",
                    "customFieldName": "Division",
                    "customFieldCategoryId": 6,
                    "entityId": 105,
                    "entityGuid": "323613fa-e0ca-4dbc-83a4-7d57dea33b84",
                    "value": "Joy Division"
                  },
                  {
                    "id": "4ae7c70f-2479-40e7-8d48-f2b7a89068cf",
                    "customFieldType": "WorkOrder",
                    "customFieldName": "Time You Left the Job?",
                    "customFieldCategoryId": 10,
                    "entityId": 561,
                    "entityGuid": "8b394587-4e4f-4ea4-bd6f-989e5baf0b01",
                    "value": "2023-08-21 17:00:00"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      },
      "post": {
        "tags": [
          "CustomField"
        ],
        "summary": "Create a new custom field.",
        "description": "All fields are required. EntityGUID refers to the ID associated with the item the custom field record is being attached to (e.g. Equipment ID, Parts ID, Work Request ID, etc.)\r\nFor help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiCustomFieldCreate"
              },
              "example": {
                "customFieldCategoryId": 6,
                "entityGUID": "858bbfc7-8dcd-4664-8925-ad073e0da933",
                "value": "My Division"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiCustomFieldCreate"
              },
              "example": {
                "customFieldCategoryId": 6,
                "entityGUID": "858bbfc7-8dcd-4664-8925-ad073e0da933",
                "value": "My Division"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiCustomFieldCreate"
              },
              "example": {
                "customFieldCategoryId": 6,
                "entityGUID": "858bbfc7-8dcd-4664-8925-ad073e0da933",
                "value": "My Division"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCustomFieldRead"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      }
    },
    "/api/v1/customFieldCategories": {
      "get": {
        "tags": [
          "CustomFieldCategories"
        ],
        "summary": "Returns a list of all custom field categories and their details.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "parameters": [
          {
            "name": "categoryType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CustomFieldCategoryTypeEnum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiCustomFieldCategoriesRead"
                  }
                },
                "example": [
                  {
                    "categoryID": 7,
                    "fieldName": "Tire Tread Depth?",
                    "entityName": "WorkOrder",
                    "dataType": "Number"
                  },
                  {
                    "categoryID": 11,
                    "fieldName": "Time you left the job?",
                    "entityName": "WorkOrder",
                    "dataType": "DateTime"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      }
    },
    "/api/v1/customFieldList": {
      "get": {
        "tags": [
          "CustomFieldList"
        ],
        "summary": "Returns all options for List type custom field categories.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "parameters": [
          {
            "name": "categoryId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiCustomFieldListRead"
                  }
                },
                "example": [
                  {
                    "customFieldType": "Equipment",
                    "customFieldName": "Division",
                    "customFieldCategoryId": 23,
                    "listOptions": [
                      "Joy Division",
                      "Main Division",
                      "Secondary Division"
                    ]
                  },
                  {
                    "customFieldType": "Part",
                    "customFieldName": "Status",
                    "customFieldCategoryId": 27,
                    "listOptions": [
                      "New",
                      "Used",
                      "Refurbished"
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      }
    },
    "/api/v1/employees": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Returns all employees.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "parameters": [
          {
            "name": "businessUnitId",
            "in": "query",
            "description": "Optionally filter the returned list of employees by business unit",
            "schema": {
              "type": "string",
              "description": "Optionally filter the returned list of employees by business unit",
              "format": "uuid"
            }
          },
          {
            "name": "employeeId",
            "in": "query",
            "description": "Optionally filter the returned list of employees by an employee's integer ID or \"Legacy Key\"",
            "schema": {
              "type": "integer",
              "description": "Optionally filter the returned list of employees by an employee's integer ID or \"Legacy Key\"",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiEmployeeRead"
                  }
                },
                "example": [
                  {
                    "id": "12c7e9ea-6d67-4f43-9d67-bbf3117d07bd",
                    "employeeId": 1,
                    "businessUnitId": "f25e722e-3944-455b-b81a-de16fd569672",
                    "code": "LUPIN,R",
                    "firstName": "Remus",
                    "lastName": "Lupin",
                    "types": [
                      "mechanic"
                    ],
                    "payclass": "mechanic-jr",
                    "address": {
                      "line1": "13151 W. Airport Blvd.",
                      "line2": "",
                      "city": "Sugar Land",
                      "state": "TX",
                      "zip": "77498"
                    },
                    "hireDate": "2011-11-12T00:00:00Z",
                    "mobilePhone": "",
                    "homePhone": "123-456-6789",
                    "officePhone": "",
                    "homeEmail": "",
                    "officeEmail": "johndoe@gmail.com",
                    "region": "BEASLEY",
                    "division": "02-123",
                    "accountingCode": "EMP123",
                    "onLoanBusinessUnitId": "00000000-0000-0000-0000-000000000000"
                  },
                  {
                    "id": "e71683d7-44e7-41ec-9876-faff956c1ebc",
                    "employeeId": 2,
                    "businessUnitId": "f25e722e-3944-455b-b81a-de16fd569672",
                    "code": "BLACK,S",
                    "firstName": "Sirius",
                    "lastName": "Black",
                    "types": [
                      "mechanic",
                      "admin"
                    ],
                    "payclass": "mechanic-sr",
                    "address": {
                      "line1": "12 Grimmauld Place",
                      "line2": "",
                      "city": "London",
                      "state": "",
                      "zip": ""
                    },
                    "hireDate": "2011-11-12T00:00:00Z",
                    "mobilePhone": "",
                    "homePhone": "",
                    "officePhone": "",
                    "homeEmail": "",
                    "officeEmail": "johndoe@gmail.com",
                    "region": "BEASLEY",
                    "division": "02-123",
                    "accountingCode": "EMP234",
                    "onLoanBusinessUnitId": "00000000-0000-0000-0000-000000000000"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      },
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Create a new employee.",
        "description": "First and Last name is required. Payclass is needed if employee is mechanic or fueler.\r\nFor help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEmployeeCreate"
              },
              "example": {
                "businessUnitId": "42686835-dd20-4187-8429-39bcea2b1cfc",
                "code": "LUPIN,R",
                "firstName": "Remus",
                "lastName": "Lupin",
                "types": [
                  "mechanic"
                ],
                "payclass": "mechanic-jr",
                "address": {
                  "line1": "13151 W. Airport Blvd.",
                  "line2": "",
                  "city": "Sugar Land",
                  "state": "TX",
                  "zip": "77498"
                },
                "hireDate": "2011-11-12T00:00:00Z",
                "mobilePhone": "",
                "homePhone": "",
                "officePhone": "",
                "homeEmail": "",
                "officeEmail": "johndoe@gmail.com",
                "region": "BEASLEY",
                "division": "02-123",
                "accountingCode": "EMP123",
                "onLoanBusinessUnitId": "00000000-0000-0000-0000-000000000000"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEmployeeCreate"
              },
              "example": {
                "businessUnitId": "42686835-dd20-4187-8429-39bcea2b1cfc",
                "code": "LUPIN,R",
                "firstName": "Remus",
                "lastName": "Lupin",
                "types": [
                  "mechanic"
                ],
                "payclass": "mechanic-jr",
                "address": {
                  "line1": "13151 W. Airport Blvd.",
                  "line2": "",
                  "city": "Sugar Land",
                  "state": "TX",
                  "zip": "77498"
                },
                "hireDate": "2011-11-12T00:00:00Z",
                "mobilePhone": "",
                "homePhone": "",
                "officePhone": "",
                "homeEmail": "",
                "officeEmail": "johndoe@gmail.com",
                "region": "BEASLEY",
                "division": "02-123",
                "accountingCode": "EMP123",
                "onLoanBusinessUnitId": "00000000-0000-0000-0000-000000000000"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEmployeeCreate"
              },
              "example": {
                "businessUnitId": "42686835-dd20-4187-8429-39bcea2b1cfc",
                "code": "LUPIN,R",
                "firstName": "Remus",
                "lastName": "Lupin",
                "types": [
                  "mechanic"
                ],
                "payclass": "mechanic-jr",
                "address": {
                  "line1": "13151 W. Airport Blvd.",
                  "line2": "",
                  "city": "Sugar Land",
                  "state": "TX",
                  "zip": "77498"
                },
                "hireDate": "2011-11-12T00:00:00Z",
                "mobilePhone": "",
                "homePhone": "",
                "officePhone": "",
                "homeEmail": "",
                "officeEmail": "johndoe@gmail.com",
                "region": "BEASLEY",
                "division": "02-123",
                "accountingCode": "EMP123",
                "onLoanBusinessUnitId": "00000000-0000-0000-0000-000000000000"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEmployeeRead"
                },
                "example": {
                  "id": "12c7e9ea-6d67-4f43-9d67-bbf3117d07bd",
                  "employeeId": 1,
                  "businessUnitId": "42686835-dd20-4187-8429-39bcea2b1cfc",
                  "code": "LUPIN,R",
                  "firstName": "Remus",
                  "lastName": "Lupin",
                  "types": [
                    "mechanic"
                  ],
                  "payclass": "mechanic-jr",
                  "address": {
                    "line1": "13151 W. Airport Blvd.",
                    "line2": "",
                    "city": "Sugar Land",
                    "state": "TX",
                    "zip": "77498"
                  },
                  "hireDate": "2011-11-12T00:00:00Z",
                  "mobilePhone": "",
                  "homePhone": "",
                  "officePhone": "",
                  "homeEmail": "",
                  "officeEmail": "johndoe@gmail.com",
                  "region": "BEASLEY",
                  "division": "02-123",
                  "accountingCode": "EMP123",
                  "onLoanBusinessUnitId": "00000000-0000-0000-0000-000000000000"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      }
    },
    "/api/v1/employees/{id}": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Returns a single employee record, based on its Id.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the employee to return.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The Id of the employee to return.",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEmployeeRead"
                },
                "example": {
                  "id": "12c7e9ea-6d67-4f43-9d67-bbf3117d07bd",
                  "employeeId": 1,
                  "businessUnitId": "42686835-dd20-4187-8429-39bcea2b1cfc",
                  "code": "LUPIN,R",
                  "firstName": "Remus",
                  "lastName": "Lupin",
                  "types": [
                    "mechanic"
                  ],
                  "payclass": "mechanic-jr",
                  "address": {
                    "line1": "13151 W. Airport Blvd.",
                    "line2": "",
                    "city": "Sugar Land",
                    "state": "TX",
                    "zip": "77498"
                  },
                  "hireDate": "2011-11-12T00:00:00Z",
                  "mobilePhone": "",
                  "homePhone": "",
                  "officePhone": "",
                  "homeEmail": "",
                  "officeEmail": "johndoe@gmail.com",
                  "region": "BEASLEY",
                  "division": "02-123",
                  "accountingCode": "EMP123",
                  "onLoanBusinessUnitId": "00000000-0000-0000-0000-000000000000"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      },
      "put": {
        "tags": [
          "Employee"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEmployeeUpdate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEmployeeUpdate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEmployeeUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEmployeeRead"
                },
                "example": {
                  "id": "12c7e9ea-6d67-4f43-9d67-bbf3117d07bd",
                  "employeeId": 1,
                  "businessUnitId": "42686835-dd20-4187-8429-39bcea2b1cfc",
                  "code": "LUPIN,R",
                  "firstName": "Remus",
                  "lastName": "Lupin",
                  "types": [
                    "mechanic"
                  ],
                  "payclass": "mechanic-jr",
                  "address": {
                    "line1": "13151 W. Airport Blvd.",
                    "line2": "",
                    "city": "Sugar Land",
                    "state": "TX",
                    "zip": "77498"
                  },
                  "hireDate": "2011-11-12T00:00:00Z",
                  "mobilePhone": "",
                  "homePhone": "",
                  "officePhone": "",
                  "homeEmail": "",
                  "officeEmail": "johndoe@gmail.com",
                  "region": "BEASLEY",
                  "division": "02-123",
                  "accountingCode": "EMP123",
                  "onLoanBusinessUnitId": "00000000-0000-0000-0000-000000000000"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/equipment": {
      "get": {
        "tags": [
          "Equipment"
        ],
        "summary": "Returns all equipment.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "parameters": [
          {
            "name": "businessUnitId",
            "in": "query",
            "description": "Optionally filter the returned list of equipment by business unit",
            "schema": {
              "type": "string",
              "description": "Optionally filter the returned list of equipment by business unit",
              "format": "uuid"
            }
          },
          {
            "name": "equipmentCode",
            "in": "query",
            "description": "Optionally filter the returned list of equipment by Code",
            "schema": {
              "type": "string",
              "description": "Optionally filter the returned list of equipment by Code",
              "nullable": true
            }
          },
          {
            "name": "accountingCode",
            "in": "query",
            "description": "Optionally filter the returned list of equipment by Accounting Code",
            "schema": {
              "type": "string",
              "description": "Optionally filter the returned list of equipment by Accounting Code",
              "nullable": true
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Optionally filter the returned list of equipment by Status Code",
            "schema": {
              "type": "string",
              "description": "Optionally filter the returned list of equipment by Status Code",
              "nullable": true
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The total number of records to return. Default: 100. Limit: 1000.",
            "schema": {
              "type": "integer",
              "description": "The total number of records to return. Default: 100. Limit: 1000.",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "The point at which to start pagination.",
            "schema": {
              "type": "integer",
              "description": "The point at which to start pagination.",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Determines if deleted equipment should appear in results. Defaults to false.",
            "schema": {
              "type": "boolean",
              "description": "Determines if deleted equipment should appear in results. Defaults to false.",
              "default": false,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEquipmentReadApiPagedResponse"
                },
                "example": {
                  "count": 2,
                  "prev": 11,
                  "next": 15,
                  "timestamp": 1594300743,
                  "data": [
                    {
                      "id": "712b78b5-b10e-4df9-a6ee-1747754abb7b",
                      "equipmentId": 13,
                      "businessUnitId": "f25e722e-3944-455b-b81a-de16fd569672",
                      "code": "DZ-101",
                      "equipmentType": "Dozer",
                      "description": "The big yellow one.",
                      "accountingCode": "HOLYMOLY",
                      "make": "Komatsu",
                      "model": "D39EXi-24",
                      "year": 2021,
                      "vin": "JF1GV7F67DG002982",
                      "serialNo": "Test",
                      "hourMeter": 3829,
                      "hourMeterDate": "2020-06-07T00:00:00",
                      "odometer": 0,
                      "imageUrl": "",
                      "region": "",
                      "division": "",
                      "weight": 0,
                      "length": 0,
                      "width": 0,
                      "height": 0,
                      "numberAxles": 0,
                      "tireSize": "",
                      "status": "Available",
                      "enabled": "Y",
                      "rentalFlag": false,
                      "ratedPowerHP": 0,
                      "ratedPowerKW": 0,
                      "defaultFuel": "",
                      "purchaseDate": "2000-01-01T00:00:00Z",
                      "purchasePrice": 100000,
                      "jobCode": "867-5309",
                      "locationName": "",
                      "onLoanBusinessUnitID": "00000000-0000-0000-0000-000000000000"
                    },
                    {
                      "id": "e71683d7-44e7-41ec-9876-faff956c1ebc",
                      "equipmentId": 14,
                      "businessUnitId": "f25e722e-3944-455b-b81a-de16fd569672",
                      "code": "DZ-102",
                      "equipmentType": "Dozer",
                      "description": "The small yellow one",
                      "accountingCode": "HOLYMOLY",
                      "make": "Komatsu",
                      "model": "D37EX-24",
                      "year": 2019,
                      "vin": "1J4RR5GT2BC512008",
                      "serialNo": "Test",
                      "hourMeter": 2011,
                      "hourMeterDate": "2021-06-07T00:00:00",
                      "odometer": 302,
                      "odometerDate": "2021-06-07T00:00:00",
                      "imageUrl": "https://datastorage-api.azurewebsites.net/api/DocumentStorage/Download/5173a497-6f02-46e9-9583-2c8d90a279be-equipmentimage.jpg/",
                      "region": "",
                      "division": "",
                      "weight": 0,
                      "length": 0,
                      "width": 0,
                      "height": 0,
                      "numberAxles": 0,
                      "tireSize": "",
                      "status": "Available",
                      "enabled": "Y",
                      "rentalFlag": false,
                      "ratedPowerHP": 0,
                      "ratedPowerKW": 0,
                      "defaultFuel": "",
                      "purchaseDate": "2000-01-01T00:00:00Z",
                      "purchasePrice": 100000,
                      "jobCode": "867-5309",
                      "locationName": "",
                      "onLoanBusinessUnitID": "00000000-0000-0000-0000-000000000000"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      },
      "post": {
        "tags": [
          "Equipment"
        ],
        "summary": "Create a new equipment record.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "requestBody": {
          "description": "The details of the equipment to be created.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEquipmentCreate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEquipmentCreate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEquipmentCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEquipmentRead"
                },
                "example": {
                  "id": "712b78b5-b10e-4df9-a6ee-1747754abb7b",
                  "equipmentId": 13,
                  "businessUnitId": "f25e722e-3944-455b-b81a-de16fd569672",
                  "code": "DZ-101",
                  "equipmentType": "Dozer",
                  "description": "The big yellow one.",
                  "accountingCode": "HOLYMOLY",
                  "make": "Komatsu",
                  "model": "D39EXi-24",
                  "year": 2021,
                  "vin": "JF1GV7F67DG002982",
                  "serialNo": "Test",
                  "hourMeter": 3829,
                  "hourMeterDate": "2020-06-07T00:00:00",
                  "odometer": 0,
                  "imageUrl": "",
                  "region": "",
                  "division": "",
                  "weight": 0,
                  "length": 0,
                  "width": 0,
                  "height": 0,
                  "numberAxles": 0,
                  "tireSize": "",
                  "status": "Available",
                  "enabled": "Y",
                  "rentalFlag": false,
                  "ratedPowerHP": 0,
                  "ratedPowerKW": 0,
                  "defaultFuel": "",
                  "purchaseDate": "2000-01-01T00:00:00Z",
                  "purchasePrice": 100000,
                  "jobCode": "867-5309",
                  "locationName": "",
                  "onLoanBusinessUnitID": "00000000-0000-0000-0000-000000000000"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      }
    },
    "/api/v1/equipment/{id}": {
      "get": {
        "tags": [
          "Equipment"
        ],
        "summary": "Returns a single equipment record, based on its Id.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the equipment to be return.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The Id of the equipment to be return.",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEquipmentRead"
                },
                "example": {
                  "id": "712b78b5-b10e-4df9-a6ee-1747754abb7b",
                  "equipmentId": 13,
                  "businessUnitId": "f25e722e-3944-455b-b81a-de16fd569672",
                  "code": "DZ-101",
                  "equipmentType": "Dozer",
                  "description": "The big yellow one.",
                  "accountingCode": "HOLYMOLY",
                  "make": "Komatsu",
                  "model": "D39EXi-24",
                  "year": 2021,
                  "vin": "JF1GV7F67DG002982",
                  "serialNo": "Test",
                  "hourMeter": 3829,
                  "hourMeterDate": "2020-06-07T00:00:00",
                  "odometer": 0,
                  "imageUrl": "",
                  "region": "",
                  "division": "",
                  "weight": 0,
                  "length": 0,
                  "width": 0,
                  "height": 0,
                  "numberAxles": 0,
                  "tireSize": "",
                  "status": "Available",
                  "enabled": "Y",
                  "rentalFlag": false,
                  "ratedPowerHP": 0,
                  "ratedPowerKW": 0,
                  "defaultFuel": "",
                  "purchaseDate": "2000-01-01T00:00:00Z",
                  "purchasePrice": 100000,
                  "jobCode": "867-5309",
                  "locationName": "",
                  "onLoanBusinessUnitID": "00000000-0000-0000-0000-000000000000"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      },
      "put": {
        "tags": [
          "Equipment"
        ],
        "summary": "Update equipment record, based on its Id.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the equipment to be updated.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The Id of the equipment to be updated.",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The details of the equipment to be updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEquipmentUpdate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEquipmentUpdate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEquipmentUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEquipmentRead"
                },
                "example": {
                  "id": "712b78b5-b10e-4df9-a6ee-1747754abb7b",
                  "equipmentId": 13,
                  "businessUnitId": "f25e722e-3944-455b-b81a-de16fd569672",
                  "code": "DZ-101",
                  "equipmentType": "Dozer",
                  "description": "The big yellow one.",
                  "accountingCode": "HOLYMOLY",
                  "make": "Komatsu",
                  "model": "D39EXi-24",
                  "year": 2021,
                  "vin": "JF1GV7F67DG002982",
                  "serialNo": "Test",
                  "hourMeter": 3829,
                  "hourMeterDate": "2020-06-07T00:00:00",
                  "odometer": 0,
                  "imageUrl": "",
                  "region": "",
                  "division": "",
                  "weight": 0,
                  "length": 0,
                  "width": 0,
                  "height": 0,
                  "numberAxles": 0,
                  "tireSize": "",
                  "status": "Available",
                  "enabled": "Y",
                  "rentalFlag": false,
                  "ratedPowerHP": 0,
                  "ratedPowerKW": 0,
                  "defaultFuel": "",
                  "purchaseDate": "2000-01-01T00:00:00Z",
                  "purchasePrice": 100000,
                  "jobCode": "867-5309",
                  "locationName": "",
                  "onLoanBusinessUnitID": "00000000-0000-0000-0000-000000000000"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      }
    },
    "/api/v1/equipmentTransfer": {
      "post": {
        "tags": [
          "EquipmentTransfer"
        ],
        "summary": "Transfer ownership of equipment between business units.",
        "description": "Note: Transferring ownership of equipment between business units will reset the following fields associated with the equipment: Job, Region, Division, and Default Mechanic.\r\nFor help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "requestBody": {
          "description": "The details of the equipment to be created.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEquipmentTransferCreate"
              },
              "example": {
                "equipmentId": "60bbe69c-7611-4594-97c2-64ca166b0911",
                "currentBusinessUnitId": "3d2ab2ae-8632-444e-90db-619628ecfd62",
                "newBusinessUnitId": "728edd5d-8384-45ba-81a8-07475ff1c867"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEquipmentTransferCreate"
              },
              "example": {
                "equipmentId": "60bbe69c-7611-4594-97c2-64ca166b0911",
                "currentBusinessUnitId": "3d2ab2ae-8632-444e-90db-619628ecfd62",
                "newBusinessUnitId": "728edd5d-8384-45ba-81a8-07475ff1c867"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEquipmentTransferCreate"
              },
              "example": {
                "equipmentId": "60bbe69c-7611-4594-97c2-64ca166b0911",
                "currentBusinessUnitId": "3d2ab2ae-8632-444e-90db-619628ecfd62",
                "newBusinessUnitId": "728edd5d-8384-45ba-81a8-07475ff1c867"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEquipmentTransferRead"
                },
                "example": {
                  "equipmentId": 34,
                  "equipmentName": "01-300",
                  "oldBusinessUnit": "Site Equipment Ltd",
                  "newBusinessUnit": "Forestry",
                  "transferDateTime": "2024-03-12T00:00:00Z"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      }
    },
    "/api/v1/equipmentType": {
      "get": {
        "tags": [
          "EquipmentType"
        ],
        "summary": "Returns a list of all equipment types.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiEquipmentTypeRead"
                  }
                },
                "example": [
                  {
                    "equipmentTypeID": 1,
                    "name": "EXC",
                    "description": "Excavator",
                    "longDescription": "EXC",
                    "budget": 250000,
                    "utilizedHoursPerYear": 1200,
                    "utilizedMilesPerYear": 500,
                    "replacementCycleYears": 5,
                    "sweetSpotK": 200000,
                    "sweetSpotEx": 300000,
                    "billingRate": 150,
                    "avgOperatingCostPerHour": 50,
                    "avgOperatingCostPerOdometer": 0.75
                  },
                  {
                    "equipmentTypeID": 2,
                    "name": "LRG",
                    "description": "Large Excavator",
                    "longDescription": "EXC:LRG",
                    "budget": 200000,
                    "utilizedHoursPerYear": 900,
                    "utilizedMilesPerYear": 300,
                    "replacementCycleYears": 7,
                    "sweetSpotK": 180000,
                    "sweetSpotEx": 220000,
                    "billingRate": 120,
                    "avgOperatingCostPerHour": 60,
                    "avgOperatingCostPerOdometer": 0.65
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      },
      "post": {
        "tags": [
          "EquipmentType"
        ],
        "summary": "Create a new equipment type.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "requestBody": {
          "description": "The details of the equipment type to be created. If equipment type with same name already exists, will update the record.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEquipmentTypeCreate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEquipmentTypeCreate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiEquipmentTypeCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEquipmentTypeRead"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      }
    },
    "/api/v1/invoice": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "Gets invoice details.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "parameters": [
          {
            "name": "receivalDate",
            "in": "query",
            "description": "Optional. If specified, filter by invoice receival date.",
            "schema": {
              "type": "string",
              "description": "Optional. If specified, filter by invoice receival date.",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "modifiedDateTime",
            "in": "query",
            "description": "Optional. If specified, filter by since modified date/time.",
            "schema": {
              "type": "string",
              "description": "Optional. If specified, filter by since modified date/time.",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "invoiceStatus",
            "in": "query",
            "description": "Optional. If specified, filter by invoice status.",
            "schema": {
              "type": "string",
              "description": "Optional. If specified, filter by invoice status.",
              "nullable": true
            }
          },
          {
            "name": "invoiceNumber",
            "in": "query",
            "description": "Optional. If specified, filter by invoice number.",
            "schema": {
              "type": "string",
              "description": "Optional. If specified, filter by invoice number.",
              "nullable": true
            }
          },
          {
            "name": "referenceNumber",
            "in": "query",
            "description": "Optional. If specified, filter by reference number.",
            "schema": {
              "type": "string",
              "description": "Optional. If specified, filter by reference number.",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiInvoiceRead"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      },
      "post": {
        "tags": [
          "Invoice"
        ],
        "summary": "Creates a new invoice.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiInvoiceCreate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiInvoiceCreate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiInvoiceCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInvoiceRead"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      },
      "put": {
        "tags": [
          "Invoice"
        ],
        "summary": "Update invoice status and add details to invoice",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "requestBody": {
          "description": "Details about the invoice to update/add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiInvoiceCreate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiInvoiceCreate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiInvoiceCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInvoiceRead"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      }
    },
    "/api/v1/jobs": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Returns a list of all jobs.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "parameters": [
          {
            "name": "businessUnitId",
            "in": "query",
            "description": "Optionally filter the returned list of jobs by business unit",
            "schema": {
              "type": "string",
              "description": "Optionally filter the returned list of jobs by business unit",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiJobRead"
                  }
                },
                "example": [
                  {
                    "id": "a5dbedf2-2222-4cbf-8bd7-07cbeb2a32e6",
                    "businessUnitId": "00000000-0000-0000-0000-000000000000",
                    "code": "16-4729",
                    "altCode": "Clay",
                    "description": "Clay Job",
                    "enabled": "Y",
                    "regionCode": "",
                    "divisionCode": "",
                    "address": {
                      "line1": "",
                      "line2": "",
                      "city": "Sugar Land",
                      "state": "TX",
                      "zip": "77478"
                    },
                    "status": "Active"
                  },
                  {
                    "id": "6c18428d-9d6f-46ef-b1b2-099d828931b5",
                    "businessUnitId": "00000000-0000-0000-0000-000000000000",
                    "code": "20-5024",
                    "altCode": "",
                    "description": "Eastex Job",
                    "enabled": "Y",
                    "regionCode": "",
                    "divisionCode": "",
                    "address": {
                      "line1": "",
                      "line2": "",
                      "city": "Sugar Land",
                      "state": "TX",
                      "zip": "77478"
                    },
                    "status": "Active"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      },
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Create a new job.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiJobCreate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiJobCreate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiJobCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiJobRead"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      }
    },
    "/api/v1/jobs/{id}": {
      "put": {
        "tags": [
          "Job"
        ],
        "summary": "Update an existing job.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The job guid.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The job guid.",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiJobUpdate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiJobUpdate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiJobUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiJobRead"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      }
    },
    "/api/v1/locations": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Returns a list of all locations.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "parameters": [
          {
            "name": "businessUnitId",
            "in": "query",
            "description": "Optionally filter the returned list of locations by business unit",
            "schema": {
              "type": "string",
              "description": "Optionally filter the returned list of locations by business unit",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiLocationRead"
                  }
                },
                "example": [
                  {
                    "id": "116c7656-86bb-471a-8636-0a289faafbef",
                    "businessUnitId": "00000000-0000-0000-0000-000000000000",
                    "code": "07-1960",
                    "description": "FM 1960",
                    "enabled": "Y",
                    "address": {
                      "line1": "",
                      "line2": "",
                      "city": "Sugar Land",
                      "state": "TX",
                      "zip": "77478"
                    }
                  },
                  {
                    "id": "4ff48039-6ca1-42c6-8a36-3777c4e01589",
                    "businessUnitId": "00000000-0000-0000-0000-000000000000",
                    "code": "05-29HS",
                    "description": "Hanbury Job",
                    "enabled": "Y",
                    "address": {
                      "line1": "",
                      "line2": "",
                      "city": "Sugar Land",
                      "state": "TX",
                      "zip": "77478"
                    }
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      },
      "post": {
        "tags": [
          "Location"
        ],
        "summary": "Create a new location.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiLocationCreate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiLocationCreate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiLocationCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiLocationRead"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      }
    },
    "/api/v1/locations/{id}": {
      "put": {
        "tags": [
          "Location"
        ],
        "summary": "Update an existing location.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The location guid.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The location guid.",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiLocationUpdate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiLocationUpdate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiLocationUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiLocationRead"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      }
    },
    "/api/v1/maintenanceRequest": {
      "get": {
        "tags": [
          "MaintenanceRequest"
        ],
        "summary": "Gets all maintenance request or filtered by Equipment Code.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "parameters": [
          {
            "name": "equipmentCode",
            "in": "query",
            "description": "Optionally filter maintenance requests by Equipment Code",
            "schema": {
              "type": "string",
              "description": "Optionally filter maintenance requests by Equipment Code",
              "nullable": true
            }
          },
          {
            "name": "businessUnitId",
            "in": "query",
            "description": "Optionally filter maintenance requests by Business Unit Id",
            "schema": {
              "type": "string",
              "description": "Optionally filter maintenance requests by Business Unit Id",
              "format": "uuid"
            }
          },
          {
            "name": "businessUnitCode",
            "in": "query",
            "description": "Optionally filter maintenance requests by Business Unit Code",
            "schema": {
              "type": "string",
              "description": "Optionally filter maintenance requests by Business Unit Code",
              "nullable": true
            }
          },
          {
            "name": "changesSinceDate",
            "in": "query",
            "description": "Optionally filter to maintenance requests that are either new or have changed since the specified date.",
            "schema": {
              "type": "string",
              "description": "Optionally filter to maintenance requests that are either new or have changed since the specified date.",
              "nullable": true
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The total number of records to return. Default: 100. Limit: 1000.",
            "schema": {
              "type": "integer",
              "description": "The total number of records to return. Default: 100. Limit: 1000.",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "The point at which to start pagination. Returned as \"next\" or \"prev\" in the response. Default: 1.",
            "schema": {
              "type": "integer",
              "description": "The point at which to start pagination. Returned as \"next\" or \"prev\" in the response. Default: 1.",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMaintenanceRequestReadApiPagedResponse"
                },
                "example": {
                  "count": 2,
                  "prev": 4,
                  "next": 8,
                  "timestamp": 1594300743,
                  "data": [
                    {
                      "id": "94a4f6d3-1679-40ab-ba58-94c80a32056a",
                      "requestedDate": "2019-01-21T00:00:00",
                      "priorityCode": "Low",
                      "status": "Added to work order",
                      "statusDate": "2019-01-21T00:00:00",
                      "workOrderId": 55,
                      "workOrderStatusCode": "Open",
                      "workOrderStatusChangedBy": "Will Smith",
                      "workOrderStatusDate": "2019-01-21T00:00:00",
                      "pointOfContact": "Jimmy John 281-123-4567",
                      "dismissedDescription": "",
                      "description": "It's broken",
                      "equipmentCode": "01-100",
                      "equipmentId": "69bd8de3-3d74-49a5-9965-421a2752d5e1",
                      "jobId": "9d16be7a-4dc7-47dd-9ee1-fed7a4d5b970",
                      "jobCode": "West Street",
                      "priorityId": "dc956f98-3d46-4085-ae57-090c2bb838ee",
                      "source": "Heavy Job",
                      "requestedBy": "Ricky Bobby"
                    },
                    {
                      "id": "ee0ba864-812a-4051-a000-1eed485aa727",
                      "requestedDate": "2019-01-21T00:00:00",
                      "priorityCode": "Low",
                      "status": "Added to work order",
                      "statusDate": "2019-01-21T00:00:00",
                      "workOrderId": 55,
                      "workOrderStatusCode": "Open",
                      "workOrderStatusChangedBy": "Will Smith",
                      "workOrderStatusDate": "2019-01-21T00:00:00",
                      "pointOfContact": "Jimmy John 281-123-4567",
                      "dismissedDescription": "",
                      "description": "It's busted",
                      "equipmentCode": "01-100",
                      "equipmentId": "69bd8de3-3d74-49a5-9965-421a2752d5e1",
                      "jobId": "9d16be7a-4dc7-47dd-9ee1-fed7a4d5b970",
                      "jobCode": "South Street",
                      "priorityId": "dc956f98-3d46-4085-ae57-090c2bb838ee",
                      "source": "Heavy Job",
                      "requestedBy": "Ricky Bobby"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
          },
          "403": {
            "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
          },
          "404": {
            "description": "Endpoint Not Found. This response may occur if the on-premises E360 service does not exist or is not currently running."
          }
        }
      },
      "post": {
        "tags": [
          "MaintenanceRequest"
        ],
        "summary": "Creates a new maintenance request.",
        "description": "For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiMaintenanceRequestCreate"
              },
              "example": {
                "description": "equipment won't start",
                "equipmentCode": "DZR-01",
                "equipmentId": "f0b41e63-5ce5-41ff-a934-497da0c599bc",
                "jobId": "b1277067-64cd-42d4-9283-cb316eca7e59",
                "jobCode": "SW Freeway",
                "priorityId": "3d47353b-8473-469a-9f58-822c527a29da",
                "pointOfContactName": "John Watson",
                "pointOfContactPhoneNumber": "123-456-7890",
                "source": "E360 API",
                "requestedBy": "John Watson",
                "attachments": [
                  {
                    "imageAsBase64": "/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wgARCADIAMgDASIAAhEBAxEB/8QAHAABAAIDAQEBAAAAAAAAAAAAAAcIAwUGBAEC/8QAGwEBAAIDAQEAAAAAAAAAAAAAAAMEAQIFBgf/2gAMAwEAAhADEAAAAbUgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPNGuteU0OyJjTfK1+CPnWghLq+JznJNvA73M0PajDKEPDknYYc1r14Z2AAOPrjFyrFbym11NYPb+f1yc3Yq/qDn/NLB8zLcGWPU2O8fti6Xs9vxePko+XpZt5HqWu8r1+ZG1gmViy2vUgyABAEN9VytD511duK+2Cs+pQ3MlYMyx37vD0tPxNvOIjqOLPq9/00OIPPSpyfLmmfAaVBsc5tj0Pz70PpoZ3Aa7YxrrXrP8fef82srJvNRfd97NFN/nir+XG1j5eqS9I0nWrF2NpM8vXgTqJTSdHjNxu21vwfv2MyhnYABXuwlQoOFzOTGqeL2es+yNtYjh0nN4iz3Sq1a+z6oLHpAAAAAAANTTOylaqnjm80dvtKWn7jLxlv2lWvIUfnM1TzHkh3ffhJ0QAAAAAAK7RL0WiofOfdc+v1grHqEIzd5JOnUmQLAo+b4/YTdwM5AAAAAAYspiN+79rWENpwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP//EACkQAAEDBAIABgEFAAAAAAAAAAQDBQYAAQIHEBQREhMgMEAVFiIxYHD/2gAIAQEAAQUC/umeeKeDjsNS67bsRbsrkpjDd17mJReL1EyW8ux4PyLkpCpuWwQRai8hcJA8vbukyAJ2fZgpcp3iDjLjLqROFPzW2CO8cClKr43qLx1ikxMboWUs8iVSSwQS+BylzY2U0n/lG+r38tnRxVcza1uJ5ANgF5FvDeFg3BOTIE73OMam4c7XIi1BoFR2UyWU/p3NNEGQgv7YKnIPfKH27C3uUicHWscb5ZBDWDDqVGdJg4ionTYJXe4sw74/Vb5aa8v87j5LjkhKZAknGo0Xm4yYVteRfwV0so23sjOqkrgvh7tkF+c2osJ3H/jZBnkEoIa5hmONsMZLF0n/AAJjCQGbfKGqOjlbEcVaIk7qTSiyivsjwnRZPdKDO8/VrcTzn8TsztP9R0wdvdj9jrqUc+nuXwNw3cPtbwt7XEvogfzxr4T0GOizUAETirmmexFBQjMSFuxdxdarXofXbcnSUOZ0qTZG5GugNWIaGGXun5nXYuBc0GBleNiZXos1c9XgFrLcs2/XJS1BQdqDpFBMfD5djmeo4Unn6eZ7kS5r8opXXWGHxEH+hJDO8+8ssINc6kAaDe61DxO3IvoOxfQbeGpmKeV2KHhs1KqYopFkXLKrWwniv9DYJnXZOI2DZvZKmBnSj/EEE60f+hsYz1XSmwXuuNreHGyTP2BR5xcKC1wSpQYuAQn0JAZ33pNPNbOFxw1F24yEQzX+krjfNMKBNg1DBDh4/wCV/wD/xAAvEQABAwIEBAUCBwAAAAAAAAABAAIDBBEFEhNRITEyQRAUICIwM2FAQlBxkaGx/9oACAEDAQE/Afx8tRFALyOsoqqOWMzDpRxO3v0zk3VVUOMzYGvyAi91B5mNr85zAcjuo9OobcykS/dNvbj6KvEY6U5CLlUFZLWPcXcAFI8RsLz2TnF5zFVLdGgjj3tf/VLJCwNidxvyCqJY9Qx1MfDtZU8c0NM8x+254XTya3Kx7A3c3HprJNWoe5YRHlp826xSTTpiN+CiAc8B3JVWJUrmmO2ZNqtE5oW2/tPq55Op5XNNGY2CY3I0NHbxqJNKJz9vATQ0MDWSHsq6u83YAWATWlxs0KLC6mTmLfuo8FjH1HXTMOpWfkTYIm9LR/Cyjb0YvJlp8u/gyOWpf7Rcp7DG4sPZYLHZjpPhxmTNMGbKgpBVyWdyCyx0sRyCwCJublYfHp0zB8NXJrTud91hELo4i5wtdVUJniMYNrqLCIGdfFAWFh8McEUXQ236n//EACURAAICAQMEAQUAAAAAAAAAAAECABEhAxASEyAwMUEiQFBRYf/aAAgBAgEBPwH78sB7gYEXOp/IzZq4OQuCj857WcLEYsYcbNhAISBiMRdMIthTUP19rGzNIYmoaWCNqL6nKvU5E7jG7Ghe1hBmO/LYabGDS/c6aziO3VONgC22kPnw6pzEXkZhRsgpfCxszSFCMLFQaQ8QUD1+T//E
[...]
