{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Safety.CustomerApi",
    "description": "A safety management system. Operations require the \"safety:read\" or \"safety:write\" scope.",
    "termsOfService": "https://support.hcss.com.",
    "contact": {
      "name": "Heavy Construction Systems Specialists, Inc. (HCSS)",
      "url": "https://support.hcss.com/",
      "email": "support@hcss.com"
    },
    "license": {
      "name": "EULA",
      "url": "https://support.hcss.com."
    }
  },
  "host": "api.hcssapps.com",
  "basePath": "/safety",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "bearer": [
        "incidents:read",
        "incidents:write",
        "meetings:read"
      ]
    }
  ],
  "paths": {
    "/v1/incidents/{id}": {
      "get": {
        "tags": [
          "Incidents"
        ],
        "summary": "Gets a single incident case by ID.",
        "description": "Gets a single incident case by ID.\r\n\r\nFor help with authorization, please visit https://developer.hcssapps.com/getting-started/request-tokens",
        "operationId": "Incidents_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Incident found",
            "schema": {
              "$ref": "#/definitions/ApiIncidentDetailsV1"
            },
            "examples": {
              "application/json": {
                "EmployeeInjuries": [
                  {
                    "EmployeeCode": "employee-code-04",
                    "Address": {
                      "Address1": "456 Old Street",
                      "Address2": null,
                      "City": "Houston",
                      "State": "TX",
                      "ZipCode": "77042",
                      "Country": "US"
                    },
                    "Phone": "555-111-4444",
                    "Email": "employee04@company.com",
                    "JobTitle": "Contractor",
                    "DateOfHire": "2024-08-12T19:29:55.5324395Z",
                    "YearsWithCompanyString": "1",
                    "YearsInConstructionString": "3",
                    "DescriptionOfInjury": "Minor cut on left arm",
                    "TimeStartedWork": "2024-08-12T08:00:00Z",
                    "ActivityAtTime": "Working on XYZ",
                    "InjuryClassificationString": "illness/injury classification",
                    "NatureOfInjuryCategoryString": "nature of injury category",
                    "NatureOfInjuryTypeString": "nature of injury type",
                    "IncidentCauseCategoryString": "incident cause category",
                    "IncidentCauseTypeString": "incident cause type",
                    "InjuredBodyPartCategoryString": "Limb",
                    "InjuredBodyPartTypeString": "Arm",
                    "InjuredSideString": "Left",
                    "DrugAlcoholTest": true,
                    "DrugAlcoholTestFacility": "Test Facility, MD",
                    "FirstAidMedOnly": true,
                    "FirstAidMedOnlyProvidedBy": "employee-code-05",
                    "TreatedAwayFromWorkSite": false,
                    "TreatedAwayFromWorkSiteProvidedBy": "provider",
                    "TreatedInAnEmergencyRoom": false,
                    "HospitalizedOvernightInpatient": false,
                    "MedicalFacility": "medical facility (if treated at one)",
                    "PhysicianHealthCareProvider": "provider",
                    "IsRecordable": true,
                    "ExcludeNameFromOSHAReport": false,
                    "SummarizedDescriptionForOSHA": "summarized description",
                    "ClassificationString": "injury classification",
                    "DateOfDeath": "0001-01-01T00:00:00",
                    "DaysAwayFromWork": {
                      "FirstDay": "2024-08-13T00:00:00Z",
                      "LastDay": "2024-08-15T00:00:00Z",
                      "IncludeWeekends": true,
                      "DaysAway": 3
                    },
                    "DaysOnJobTransfer": {
                      "FirstDay": "2024-08-13T00:00:00Z",
                      "LastDay": "2024-08-15T00:00:00Z",
                      "IncludeWeekends": true,
                      "DaysAway": 3
                    },
                    "Notes": "Additional injury notes",
                    "Attachments": [
                      {
                        "AttachmentUrl": "https://attachments.hcssapps.com/injury-photo.png",
                        "Name": "injury photo",
                        "MimeType": "image/png"
                      }
                    ],
                    "RootCause": {
                      "isRootCause": true,
                      "ProbableRecurrenceString": "Low/Medium/High",
                      "PotentialExposureString": "Low/Medium/High",
                      "LossSeverityPotentialString": "Low/Medium/High",
                      "LossPotentialNotes": "additional notes",
                      "EmployeeReceivedSafetyTrainingString": "True",
                      "EmployeeNeedsSafetyTrainingString": "True",
                      "OtherEmployeeNeedSafetyTrainingString": "True",
                      "PersonResponsibleCode": "employee-code-06",
                      "TrainingNotes": "training notes",
                      "UnsafeActsDirectCause": "direct cause",
                      "UnsafeActsIndirectCause": "indirect cause",
                      "UnsafeActsManagementControl": "management control",
                      "UnsafeActsNotes": "additional notes",
                      "UnsafeConditionsDirectCause": "direct cause",
                      "UnsafeConditionsIndirectCause": "indirect cause",
                      "UnsafeConditionsManagementControl": "management control",
                      "UnsafeConditionsNotes": "additional notes",
                      "FuturePreventionString": "future prevention measures",
                      "PreventiveMeasuresNotes": "additional notes",
                      "AssigneeCode": "employee-code-07",
                      "TargetCompletionDate": "2024-08-19T00:00:00Z",
                      "CompletionDate": "2024-08-19T00:00:00Z",
                      "PreventiveAccountabilityNotes": "additional notes"
                    }
                  }
                ],
                "Attachments": [
                  {
                    "AttachmentUrl": "https://attachments.hcssapps.com/injury-photo.png",
                    "Name": "injury photo",
                    "MimeType": "image/png"
                  }
                ],
                "FieldAttachments": [
                  {
                    "AttachmentUrl": "https://attachments.hcssapps.com/injury-photo.png",
                    "Name": "injury photo",
                    "MimeType": "image/png"
                  }
                ],
                "MinersInvolved": [
                  {
                    "MinerCode": "minor-code-01",
                    "JobTitle": "Contractor",
                    "ExperienceJobTitle": "5",
                    "ExperienceJobTitleMeasure": "years",
                    "ExperienceMine": "2",
                    "ExperienceMineMeasure": "months",
                    "ExperienceTotalMining": "7",
                    "ExperienceTotalMiningMeasure": "years"
                  }
                ],
                "Address": {
                  "Address1": "123 New Streat",
                  "Address2": null,
                  "City": "Houston",
                  "State": "TX",
                  "ZipCode": "77042",
                  "Country": "US"
                },
                "CreatedDateUtc": "2024-08-12T19:29:55.4074409Z",
                "LastModifiedUtc": "2024-08-12T19:29:55.4074409Z",
                "BusinessUnitDescription": "BU-123 description",
                "ReportingStatus": "ReportedToThirdPartyCarrier",
                "InsuranceCompanyName": "Allstate",
                "InsuranceClaimTypes": [
                  "claim type 1"
                ],
                "ClaimNumber": "111111",
                "Adjuster": "FirstName LastName",
                "AdjusterEmail": "adjuster@company.com",
                "AdjusterPhone": "555-111-9999",
                "AdjusterNotes": "adjuster notes",
                "DateInvestigationBegan": "2024-08-13T19:29:55.4074409Z",
                "ID": "ad91e09b-d5b5-45b5-a2a1-85ba4d4637d4",
                "CaseNumber": "injury-1234",
                "Description": "Employee injured on-site",
                "Notes": "Additional notes",
                "FieldNotes": "Notes from Field Employees",
                "JobCode": "construction-job-123",
                "BusinessUnitCode": "BU-123",
                "LocationDescription": "job site",
                "ReportedDateUtc": "2024-08-12T19:29:55.4074409Z",
                "RecorderCode": "employee-code-01",
                "PersonInChargeCode": "employee-code-02",
                "IncidentDateUtc": "2024-08-12T18:29:55.4074409Z",
                "Status": "Reported",
                "Latitude": 29.76,
                "Longitude": 95.37,
                "Weather": "Overcast",
                "PersonMostFamiliarCode": "employee-code-03",
                "RecordedEmail": "employee01@company.com",
                "RecordedPhoneNumber": "555-111-1111",
                "PersonInChargeEmail": "employee02@company.com",
                "PersonInChargePhoneNumber": "555-111-2222",
                "PersonMostFamiliarEmail": "employee03@company.com",
                "PersonMostFamiliarPhoneNumber": "555-111-3333",
                "EstimatedCost": 1000,
                "ActualCost": 1100,
                "IsMSHAInvestigation": true,
                "Individuals": "employee-code-01;employee-code-02;employee-code-03",
                "SiteDescription": "Work site description",
                "AccidentInjuryExplanation": "Employee injured left arm while working on XYZ",
                "StepsToPreventFutureOccurrences": "Hazard control steps will be attached to equipment"
              }
            }
          },
          "400": {
            "description": "Bad Request. This typically means one or more request validation errors occurred.\nCheck the response body for details.\nFor more help troubleshooting, please see https://dev-developer.hcssapps.com/getting-started/troubleshoot-bad-request"
          }
        }
      },
      "put": {
        "tags": [
          "Incidents"
        ],
        "summary": "Updates an existing incident case by ID",
        "description": "Updates an existing incident by ID. If the incident does not already exist,\r\nthis call will return an error. \r\n\r\nFor help with authorization, please visit https://developer.hcssapps.com/getting-started/request-tokens",
        "operationId": "Incidents_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The incident ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "incident",
            "in": "body",
            "description": "The incident you want to modify",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiIncidentUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Incident saved successfully",
            "schema": {
              "$ref": "#/definitions/ApiIncidentDetailsV1"
            },
            "examples": {
              "application/json": {
                "EmployeeInjuries": [
                  {
                    "EmployeeCode": "employee-code-04",
                    "Address": {
                      "Address1": "456 Old Street",
                      "Address2": null,
                      "City": "Houston",
                      "State": "TX",
                      "ZipCode": "77042",
                      "Country": "US"
                    },
                    "Phone": "555-111-4444",
                    "Email": "employee04@company.com",
                    "JobTitle": "Contractor",
                    "DateOfHire": "2024-08-12T19:29:55.8449429Z",
                    "YearsWithCompanyString": "1",
                    "YearsInConstructionString": "3",
                    "DescriptionOfInjury": "Minor cut on left arm",
                    "TimeStartedWork": "2024-08-12T08:00:00Z",
                    "ActivityAtTime": "Working on XYZ",
                    "InjuryClassificationString": "illness/injury classification",
                    "NatureOfInjuryCategoryString": "nature of injury category",
                    "NatureOfInjuryTypeString": "nature of injury type",
                    "IncidentCauseCategoryString": "incident cause category",
                    "IncidentCauseTypeString": "incident cause type",
                    "InjuredBodyPartCategoryString": "Limb",
                    "InjuredBodyPartTypeString": "Arm",
                    "InjuredSideString": "Left",
                    "DrugAlcoholTest": true,
                    "DrugAlcoholTestFacility": "Test Facility, MD",
                    "FirstAidMedOnly": true,
                    "FirstAidMedOnlyProvidedBy": "employee-code-05",
                    "TreatedAwayFromWorkSite": false,
                    "TreatedAwayFromWorkSiteProvidedBy": "provider",
                    "TreatedInAnEmergencyRoom": false,
                    "HospitalizedOvernightInpatient": false,
                    "MedicalFacility": "medical facility (if treated at one)",
                    "PhysicianHealthCareProvider": "provider",
                    "IsRecordable": true,
                    "ExcludeNameFromOSHAReport": false,
                    "SummarizedDescriptionForOSHA": "summarized description",
                    "ClassificationString": "injury classification",
                    "DateOfDeath": "0001-01-01T00:00:00",
                    "DaysAwayFromWork": {
                      "FirstDay": "2024-08-13T00:00:00Z",
                      "LastDay": "2024-08-15T00:00:00Z",
                      "IncludeWeekends": true,
                      "DaysAway": 3
                    },
                    "DaysOnJobTransfer": {
                      "FirstDay": "2024-08-13T00:00:00Z",
                      "LastDay": "2024-08-15T00:00:00Z",
                      "IncludeWeekends": true,
                      "DaysAway": 3
                    },
                    "Notes": "Additional injury notes",
                    "Attachments": [
                      {
                        "AttachmentUrl": "https://attachments.hcssapps.com/injury-photo.png",
                        "Name": "injury photo",
                        "MimeType": "image/png"
                      }
                    ],
                    "RootCause": {
                      "isRootCause": true,
                      "ProbableRecurrenceString": "Low/Medium/High",
                      "PotentialExposureString": "Low/Medium/High",
                      "LossSeverityPotentialString": "Low/Medium/High",
                      "LossPotentialNotes": "additional notes",
                      "EmployeeReceivedSafetyTrainingString": "True",
                      "EmployeeNeedsSafetyTrainingString": "True",
                      "OtherEmployeeNeedSafetyTrainingString": "True",
                      "PersonResponsibleCode": "employee-code-06",
                      "TrainingNotes": "training notes",
                      "UnsafeActsDirectCause": "direct cause",
                      "UnsafeActsIndirectCause": "indirect cause",
                      "UnsafeActsManagementControl": "management control",
                      "UnsafeActsNotes": "additional notes",
                      "UnsafeConditionsDirectCause": "direct cause",
                      "UnsafeConditionsIndirectCause": "indirect cause",
                      "UnsafeConditionsManagementControl": "management control",
                      "UnsafeConditionsNotes": "additional notes",
                      "FuturePreventionString": "future prevention measures",
                      "PreventiveMeasuresNotes": "additional notes",
                      "AssigneeCode": "employee-code-07",
                      "TargetCompletionDate": "2024-08-19T00:00:00Z",
                      "CompletionDate": "2024-08-19T00:00:00Z",
                      "PreventiveAccountabilityNotes": "additional notes"
                    }
                  }
                ],
                "Attachments": [
                  {
                    "AttachmentUrl": "https://attachments.hcssapps.com/injury-photo.png",
                    "Name": "injury photo",
                    "MimeType": "image/png"
                  }
                ],
                "FieldAttachments": [
                  {
                    "AttachmentUrl": "https://attachments.hcssapps.com/injury-photo.png",
                    "Name": "injury photo",
                    "MimeType": "image/png"
                  }
                ],
                "MinersInvolved": [
                  {
                    "MinerCode": "minor-code-01",
                    "JobTitle": "Contractor",
                    "ExperienceJobTitle": "5",
                    "ExperienceJobTitleMeasure": "years",
                    "ExperienceMine": "2",
                    "ExperienceMineMeasure": "months",
                    "ExperienceTotalMining": "7",
                    "ExperienceTotalMiningMeasure": "years"
                  }
                ],
                "Address": {
                  "Address1": "123 New Streat",
                  "Address2": null,
                  "City": "Houston",
                  "State": "TX",
                  "ZipCode": "77042",
                  "Country": "US"
                },
                "CreatedDateUtc": "2024-08-12T19:29:55.7511905Z",
                "LastModifiedUtc": "2024-08-12T19:29:55.7511905Z",
                "BusinessUnitDescription": "BU-123 description",
                "ReportingStatus": "ReportedToThirdPartyCarrier",
                "InsuranceCompanyName": "Allstate",
                "InsuranceClaimTypes": [
                  "claim type 1"
                ],
                "ClaimNumber": "111111",
                "Adjuster": "FirstName LastName",
                "AdjusterEmail": "adjuster@company.com",
                "AdjusterPhone": "555-111-9999",
                "AdjusterNotes": "adjuster notes",
                "DateInvestigationBegan": "2024-08-13T19:29:55.7511905Z",
                "ID": "2b55ba2b-f58a-45a0-9e7a-eac3cebbfcb2",
                "CaseNumber": "injury-1234",
                "Description": "Employee injured on-site",
                "Notes": "Additional notes",
                "FieldNotes": "Notes from Field Employees",
                "JobCode": "construction-job-123",
                "BusinessUnitCode": "BU-123",
                "LocationDescription": "job site",
                "ReportedDateUtc": "2024-08-12T19:29:55.7511905Z",
                "RecorderCode": "employee-code-01",
                "PersonInChargeCode": "employee-code-02",
                "IncidentDateUtc": "2024-08-12T18:29:55.7511905Z",
                "Status": "Reported",
                "Latitude": 29.76,
                "Longitude": 95.37,
                "Weather": "Overcast",
                "PersonMostFamiliarCode": "employee-code-03",
                "RecordedEmail": "employee01@company.com",
                "RecordedPhoneNumber": "555-111-1111",
                "PersonInChargeEmail": "employee02@company.com",
                "PersonInChargePhoneNumber": "555-111-2222",
                "PersonMostFamiliarEmail": "employee03@company.com",
                "PersonMostFamiliarPhoneNumber": "555-111-3333",
                "EstimatedCost": 1000,
                "ActualCost": 1100,
                "IsMSHAInvestigation": true,
                "Individuals": "employee-code-01;employee-code-02;employee-code-03",
                "SiteDescription": "Work site description",
                "AccidentInjuryExplanation": "Employee injured left arm while working on XYZ",
                "StepsToPreventFutureOccurrences": "Hazard control steps will be attached to equipment"
              }
            }
          },
          "400": {
            "description": "Bad Request. This typically means one or more request validation errors occurred.\nCheck the response body for details.\nFor more help troubleshooting, please see https://dev-developer.hcssapps.com/getting-started/troubleshoot-bad-request"
          }
        }
      }
    },
    "/v1/incidents": {
      "get": {
        "tags": [
          "Incidents"
        ],
        "summary": "Gets a list of incident cases.",
        "description": "Gets a list of incident cases.\r\n\r\nA response header called \"Pagination-MorePagesAvailable\" will be sent in the response with a value of \"yes\" or \"no\", indicating whether more pages are available after\r\nthis one.  That is, if the header value is \"yes\", the client should request the next page.\r\n\r\nFor help with authorization, please visit https://developer.hcssapps.com/getting-started/request-tokens",
        "operationId": "Incidents_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "modifiedAfterUtc",
            "in": "query",
            "description": "Limits the results to incidents that have been updated or created after the specified UTC time.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "createdAfterUtc",
            "in": "query",
            "description": "Limits the results to incidents that have been created after the specified UTC time.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "incidentDateAfterUtc",
            "in": "query",
            "description": "Limits the results to incidents that have an incident date after the specified UTC time.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "incidentDateBeforeUtc",
            "in": "query",
            "description": "Limits the results to incidents that have an incident date before the specified UTC time.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results returned.  Default 1000.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The page offset.  The response header \"Pagination-MorePagesAvailable\" indicates whether the call should be made again with an incremented offset.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Incidents queried successfully",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApiIncident"
              }
            },
            "examples": {
              "application/json": [
                {
                  "CreatedDateUtc": "2024-08-12T19:29:55.8605641Z",
                  "LastModifiedUtc": "2024-08-12T19:29:55.8605641Z",
                  "BusinessUnitDescription": "BU-123 description",
                  "ReportingStatus": "ReportedToThirdPartyCarrier",
                  "InsuranceCompanyName": "Allstate",
                  "InsuranceClaimTypes": [
                    "claim type 1"
                  ],
                  "ClaimNumber": "111111",
                  "Adjuster": "FirstName LastName",
                  "AdjusterEmail": "adjuster@company.com",
                  "AdjusterPhone": "555-111-9999",
                  "AdjusterNotes": "adjuster notes",
                  "DateInvestigationBegan": "2024-08-13T19:29:55.8605641Z",
                  "ID": "4ba9ed56-2e28-4be3-add2-88e3ba00131f",
                  "CaseNumber": "injury-1234",
                  "Description": "Employee injured on-site",
                  "Notes": "Additional notes",
                  "FieldNotes": "Notes from Field Employees",
                  "JobCode": "construction-job-123",
                  "BusinessUnitCode": "BU-123",
                  "LocationDescription": "job site",
                  "ReportedDateUtc": "2024-08-12T19:29:55.8605641Z",
                  "RecorderCode": "employee-code-01",
                  "PersonInChargeCode": "employee-code-02",
                  "IncidentDateUtc": "2024-08-12T18:29:55.8605641Z",
                  "Status": "Reported",
                  "Latitude": 29.76,
                  "Longitude": 95.37,
                  "Weather": "Overcast",
                  "PersonMostFamiliarCode": "employee-code-03",
                  "RecordedEmail": "employee01@company.com",
                  "RecordedPhoneNumber": "555-111-1111",
                  "PersonInChargeEmail": "employee02@company.com",
                  "PersonInChargePhoneNumber": "555-111-2222",
                  "PersonMostFamiliarEmail": "employee03@company.com",
                  "PersonMostFamiliarPhoneNumber": "555-111-3333",
                  "EstimatedCost": 1000,
                  "ActualCost": 1100,
                  "IsMSHAInvestigation": true,
                  "Individuals": "employee-code-01;employee-code-02;employee-code-03",
                  "SiteDescription": "Work site description",
                  "AccidentInjuryExplanation": "Employee injured left arm while working on XYZ",
                  "StepsToPreventFutureOccurrences": "Hazard control steps will be attached to equipment"
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request. This typically means one or more request validation errors occurred.\nCheck the response body for details.\nFor more help troubleshooting, please see https://dev-developer.hcssapps.com/getting-started/troubleshoot-bad-request"
          }
        }
      }
    },
    "/v2/incidents/{id}": {
      "get": {
        "tags": [
          "IncidentsV2"
        ],
        "summary": "Gets a single incident case by ID.",
        "description": "Gets a single incident case by ID.\r\n\r\nFor help with authorization, please visit https://developer.hcssapps.com/getting-started/request-tokens",
        "operationId": "IncidentsV_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "excludeForms",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Incident found",
            "schema": {
              "$ref": "#/definitions/ApiIncidentDetailsV2"
            },
            "examples": {
              "application/json": {
                "IncidentForms": [
                  {
                    "FormName": "Vehicle",
                    "Sections": [
                      {
                        "Section": "Owner Information",
                        "Questions": [
                          {
                            "Question": "Name",
                            "Answer": "FirstName LastName",
                            "Attachments": [],
                            "Passengers": [],
                            "Address": null,
                            "OtherVehicles": null,
                            "OtherPassengers": null,
                            "Items": null,
                            "DaysInterval": null
                          }
                        ]
                      },
                      {
                        "Section": "Attachments",
                        "Questions": [
                          {
                            "Question": "Attachments",
                            "Answer": "",
                            "Attachments": [
                              {
                                "AttachmentUrl": "https://attachments.hcssapps.com/attachment.png",
                                "Name": "attachment",
                                "MimeType": "image/png"
                              }
                            ],
                            "Passengers": [],
                            "Address": null,
                            "OtherVehicles": null,
                            "OtherPassengers": null,
                            "Items": null,
                            "DaysInterval": null
                          }
                        ]
                      },
                      {
                        "Section": "Passenger Information",
                        "Questions": [
                          {
                            "Question": "Passenger Information",
                            "Answer": "",
                            "Attachments": [],
                            "Passengers": [
                              {
                                "Name": "FirstName LastName",
                                "Address": "123 New Street",
                                "Address2": null,
                                "City": "Houston",
                                "State": "TX",
                                "ZipCode": "77042",
                                "Country": "US",
                                "MobilePhone": "555-111-4444",
                                "HomePhone": "555-111-4444"
                              }
                            ],
                            "Address": null,
                            "OtherVehicles": null,
                            "OtherPassengers": null,
                            "Items": null,
                            "DaysInterval": null
                          }
                        ]
                      },
                      {
                        "Section": "Other Vehicle Information",
                        "Questions": [
                          {
                            "Question": "Other Vehicle Information",
                            "Answer": "",
                            "Attachments": [],
                            "Passengers": [],
                            "Address": null,
                            "OtherVehicles": [
                              {
                                "DriverName": "FirstName LastName",
                                "Make": "Honda",
                                "Model": "Civic",
                                "Year": "2018",
                                "LicensePlate": "SAM123",
                                "VinNumber": "19XFC1048W9110023",
                                "State": "TX",
                                "Carrier": "Allstate",
                                "PolicyNumber": "0123456789"
                              }
                            ],
                            "OtherPassengers": null,
                            "Items": null,
                            "DaysInterval": null
                          }
                        ]
                      },
                      {
                        "Section": "Other Passenger Information",
                        "Questions": [
                          {
                            "Question": "Other Passenger Information",
                            "Answer": "",
                            "Attachments": [],
                            "Passengers": [],
                            "Address": null,
                            "OtherVehicles": null,
                            "OtherPassengers": [
                              {
                                "Vehicle": "Other Vehicle 1",
                                "Name": "FirstName LastName",
                                "MobilePhone": "555-111-4444",
                                "HomePhone": "555-111-4444",
                                "Address1": "123 Old Street",
                                "Address2": null,
                                "City": "Houston",
                                "State": "TX",
                                "Zip": "77042",
                                "Country": "US"
                              }
                            ],
                            "Items": null,
                            "DaysInterval": null
                          }
                        ]
                      },
                      {
                        "Section": "Item Information",
                        "Questions": [
                          {
                            "Question": "Item Information",
                            "Answer": "",
                            "Attachments": [],
                            "Passengers": [],
                            "Address": null,
                            "OtherVehicles": null,
                            "OtherPassengers": null,
                            "Items": [
                              {
                                "ItemDescription": "Drill",
                                "EstimatedValue": "123"
                              }
                            ],
                            "DaysInterval": null
                          }
                        ]
                      },
                      {
                        "Section": "Classification",
                        "Questions": [
                          {
                            "Question": "Days Away From Work",
                            "Answer": "",
                            "Attachments": [],
                            "Passengers": [],
                            "Address": null,
                            "OtherVehicles": null,
                            "OtherPassengers": null,
                            "Items": null,
                            "DaysInterval": {
                              "FirstDay": "1/11/24",
                              "LastDay": "1/24/24",
                              "DaysAway": 14,
                              "IncludeWeekends": true
                            }
                          }
                        ]
                      }
                    ]
                  }
                ],
                "Attachments": [
                  {
                    "AttachmentUrl": "https://attachments.hcssapps.com/injury-photo.png",
                    "Name": "injury photo",
                    "MimeType": "image/png"
                  }
                ],
                "FieldAttachments": [
                  {
                    "AttachmentUrl": "https://attachments.hcssapps.com/injury-photo.png",
                    "Name": "injury photo",
                    "MimeType": "image/png"
                  }
                ],
                "MinersInvolved": [
                  {
                    "MinerCode": "minor-code-01",
                    "JobTitle": "Contractor",
                    "ExperienceJobTitle": "5",
                    "ExperienceJobTitleMeasure": "years",
                    "ExperienceMine": "2",
                    "ExperienceMineMeasure": "months",
                    "ExperienceTotalMining": "7",
                    "ExperienceTotalMiningMeasure": "years"
                  }
                ],
                "Address": {
                  "Address1": "123 New Streat",
                  "Address2": null,
                  "City": "Houston",
                  "State": "TX",
                  "ZipCode": "77042",
                  "Country": "US"
                },
                "CreatedDateUtc": "2024-08-12T19:29:55.9230669Z",
                "LastModifiedUtc": "2024-08-12T19:29:55.9230669Z",
                "BusinessUnitDescription": "BU-123 description",
                "ReportingStatus": "ReportedToThirdPartyCarrier",
                "InsuranceCompanyName": "Allstate",
                "InsuranceClaimTypes": [
                  "claim type 1"
                ],
                "ClaimNumber": "111111",
                "Adjuster": "FirstName LastName",
                "AdjusterEmail": "adjuster@company.com",
                "AdjusterPhone": "555-111-9999",
                "AdjusterNotes": "adjuster notes",
                "DateInvestigationBegan": "2024-08-13T19:29:55.9230669Z",
                "ID": "3ed9a85d-c800-427b-912d-7272045185df",
                "CaseNumber": "injury-1234",
                "Description": "Employee injured on-site",
                "Notes": "Additional notes",
                "FieldNotes": "Notes from Field Employees",
                "JobCode": "construction-job-123",
                "BusinessUnitCode": "BU-123",
                "LocationDescription": "job site",
                "ReportedDateUtc": "2024-08-12T19:29:55.9230669Z",
                "RecorderCode": "employee-code-01",
                "PersonInChargeCode": "employee-code-02",
                "IncidentDateUtc": "2024-08-12T18:29:55.9230669Z",
                "Status": "Reported",
                "Latitude": 29.76,
                "Longitude": 95.37,
                "Weather": "Overcast",
                "PersonMostFamiliarCode": "employee-code-03",
                "RecordedEmail": "employee01@company.com",
                "RecordedPhoneNumber": "555-111-1111",
                "PersonInChargeEmail": "employee02@company.com",
                "PersonInChargePhoneNumber": "555-111-2222",
                "PersonMostFamiliarEmail": "employee03@company.com",
                "PersonMostFamiliarPhoneNumber": "555-111-3333",
                "EstimatedCost": 1000,
                "ActualCost": 1100,
                "IsMSHAInvestigation": true,
                "Individuals": "employee-code-01;employee-code-02;employee-code-03",
                "SiteDescription": "Work site description",
                "AccidentInjuryExplanation": "Employee injured left arm while working on XYZ",
                "StepsToPreventFutureOccurrences": "Hazard control steps will be attached to equipment"
              }
            }
          },
          "400": {
            "description": "Bad Request. This typically means one or more request validation errors occurred.\nCheck the response body for details.\nFor more help troubleshooting, please see https://dev-developer.hcssapps.com/getting-started/troubleshoot-bad-request"
          }
        }
      }
    },
    "/v1/meetings": {
      "get": {
        "tags": [
          "Meetings"
        ],
        "summary": "Gets a list of recorded meetings",
        "description": "Gets a list of recorded meetings.\r\n\r\nFor help with authorization, please visit https://developer.hcssapps.com/getting-started/request-tokens",
        "operationId": "Meetings_GetMeetings",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "description": "Filters by job ID",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "recorderId",
            "in": "query",
            "description": "Filters by employee ID",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "businessUnitId",
            "in": "query",
            "description": "Filters by business unit ID",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "employeeId",
            "in": "query",
            "description": "Filters for meetings in which this employee is listed as an attendee",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Filters for meetings occurring on or after this date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Filters for meetings occurring on or before this date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skips the first X entries",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "take",
            "in": "query",
            "description": "Limits to X entries",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Meetings queried successfully",
            "schema": {
              "$ref": "#/definitions/GetMeetingsResponse"
            },
            "examples": {
              "application/json": {
                "Meetings": [
                  {
                    "Id": "be6ec966-433a-43d2-8285-f640732a165a",
                    "MeetingDate": "2024-08-12T19:29:56.0324407Z",
                    "JobId": "9c8713ce-ecaf-43d8-888c-483af578107d",
                    "JobCode": "road-construction-123",
                    "RecorderId": "ae9d83bd-64a3-455f-8927-e9dab27209cd",
                    "RecorderCode": "EMP-123",
                    "DurationMinutes": 60,
                    "Type": "Weekly check-in",
                    "Notes": "Additional notes",
                    "Topics": [
                      {
                        "TopicName": "Projected timeline",
                        "Subtopics": [
                          "Subtopic 1",
                          "Subtopic 2"
                        ]
                      }
                    ],
                    "Attachments": [
                      "http://attachments.hcssapps.com/road-work-progress.png",
                      "http://attachments.hcssapps.com/meeting-notes.pdf"
                    ],
                    "Employees": [
                      {
                        "FirstName": "Joseph",
                        "LastName": "Joestar",
                        "EmployeeCode": "EMP-01",
                        "OnSite": true,
                        "Attended": true
                      }
                    ],
                    "Visitors": [
                      {
                        "Name": "Jotaro Kujo",
                        "Note": "Client manager",
                        "OnSite": true,
                        "Attended": true
                      }
                    ]
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request. This typically means one or more request validation errors occurred.\nCheck the response body for details.\nFor more help troubleshooting, please see https://dev-developer.hcssapps.com/getting-started/troubleshoot-bad-request"
          }
        }
      }
    }
  },
  "definitions": {
    "ApiIncidentDetailsV1": {
      "description": "Incident details",
      "required": [
        "ID",
        "Description",
        "Notes",
        "FieldNotes",
        "JobCode",
        "LocationDescription",
        "ReportedDateUtc",
        "RecorderCode",
        "PersonInChargeCode",
        "IncidentDateUtc"
      ],
      "type": "object",
      "properties": {
        "EmployeeInjuries": {
          "description": "Detailed list of all employee injuries in this incident",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiEmployeeInjury"
          }
        },
        "Attachments": {
          "description": "List of Incident attachments",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiAttachment"
          }
        },
        "FieldAttachments": {
          "description": "List of Incident Field attachments",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiAttachment"
          }
        },
        "MinersInvolved": {
          "description": "Miners involved during the investigation",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiMiners"
          }
        },
        "Address": {
          "$ref": "#/definitions/ApiAddress",
          "description": "The incident location address"
        },
        "CreatedDateUtc": {
          "format": "date-time",
          "description": "The UTC date and time the incident record was created. This value cannot be changed, any edits to this field will be ignored.",
          "type": "string"
        },
        "LastModifiedUtc": {
          "format": "date-time",
          "description": "The UTC date and time of the last modification to the incident. This value is generated automatically, any edits to this field will be ignored.",
          "type": "string"
        },
        "BusinessUnitDescription": {
          "description": "The description for the business unit associated with this incident. This value cannot be changed, edits to this value will trigger a 400 Bad Request response.",
          "type": "string"
        },
        "ReportingStatus": {
          "description": "Insurance claim reporting status for this incident",
          "enum": [
            "None",
            "InHouse",
            "ReportedToCarrier",
            "ReportedToThirdPartyCarrier"
          ],
          "type": "string"
        },
        "InsuranceCompanyName": {
          "description": "Insurance claim company name for this incident",
          "type": "string"
        },
        "InsuranceClaimTypes": {
          "description": "Insurance claims for this incident",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ClaimNumber": {
          "description": "Insurance claim number for this incident",
          "type": "string"
        },
        "Adjuster": {
          "description": "Adjuster for this incident",
          "type": "string"
        },
        "AdjusterEmail": {
          "description": "Adjuster email for this incident",
          "type": "string"
        },
        "AdjusterPhone": {
          "description": "Adjuster phone for this incident",
          "type": "string"
        },
        "AdjusterNotes": {
          "description": "Adjuster notes for this incident",
          "type": "string"
        },
        "DateInvestigationBegan": {
          "format": "date-time",
          "description": "Date the MSHA Investigation Began",
          "type": "string"
        },
        "ID": {
          "format": "uuid",
          "description": "The HCSS unique identifier for the incident.",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CaseNumber": {
          "description": "The user-entered unique identifier for the incident. Must be unique within each company.",
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        },
        "Description": {
          "description": "Description of the incident",
          "maxLength": 2000,
          "minLength": 0,
          "type": "string"
        },
        "Notes": {
          "description": "Notes about this incident",
          "type": "string"
        },
        "FieldNotes": {
          "description": "Field Notes about this incident",
          "type": "string"
        },
        "JobCode": {
          "description": "The code for the job where the incident occurred",
          "type": "string"
        },
        "BusinessUnitCode": {
          "description": "The code for the business unit associated with this incident. This value cannot be changed, edits to this value will trigger a 400 Bad Request response.",
          "type": "string"
        },
        "LocationDescription": {
          "description": "A description of the location where the incident occurred",
          "maxLength": 2000,
          "minLength": 0,
          "type": "string"
        },
        "ReportedDateUtc": {
          "format": "date-time",
          "description": "The UTC date and time when the incident was reported",
          "type": "string"
        },
        "RecorderCode": {
          "description": "The employee code of the person who recorded the incident",
          "type": "string"
        },
        "PersonInChargeCode": {
          "description": "The employee code of the employee in charge when the incident occurred",
          "type": "string"
        },
        "IncidentDateUtc": {
          "format": "date-time",
          "description": "The UTC date and time when the incident occurred",
          "type": "string"
        },
        "Status": {
          "description": "Incident Status for this incident. \r\nOptions: 'Open', 'Received', or 'Completed'.",
          "type": "string"
        },
        "Latitude": {
          "format": "double",
          "description": "The incident location latitude",
          "maximum": 90,
          "minimum": -90,
          "type": "number"
        },
        "Longitude": {
          "format": "double",
          "description": "The incident location longitude",
          "maximum": 180,
          "minimum": -180,
          "type": "number"
        },
        "Weather": {
          "description": "Weather conditions at the time of the incident",
          "maxLength": 500,
          "minLength": 0,
          "type": "string"
        },
        "PersonMostFamiliarCode": {
          "description": "The employee code for the person most familiar with the incident",
          "type": "string"
        },
        "RecordedEmail": {
          "description": "Email of the person who recorded the incident",
          "type": "string"
        },
        "RecordedPhoneNumber": {
          "description": "Phone Number of the person who recorded the incident",
          "type": "string"
        },
        "PersonInChargeEmail": {
          "description": "Email of the person in charge when the incident occurred",
          "type": "string"
        },
        "PersonInChargePhoneNumber": {
          "description": "Phone Number of the person in charge when the incident occurred",
          "type": "string"
        },
        "PersonMostFamiliarEmail": {
          "description": "Email of the person most familiar with the incident",
          "type": "string"
        },
        "PersonMostFamiliarPhoneNumber": {
          "description": "Phone Number of the person most familiar with the incident",
          "type": "string"
        },
        "EstimatedCost": {
          "format": "double",
          "description": "Estimated cost of this incident",
          "type": "number"
        },
        "ActualCost": {
          "format": "double",
          "description": "Actual cost of this incident",
          "type": "number"
        },
        "IsMSHAInvestigation": {
          "description": "Did the incident required a MSHA Investigation",
          "type": "boolean"
        },
        "Individuals": {
          "description": "Individuals list for MSHA Investigation. Separated by semi-colon (;)",
          "type": "string"
        },
        "SiteDescription": {
          "description": "Site description",
          "type": "string"
        },
        "AccidentInjuryExplanation": {
          "description": "Accident/Injury Explanation",
          "type": "string"
        },
        "StepsToPreventFutureOccurrences": {
          "description": "Steps to Prevent Future Occurrences",
          "type": "string"
        }
      }
    },
    "ApiEmployeeInjury": {
      "description": "Employee injury form.\r\nThis is based on the Employee Injury Form Revision 10 (06-09-2019)",
      "type": "object",
      "properties": {
        "EmployeeCode": {
          "description": "The employee code for the injured employee",
          "type": "string"
        },
        "Address": {
          "$ref": "#/definitions/ApiAddress",
          "description": "Address for the injured employee"
        },
        "Phone": {
          "description": "Phone for the injured employee",
          "type": "string"
        },
        "Email": {
          "description": "Email for the injured employee",
          "type": "string"
        },
        "JobTitle": {
          "description": "Job Title for the injured employee",
          "type": "string"
        },
        "DateOfHire": {
          "format": "date-time",
          "description": "Date of hire for the injured employee",
          "type": "string"
        },
        "YearsWithCompanyString": {
          "description": "Years with the company for the injured employee",
          "type": "string"
        },
        "YearsInConstructionString": {
          "description": "Years in construction for the injured employee",
          "type": "string"
        },
        "DescriptionOfInjury": {
          "description": "Description of the injury",
          "type": "string"
        },
        "TimeStartedWork": {
          "format": "date-time",
          "description": "Time the employee started to work",
          "type": "string"
        },
        "ActivityAtTime": {
          "description": "Activity at the time of the injury",
          "type": "string"
        },
        "InjuryClassificationString": {
          "description": "Injury/Illness Classification",
          "type": "string"
        },
        "NatureOfInjuryCategoryString": {
          "description": "Nature of the injury category",
          "type": "string"
        },
        "NatureOfInjuryTypeString": {
          "description": "Nature of the injury type",
          "type": "string"
        },
        "IncidentCauseCategoryString": {
          "description": "incident cause of the injury category",
          "type": "string"
        },
        "IncidentCauseTypeString": {
          "description": "incident cause of the injury type",
          "type": "string"
        },
        "InjuredBodyPartCategoryString": {
          "description": "Injured body of the employee category",
          "type": "string"
        },
        "InjuredBodyPartTypeString": {
          "description": "Injured body of the employee type",
          "type": "string"
        },
        "InjuredSideString": {
          "description": "Injured Side",
          "type": "string"
        },
        "DrugAlcoholTest": {
          "description": "Did the treatment had a drug/alcohol test",
          "type": "boolean"
        },
        "DrugAlcoholTestFacility": {
          "description": "Facility the drug/alcohol test was made",
          "type": "string"
        },
        "FirstAidMedOnly": {
          "description": "Did it required First Aid/Med Only",
          "type": "boolean"
        },
        "FirstAidMedOnlyProvidedBy": {
          "description": "Who provided First Aid/Med Only",
          "type": "string"
        },
        "TreatedAwayFromWorkSite": {
          "description": "Did it required to be treated away from work site",
          "type": "boolean"
        },
        "TreatedAwayFromWorkSiteProvidedBy": {
          "description": "Who treated the injury away from work site",
          "type": "string"
        },
        "TreatedInAnEmergencyRoom": {
          "description": "If it was treated in an emergency room",
          "type": "boolean"
        },
        "HospitalizedOvernightInpatient": {
          "description": "If it was hospitalized overnight",
          "type": "boolean"
        },
        "MedicalFacility": {
          "description": "Medical Facility",
          "type": "string"
        },
        "PhysicianHealthCareProvider": {
          "description": "Physician Health Care Provider",
          "type": "string"
        },
        "IsRecordable": {
          "description": "Is the injury recordable for OSHA",
          "type": "boolean"
        },
        "ExcludeNameFromOSHAReport": {
          "description": "Exclude Name from OSHA report",
          "type": "boolean"
        },
        "SummarizedDescriptionForOSHA": {
          "description": "Description for OSHA reports",
          "type": "string"
        },
        "ClassificationString": {
          "description": "Classification of Injury",
          "type": "string"
        },
        "DateOfDeath": {
          "format": "date-time",
          "description": "Date the employee died",
          "type": "string"
        },
        "DaysAwayFromWork": {
          "$ref": "#/definitions/ApiDaysAway",
          "description": "Days the employee was away from work"
        },
        "DaysOnJobTransfer": {
          "$ref": "#/definitions/ApiDaysAway",
          "description": "Days the employee was on job transfer"
        },
        "Notes": {
          "description": "Employee Injury notes",
          "type": "string"
        },
        "Attachments": {
          "description": "List of employee injury Attachments",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiAttachment"
          }
        },
        "RootCause": {
          "$ref": "#/definitions/ApiRootCause",
          "description": "Root Cause properties for the form"
        }
      }
    },
    "ApiAttachment": {
      "description": "Attachment information",
      "required": [
        "AttachmentUrl",
        "Name",
        "MimeType"
      ],
      "type": "object",
      "properties": {
        "AttachmentUrl": {
          "description": "Url of the attachment",
          "type": "string"
        },
        "Name": {
          "description": "Display name of the attachment",
          "type": "string"
        },
        "MimeType": {
          "description": "MimeType examples: application/pdf image/png image/jpeg",
          "type": "string"
        }
      }
    },
    "ApiMiners": {
      "description": "Incident miner",
      "type": "object",
      "properties": {
        "MinerCode": {
          "description": "Employee Code for the miner",
          "type": "string"
        },
        "JobTitle": {
          "description": "Miner's Job Title",
          "type": "string"
        },
        "ExperienceJobTitle": {
          "description": "Number of years/months with this job title",
          "type": "string"
        },
        "ExperienceJobTitleMeasure": {
          "description": "Measurement in years or months for the job title",
          "type": "string"
        },
        "ExperienceMine": {
          "description": "Number of years/months with this mine",
          "type": "string"
        },
        "ExperienceMineMeasure": {
          "description": "Measurement in years or months for this mine",
          "type": "string"
        },
        "ExperienceTotalMining": {
          "description": "Number of years/months in Total Mining Expirience",
          "type": "string"
        },
        "ExperienceTotalMiningMeasure": {
          "description": "Measurement in years or months in Total Mining Expirience",
          "type": "string"
        }
      }
    },
    "ApiAddress": {
      "type": "object",
      "properties": {
        "Address1": {
          "type": "string"
        },
        "Address2": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "State": {
          "type": "string"
        },
        "ZipCode": {
          "type": "string"
        },
        "Country": {
          "type": "string"
        }
      }
    },
    "ApiDaysAway": {
      "type": "object",
      "properties": {
        "FirstDay": {
          "format": "date-time",
          "type": "string"
        },
        "LastDay": {
          "format": "date-time",
          "type": "string"
        },
        "IncludeWeekends": {
          "type": "boolean"
        },
        "DaysAway": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ApiRootCause": {
      "description": "A POCO representing root cause sections of form\r\nThis is based on the all Forms Revision 10 (06-09-2019)",
      "type": "object",
      "properties": {
        "isRootCause": {
          "description": "Is this root cause form",
          "type": "boolean"
        },
        "ProbableRecurrenceString": {
          "description": "Probable Recurrence",
          "type": "string"
        },
        "PotentialExposureString": {
          "description": "Potential Exposure",
          "type": "string"
        },
        "LossSeverityPotentialString": {
          "description": "Loss Severity Potential",
          "type": "string"
        },
        "LossPotentialNotes": {
          "description": "Loss Potential Notes",
          "type": "string"
        },
        "EmployeeReceivedSafetyTrainingString": {
          "description": "Employee received safety training for the activity before the accident?",
          "type": "string"
        },
        "EmployeeNeedsSafetyTrainingString": {
          "description": "Employee needs safety training/retraining for the activity?",
          "type": "string"
        },
        "OtherEmployeeNeedSafetyTrainingString": {
          "description": "Other employees need safety training/retraining for the activity?",
          "type": "string"
        },
        "PersonResponsibleCode": {
          "description": "Employee Code for Person Responsible",
          "type": "string"
        },
        "TrainingNotes": {
          "description": "Training Notes",
          "type": "string"
        },
        "UnsafeActsDirectCause": {
          "description": "Unsafe Acts Direct Cause",
          "type": "string"
        },
        "UnsafeActsIndirectCause": {
          "description": "Unsafe Acts Indirect Cause",
          "type": "string"
        },
        "UnsafeActsManagementControl": {
          "description": "Unsafe Acts Managment Control",
          "type": "string"
        },
        "UnsafeActsNotes": {
          "description": "Unsafe Acts Notes",
          "type": "string"
        },
        "UnsafeConditionsDirectCause": {
          "description": "Unsafe Conditions Direct Cause",
          "type": "string"
        },
        "UnsafeConditionsIndirectCause": {
          "description": "Unsafe Conditions Indirect Cause",
          "type": "string"
        },
        "UnsafeConditionsManagementControl": {
          "description": "Unsafe Conditions Managment Control",
          "type": "string"
        },
        "UnsafeConditionsNotes": {
          "description": "Unsafe Conditions Notes",
          "type": "string"
        },
        "FuturePreventionString": {
          "description": "Future prevention measures",
          "type": "string"
        },
        "PreventiveMeasuresNotes": {
          "description": "Preventive Measures Notes",
          "type": "string"
        },
        "AssigneeCode": {
          "description": "Employee Code for Preventive Accountability Assignee",
          "type": "string"
        },
        "TargetCompletionDate": {
          "format": "date-time",
          "description": "Target Completion Date",
          "type": "string"
        },
        "CompletionDate": {
          "format": "date-time",
          "description": "Completion Date",
          "type": "string"
        },
        "PreventiveAccountabilityNotes": {
          "description": "Preventive Accountability Notes",
          "type": "string"
        }
      }
    },
    "ApiIncidentUpdate": {
      "description": "Incident details",
      "required": [
        "ID",
        "Description",
        "Notes",
        "FieldNotes",
        "JobCode",
        "LocationDescription",
        "ReportedDateUtc",
        "RecorderCode",
        "PersonInChargeCode",
        "IncidentDateUtc"
      ],
      "type": "object",
      "properties": {
        "Address": {
          "$ref": "#/definitions/ApiAddress",
          "description": "The incident location address"
        },
        "ID": {
          "format": "uuid",
          "description": "The HCSS unique identifier for the incident.",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CaseNumber": {
          "description": "The user-entered unique identifier for the incident. Must be unique within each company.",
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        },
        "Description": {
          "description": "Description of the incident",
          "maxLength": 2000,
          "minLength": 0,
          "type": "string"
        },
        "Notes": {
          "description": "Notes about this incident",
          "type": "string"
        },
        "FieldNotes": {
          "description": "Field Notes about this incident",
          "type": "string"
        },
        "JobCode": {
          "description": "The code for the job where the incident occurred",
          "type": "string"
        },
        "BusinessUnitCode": {
          "description": "The code for the business unit associated with this incident. This value cannot be changed, edits to this value will trigger a 400 Bad Request response.",
          "type": "string"
        },
        "LocationDescription": {
          "description": "A description of the location where the incident occurred",
          "maxLength": 2000,
          "minLength": 0,
          "type": "string"
        },
        "ReportedDateUtc": {
          "format": "date-time",
          "description": "The UTC date and time when the incident was reported",
          "type": "string"
        },
        "RecorderCode": {
          "description": "The employee code of the person who recorded the incident",
          "type": "string"
        },
        "PersonInChargeCode": {
          "description": "The employee code of the employee in charge when the incident occurred",
          "type": "string"
        },
        "IncidentDateUtc": {
          "format": "date-time",
          "description": "The UTC date and time when the incident occurred",
          "type": "string"
        },
        "Status": {
          "description": "Incident Status for this incident. \r\nOptions: 'Open', 'Received', or 'Completed'.",
          "type": "string"
        },
        "Latitude": {
          "format": "double",
          "description": "The incident location latitude",
          "maximum": 90,
          "minimum": -90,
          "type": "number"
        },
        "Longitude": {
          "format": "double",
          "description": "The incident location longitude",
          "maximum": 180,
          "minimum": -180,
          "type": "number"
        },
        "Weather": {
          "description": "Weather conditions at the time of the incident",
          "maxLength": 500,
          "minLength": 0,
          "type": "string"
        },
        "PersonMostFamiliarCode": {
          "description": "The employee code for the person most familiar with the incident",
          "type": "string"
        },
        "RecordedEmail": {
          "description": "Email of the person who recorded the incident",
          "type": "string"
        },
        "RecordedPhoneNumber": {
          "description": "Phone Number of the person who recorded the incident",
          "type": "string"
        },
        "PersonInChargeEmail": {
          "description": "Email of the person in charge when the incident occurred",
          "type": "string"
        },
        "PersonInChargePhoneNumber": {
          "description": "Phone Number of the person in charge when the incident occurred",
          "type": "string"
        },
        "PersonMostFamiliarEmail": {
          "description": "Email of the person most familiar with the incident",
          "type": "string"
        },
        "PersonMostFamiliarPhoneNumber": {
          "description": "Phone Number of the person most familiar with the incident",
          "type": "string"
        },
        "EstimatedCost": {
          "format": "double",
          "description": "Estimated cost of this incident",
          "type": "number"
        },
        "ActualCost": {
          "format": "double",
          "description": "Actual cost of this incident",
          "type": "number"
        },
        "IsMSHAInvestigation": {
          "description": "Did the incident required a MSHA Investigation",
          "type": "boolean"
        },
        "Individuals": {
          "description": "Individuals list for MSHA Investigation. Separated by semi-colon (;)",
          "type": "string"
        },
        "SiteDescription": {
          "description": "Site description",
          "type": "string"
        },
        "AccidentInjuryExplanation": {
          "description": "Accident/Injury Explanation",
          "type": "string"
        },
        "StepsToPreventFutureOccurrences": {
          "description": "Steps to Prevent Future Occurrences",
          "type": "string"
        }
      }
    },
    "ApiIncident": {
      "description": "Incident details",
      "required": [
        "ID",
        "Description",
        "Notes",
        "FieldNotes",
        "JobCode",
        "LocationDescription",
        "ReportedDateUtc",
        "RecorderCode",
        "PersonInChargeCode",
        "IncidentDateUtc"
      ],
      "type": "object",
      "properties": {
        "CreatedDateUtc": {
          "format": "date-time",
          "description": "The UTC date and time the incident record was created. This value cannot be changed, any edits to this field will be ignored.",
          "type": "string"
        },
        "LastModifiedUtc": {
          "format": "date-time",
          "description": "The UTC date and time of the last modification to the incident. This value is generated automatically, any edits to this field will be ignored.",
          "type": "string"
        },
        "BusinessUnitDescription": {
          "description": "The description for the business unit associated with this incident. This value cannot be changed, edits to this value will trigger a 400 Bad Request response.",
          "type": "string"
        },
        "ReportingStatus": {
          "description": "Insurance claim reporting status for this incident",
          "enum": [
            "None",
            "InHouse",
            "ReportedToCarrier",
            "ReportedToThirdPartyCarrier"
          ],
          "type": "string"
        },
        "InsuranceCompanyName": {
          "description": "Insurance claim company name for this incident",
          "type": "string"
        },
        "InsuranceClaimTypes": {
          "description": "Insurance claims for this incident",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ClaimNumber": {
          "description": "Insurance claim number for this incident",
          "type": "string"
        },
        "Adjuster": {
          "description": "Adjuster for this incident",
          "type": "string"
        },
        "AdjusterEmail": {
          "description": "Adjuster email for this incident",
          "type": "string"
        },
        "AdjusterPhone": {
          "description": "Adjuster phone for this incident",
          "type": "string"
        },
        "AdjusterNotes": {
          "description": "Adjuster notes for this incident",
          "type": "string"
        },
        "DateInvestigationBegan": {
          "format": "date-time",
          "description": "Date the MSHA Investigation Began",
          "type": "string"
        },
        "ID": {
          "format": "uuid",
          "description": "The HCSS unique identifier for the incident.",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CaseNumber": {
          "description": "The user-entered unique identifier for the incident. Must be unique within each company.",
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        },
        "Description": {
          "description": "Description of the incident",
          "maxLength": 2000,
          "minLength": 0,
          "type": "string"
        },
        "Notes": {
          "description": "Notes about this incident",
          "type": "string"
        },
        "FieldNotes": {
          "description": "Field Notes about this incident",
          "type": "string"
        },
        "JobCode": {
          "description": "The code for the job where the incident occurred",
          "type": "string"
        },
        "BusinessUnitCode": {
          "description": "The code for the business unit associated with this incident. This value cannot be changed, edits to this value will trigger a 400 Bad Request response.",
          "type": "string"
        },
        "LocationDescription": {
          "description": "A description of the location where the incident occurred",
          "maxLength": 2000,
          "minLength": 0,
          "type": "string"
        },
        "ReportedDateUtc": {
          "format": "date-time",
          "description": "The UTC date and time when the incident was reported",
          "type": "string"
        },
        "RecorderCode": {
          "description": "The employee code of the person who recorded the incident",
          "type": "string"
        },
        "PersonInChargeCode": {
          "description": "The employee code of the employee in charge when the incident occurred",
          "type": "string"
        },
        "IncidentDateUtc": {
          "format": "date-time",
          "description": "The UTC date and time when the incident occurred",
          "type": "string"
        },
        "Status": {
          "description": "Incident Status for this incident. \r\nOptions: 'Open', 'Received', or 'Completed'.",
          "type": "string"
        },
        "Latitude": {
          "format": "double",
          "description": "The incident location latitude",
          "maximum": 90,
          "minimum": -90,
          "type": "number"
        },
        "Longitude": {
          "format": "double",
          "description": "The incident location longitude",
          "maximum": 180,
          "minimum": -180,
          "type": "number"
        },
        "Weather": {
          "description": "Weather conditions at the time of the incident",
          "maxLength": 500,
          "minLength": 0,
          "type": "string"
        },
        "PersonMostFamiliarCode": {
          "description": "The employee code for the person most familiar with the incident",
          "type": "string"
        },
        "RecordedEmail": {
          "description": "Email of the person who recorded the incident",
          "type": "string"
        },
        "RecordedPhoneNumber": {
          "description": "Phone Number of the person who recorded the incident",
          "type": "string"
        },
        "PersonInChargeEmail": {
          "description": "Email of the person in charge when the incident occurred",
          "type": "string"
        },
        "PersonInChargePhoneNumber": {
          "description": "Phone Number of the person in charge when the incident occurred",
          "type": "string"
        },
        "PersonMostFamiliarEmail": {
          "description": "Email of the person most familiar with the incident",
          "type": "string"
        },
        "PersonMostFamiliarPhoneNumber": {
          "description": "Phone Number of the person most familiar with the incident",
          "type": "string"
        },
        "EstimatedCost": {
          "format": "double",
          "description": "Estimated cost of this incident",
          "type": "number"
        },
        "ActualCost": {
          "format": "double",
          "description": "Actual cost of this incident",
          "type": "number"
        },
        "IsMSHAInvestigation": {
          "description": "Did the incident required a MSHA Investigation",
          "type": "boolean"
        },
        "Individuals": {
          "description": "Individuals list for MSHA Investigation. Separated by semi-colon (;)",
          "type": "string"
        },
        "SiteDescription": {
          "description": "Site description",
          "type": "string"
        },
        "AccidentInjuryExplanation": {
          "description": "Accident/Injury Explanation",
          "type": "string"
        },
        "StepsToPreventFutureOccurrences": {
          "description": "Steps to Prevent Future Occurrences",
          "type": "string"
        }
      }
    },
    "ApiIncidentDetailsV2": {
      "description": "Incident details",
      "required": [
        "ID",
        "Description",
        "Notes",
        "FieldNotes",
        "JobCode",
        "LocationDescription",
        "ReportedDateUtc",
        "RecorderCode",
        "PersonInChargeCode",
        "IncidentDateUtc"
      ],
      "type": "object",
      "properties": {
        "IncidentForms": {
          "description": "Detailed list of all forms on this incident",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiIncidentForm"
          }
        },
        "Attachments": {
          "description": "List of Incident attachments",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiAttachment"
          }
        },
        "FieldAttachments": {
          "description": "List of Incident Field attachments",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiAttachment"
          }
        },
        "MinersInvolved": {
          "description": "Miners involved during the investigation",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiMiners"
          }
        },
        "Address": {
          "$ref": "#/definitions/ApiAddress",
          "description": "The incident location address"
        },
        "CreatedDateUtc": {
          "format": "date-time",
          "description": "The UTC date and time the incident record was created. This value cannot be changed, any edits to this field will be ignored.",
          "type": "string"
        },
        "LastModifiedUtc": {
          "format": "date-time",
          "description": "The UTC date and time of the last modification to the incident. This value is generated automatically, any edits to this field will be ignored.",
          "type": "string"
        },
        "BusinessUnitDescription": {
          "description": "The description for the business unit associated with this incident. This value cannot be changed, edits to this value will trigger a 400 Bad Request response.",
          "type": "string"
        },
        "ReportingStatus": {
          "description": "Insurance claim reporting status for this incident",
          "enum": [
            "None",
            "InHouse",
            "ReportedToCarrier",
            "ReportedToThirdPartyCarrier"
          ],
          "type": "string"
        },
        "InsuranceCompanyName": {
          "description": "Insurance claim company name for this incident",
          "type": "string"
        },
        "InsuranceClaimTypes": {
          "description": "Insurance claims for this incident",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ClaimNumber": {
          "description": "Insurance claim number for this incident",
          "type": "string"
        },
        "Adjuster": {
          "description": "Adjuster for this incident",
          "type": "string"
        },
        "AdjusterEmail": {
          "description": "Adjuster email for this incident",
          "type": "string"
        },
        "AdjusterPhone": {
          "description": "Adjuster phone for this incident",
          "type": "string"
        },
        "AdjusterNotes": {
          "description": "Adjuster notes for this incident",
          "type": "string"
        },
        "DateInvestigationBegan": {
          "format": "date-time",
          "description": "Date the MSHA Investigation Began",
          "type": "string"
        },
        "ID": {
          "format": "uuid",
          "description": "The HCSS unique identifier for the incident.",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CaseNumber": {
          "description": "The user-entered unique identifier for the incident. Must be unique within each company.",
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        },
        "Description": {
          "description": "Description of the incident",
          "maxLength": 2000,
          "minLength": 0,
          "type": "string"
        },
        "Notes": {
          "description": "Notes about this incident",
          "type": "string"
        },
        "FieldNotes": {
          "description": "Field Notes about this incident",
          "type": "string"
        },
        "JobCode": {
          "description": "The code for the job where the incident occurred",
          "type": "string"
        },
        "BusinessUnitCode": {
          "description": "The code for the business unit associated with this incident. This value cannot be changed, edits to this value will trigger a 400 Bad Request response.",
          "type": "string"
        },
        "LocationDescription": {
          "description": "A description of the location where the incident occurred",
          "maxLength": 2000,
          "minLength": 0,
          "type": "string"
        },
        "ReportedDateUtc": {
          "format": "date-time",
          "description": "The UTC date and time when the incident was reported",
          "type": "string"
        },
        "RecorderCode": {
          "description": "The employee code of the person who recorded the incident",
          "type": "string"
        },
        "PersonInChargeCode": {
          "description": "The employee code of the employee in charge when the incident occurred",
          "type": "string"
        },
        "IncidentDateUtc": {
          "format": "date-time",
          "description": "The UTC date and time when the incident occurred",
          "type": "string"
        },
        "Status": {
          "description": "Incident Status for this incident. \r\nOptions: 'Open', 'Received', or 'Completed'.",
          "type": "string"
        },
        "Latitude": {
          "format": "double",
          "description": "The incident location latitude",
          "maximum": 90,
          "minimum": -90,
          "type": "number"
        },
        "Longitude": {
          "format": "double",
          "description": "The incident location longitude",
          "maximum": 180,
          "minimum": -180,
          "type": "number"
        },
        "Weather": {
          "description": "Weather conditions at the time of the incident",
          "maxLength": 500,
          "minLength": 0,
          "type": "string"
        },
        "PersonMostFamiliarCode": {
          "description": "The employee code for the person most familiar with the incident",
          "type": "string"
        },
        "RecordedEmail": {
          "description": "Email of the person who recorded the incident",
          "type": "string"
        },
        "RecordedPhoneNumber": {
          "description": "Phone Number of the person who recorded the incident",
          "type": "string"
        },
        "PersonInChargeEmail": {
          "description": "Email of the person in charge when the incident occurred",
          "type": "string"
        },
        "PersonInChargePhoneNumber": {
          "description": "Phone Number of the person in charge when the incident occurred",
          "type": "string"
        },
        "PersonMostFamiliarEmail": {
          "description": "Email of the person most familiar with the incident",
          "type": "string"
        },
        "PersonMostFamiliarPhoneNumber": {
          "description": "Phone Number of the person most familiar with the incident",
          "type": "string"
        },
        "EstimatedCost": {
          "format": "double",
          "description": "Estimated cost of this incident",
          "type": "number"
        },
        "ActualCost": {
          "format": "double",
          "description": "Actual cost of this incident",
          "type": "number"
        },
        "IsMSHAInvestigation": {
          "description": "Did the incident required a MSHA Investigation",
          "type": "boolean"
        },
        "Individuals": {
          "description": "Individuals list for MSHA Investigation. Separated by semi-colon (;)",
          "type": "string"
        },
        "SiteDescription": {
          "description": "Site description",
          "type": "string"
        },
        "AccidentInjuryExplanation": {
          "description": "Accident/Injury Explanation",
          "type": "string"
        },
        "StepsToPreventFutureOccurrences": {
          "description": "Steps to Prevent Future Occurrences",
          "type": "string"
        }
      }
    },
    "ApiIncidentForm": {
      "description": "Incident form information",
      "type": "object",
      "properties": {
        "FormName": {
          "description": "Incident form name",
          "type": "string"
        },
        "Sections": {
          "description": "Sections on the incident form",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiIncidentFormSection"
          }
        }
      }
    },
    "ApiIncidentFormSection": {
      "description": "Incident form section information",
      "type": "object",
      "properties": {
        "Section": {
          "description": "Section name",
          "type": "string"
        },
        "Questions": {
          "description": "Questions and answers on the incident form",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiIncidentFormQuestion"
          }
        }
      }
    },
    "ApiIncidentFormQuestion": {
      "description": "Information on the form question and answer",
      "type": "object",
      "properties": {
        "Question": {
          "description": "Incident form question",
          "type": "string"
        },
        "Answer": {
          "description": "Incident form answer",
          "type": "string"
        },
        "Attachments": {
          "description": "If answer has attachments, list of attachments",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiAttachment"
          }
        },
        "Passengers": {
          "description": "If answer has passengers, list of passengers",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiPassenger"
          }
        },
        "Address": {
          "$ref": "#/definitions/ApiAddress",
          "description": "If answer is an address, the address"
        },
        "OtherVehicles": {
          "description": "If answer has other vehicles, list of other vehicles",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiOtherVehicle"
          }
        },
        "OtherPassengers": {
          "description": "If answer has other passengers, list of other passengers",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiOtherPassenger"
          }
        },
        "Items": {
          "description": "If answer has items, list of items",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiItem"
          }
        },
        "DaysInterval": {
          "$ref": "#/definitions/ApiDaysInterval",
          "description": "If answer is interval of days, contains information on days away"
        }
      }
    },
    "ApiPassenger": {
      "description": "Passenger information",
      "type": "object",
      "properties": {
        "Name": {
          "description": "Name of the passenger",
          "type": "string"
        },
        "Address": {
          "description": "Address of the passenger",
          "type": "string"
        },
        "Address2": {
          "description": "Address 2 of the passenger",
          "type": "string"
        },
        "City": {
          "description": "City of the passenger",
          "type": "string"
        },
        "State": {
          "description": "State of the passenger",
          "type": "string"
        },
        "ZipCode": {
          "description": "Zip code of the passenger",
          "type": "string"
        },
        "Country": {
          "description": "Country of the passenger",
          "type": "string"
        },
        "MobilePhone": {
          "description": "Mobile phone of the passenger",
          "type": "string"
        },
        "HomePhone": {
          "description": "Home phone of the passenger",
          "type": "string"
        }
      }
    },
    "ApiOtherVehicle": {
      "description": "Other vehicle information",
      "type": "object",
      "properties": {
        "DriverName": {
          "description": "Name of the driver",
          "type": "string"
        },
        "Make": {
          "description": "The make of the other vehicle",
          "type": "string"
        },
        "Model": {
          "description": "The model of the other vehicle",
          "type": "string"
        },
        "Year": {
          "description": "The year of the other vehicle",
          "type": "string"
        },
        "LicensePlate": {
          "description": "The license plate of the other vehicle",
          "type": "string"
        },
        "VinNumber": {
          "description": "The VIN number of the other vehicle",
          "type": "string"
        },
        "State": {
          "description": "The state/territory of the other vehicle",
          "type": "string"
        },
        "Carrier": {
          "description": "The insurance carrier for the other vehicle",
          "type": "string"
        },
        "PolicyNumber": {
          "description": "The insurance policy number for the other vehicle",
          "type": "string"
        }
      }
    },
    "ApiOtherPassenger": {
      "description": "Other passenger information",
      "type": "object",
      "properties": {
        "Vehicle": {
          "description": "The other vehicle",
          "type": "string"
        },
        "Name": {
          "description": "Name of the other vehicle passenger",
          "type": "string"
        },
        "MobilePhone": {
          "description": "Mobile phone of the other vehicle passenger",
          "type": "string"
        },
        "HomePhone": {
          "description": "Home phone of the other vehicle passenger",
          "type": "string"
        },
        "Address1": {
          "description": "Address line 1 of the other vehicle passenger",
          "type": "string"
        },
        "Address2": {
          "description": "Address line 2 of the other vehicle passenger",
          "type": "string"
        },
        "City": {
          "description": "City of the other vehicle passenger",
          "type": "string"
        },
        "State": {
          "description": "State of the other vehicle passenger",
          "type": "string"
        },
        "Zip": {
          "description": "Zip of the other vehicle passenger",
          "type": "string"
        },
        "Country": {
          "description": "Country of the other vehicle passenger",
          "type": "string"
        }
      }
    },
    "ApiItem": {
      "description": "Theft report item",
      "type": "object",
      "properties": {
        "ItemDescription": {
          "description": "Description of the reported item",
          "type": "string"
        },
        "EstimatedValue": {
          "description": "Estimated value of the reported item",
          "type": "string"
        }
      }
    },
    "ApiDaysInterval": {
      "description": "Days interval information",
      "type": "object",
      "properties": {
        "FirstDay": {
          "description": "First day away",
          "type": "string"
        },
        "LastDay": {
          "description": "Last day away",
          "type": "string"
        },
        "DaysAway": {
          "format": "int32",
          "description": "Total days away",
          "type": "integer"
        },
        "IncludeWeekends": {
          "description": "If weekends are included in calculating total days away",
          "type": "boolean"
        }
      }
    },
    "GetMeetingsResponse": {
      "type": "object",
      "properties": {
        "Meetings": {
          "description": "List of meetings matching the requested parameters",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Meeting"
          }
        }
      }
    },
    "Meeting": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "description": "Unique identifier for this meeting",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "MeetingDate": {
          "format": "date-time",
          "description": "The date this meeting was held",
          "type": "string"
        },
        "JobId": {
          "format": "uuid",
          "description": "Job ID for this meeting",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "JobCode": {
          "description": "Job code for this meeting",
          "type": "string"
        },
        "RecorderId": {
          "format": "uuid",
          "description": "Recorder's employee ID",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "RecorderCode": {
          "description": "Recorder's employee code",
          "type": "string"
        },
        "DurationMinutes": {
          "format": "int32",
          "description": "Meeting duration, in minutes",
          "type": "integer"
        },
        "Type": {
          "description": "Meeting type",
          "type": "string"
        },
        "Notes": {
          "description": "Additional notes",
          "type": "string"
        },
        "Topics": {
          "description": "List of meeting topics",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Topic"
          }
        },
        "Attachments": {
          "description": "List of meeting attachments",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Employees": {
          "description": "List of employees attending this meeting",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Employee"
          }
        },
        "Visitors": {
          "description": "List of non-employee visitors attending this meeting",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Visitor"
          }
        }
      }
    },
    "Topic": {
      "type": "object",
      "properties": {
        "TopicName": {
          "description": "Topic name",
          "type": "string"
        },
        "Subtopics": {
          "description": "List of subtopics",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Employee": {
      "type": "object",
      "properties": {
        "FirstName": {
          "description": "Employee's first name",
          "type": "string"
        },
        "LastName": {
          "description": "Employee's last name",
          "type": "string"
        },
        "EmployeeCode": {
          "description": "Employee code",
          "type": "string"
        },
        "OnSite": {
          "description": "Was this attendee on-site?",
          "type": "boolean"
        },
        "Attended": {
          "description": "Did this person attend?",
          "type": "boolean"
        }
      }
    },
    "Visitor": {
      "type": "object",
      "properties": {
        "Name": {
          "description": "Name of visitor",
          "type": "string"
        },
        "Note": {
          "description": "Additional notes regarding this visitor",
          "type": "string"
        },
        "OnSite": {
          "description": "Was this attendee on-site?",
          "type": "boolean"
        },
        "Attended": {
          "description": "Did this person attend?",
          "type": "boolean"
        }
      }
    }
  },
  "securityDefinitions": {
    "bearer": {
      "type": "oauth2",
      "description": "OAuth2 Client Credentials Flow",
      "flow": "application",
      "tokenUrl": "https://api.hcssapps.com/identity/connect/token",
      "scopes": {
        "incidents:read": "incidents:read",
        "incidents:write": "incidents:write",
        "meetings:read": "meetings:read"
      }
    },
    "authcode": {
      "type": "oauth2",
      "description": "OAuth2 Authorization Code",
      "flow": "accessCode",
      "tokenUrl": "https://api.hcssapps.com/identity/connect/token",
      "authorizationUrl": "https://api.hcssapps.com/identity/connect/authorize",
      "scopes": {
        "incidents:read": "incidents:read",
        "incidents:write": "incidents:write",
        "meetings:read": "meetings:read"
      }
    }
  }
}