{
  "openapi": "3.0.1",
  "info": {
    "title": "Telematics API",
    "version": "v1",
    "description": "Interact with Telematics data. Operations require the 'telematics:read' or 'telematics:write' scope.",
    "termsOfService": "https://support.hcss.com.",
    "contact": {
      "name": "Heavy Construction Systems Specialists, Inc. (HCSS)",
      "url": "https://support.hcss.com/",
      "email": "support@hcss.com"
    },
    "license": {
      "name": "EULA",
      "url": "https://support.hcss.com."
    }
  },
  "servers": [
    {
      "url": "https://api.hcssapps.com/telematics"
    }
  ],
  "security": [
    {
      "bearer": [
        "telematics:read",
        "telematics:write"
      ]
    }
  ],
  "paths": {
    "/api/v1/equipment": {
      "get": {
        "tags": [
          "Equipment"
        ],
        "summary": "Returns a list of equipment.",
        "description": "Returns a paginated list of equipment including last latitude and longitude and meter readings of equipment.\r\n\r\nFor help with authorization, please visit https://developer.hcssapps.com/getting-started/request-tokens",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results that should be returned.",
            "schema": {
              "type": "integer",
              "description": "The maximum number of results that should be returned.",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Optional.  When there are additional results, the metadata nextCursor field should be passed to retrieve the next page of results.",
            "schema": {
              "type": "string",
              "description": "Optional.  When there are additional results, the metadata nextCursor field should be passed to retrieve the next page of results.",
              "nullable": true
            }
          },
          {
            "name": "isRegistered",
            "in": "query",
            "description": "Optional. Returns registered equipment if true and unregistered equipment if false. By default, returns all equipment.",
            "schema": {
              "type": "boolean",
              "description": "Optional. Returns registered equipment if true and unregistered equipment if false. By default, returns all equipment.",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEquipmentReadPaginatedResponse"
                },
                "example": {
                  "results": [
                    {
                      "id": "f3a895ca-a1fe-45d7-96ae-35b74095fa2e",
                      "code": "CRANE",
                      "description": "Site crane",
                      "fuelUom": "Liters",
                      "lastBearing": 20,
                      "lastLatitude": 29.74,
                      "lastLongitude": -95.35,
                      "lastLocationDateTime": "2021-01-01T11:44:00Z",
                      "lastHourMeterReadingInSeconds": 36000,
                      "lastHourMeterReadingInHours": 10,
                      "lastHourMeterReadingDateTime": "2021-01-01T10:00:00+00:00",
                      "lastHourMeterReadingSource": "Manual Entry",
                      "hourMeterOffsetInSeconds": 25,
                      "lastEngineStatus": "Active",
                      "lastEngineStatusDateTime": "2021-01-01T11:23:00+00:00",
                      "lastOdometerReadingInMeters": 3218.69,
                      "lastOdometerReadingInMiles": 2.0000012427,
                      "lastOdometerReadingDateTime": "2021-01-01T11:23:00+00:00",
                      "lastOdometerReadingSource": "HCSS Telematics Calculation",
                      "lastSpeed": 60,
                      "lastTotalFuelUsedInLiters": 5050,
                      "lastTotalFuelUsedReport": "2021-01-01T11:23:00+00:00",
                      "make": "Ford",
                      "model": "F350",
                      "odometerOffset": 100,
                      "speedUom": "MPH",
                      "isRegistered": false
                    }
                  ],
                  "metadata": {
                    "nextCursor": "QyJT0vDd1gjwBqpo5FE3TZw/yom5BGly"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiEquipmentRead": {
        "required": [
          "code",
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The equipment's id. If Telematics is integrated with Master Setups, this is the Master Setups equipment id.",
            "format": "uuid",
            "readOnly": true
          },
          "code": {
            "type": "string",
            "description": "The equipment's code.",
            "readOnly": true
          },
          "description": {
            "type": "string",
            "description": "The equipment's description.",
            "nullable": true,
            "readOnly": true
          },
          "fuelUom": {
            "type": "string",
            "description": "The unit of measure used by the equipment's fuel reading.",
            "nullable": true,
            "readOnly": true
          },
          "lastBearing": {
            "type": "number",
            "description": "The equipment's last bearing in degrees. 0 degrees is North.",
            "format": "float",
            "nullable": true,
            "readOnly": true
          },
          "lastLatitude": {
            "type": "number",
            "description": "The equipment's last latitude.",
            "format": "double",
            "nullable": true,
            "readOnly": true
          },
          "lastLongitude": {
            "type": "number",
            "description": "The equipment's last longitude.",
            "format": "double",
            "nullable": true,
            "readOnly": true
          },
          "lastLocationDateTime": {
            "type": "string",
            "description": "The datetime (in UTC) of the equipment's last location.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true
          },
          "lastHourMeterReadingInSeconds": {
            "type": "number",
            "description": "The equipment's last meter reading in seconds.",
            "format": "double",
            "nullable": true,
            "readOnly": true
          },
          "lastHourMeterReadingInHours": {
            "type": "number",
            "description": "The equipment's last meter reading in hours.",
            "format": "double",
            "nullable": true,
            "readOnly": true
          },
          "lastHourMeterReadingDateTime": {
            "type": "string",
            "description": "The datetime (in UTC) of the equipment's last hour meter reading.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true
          },
          "lastHourMeterReadingSource": {
            "type": "string",
            "description": "The source of the equipment's last hour meter reading.",
            "nullable": true,
            "readOnly": true
          },
          "hourMeterOffsetInSeconds": {
            "type": "number",
            "description": "The hour meter offset in seconds.",
            "format": "double",
            "nullable": true,
            "readOnly": true
          },
          "lastEngineStatus": {
            "type": "string",
            "description": "The last engine status for the equipment. Options are (No Data, Old Data, Off, Active, Idle).",
            "nullable": true,
            "readOnly": true
          },
          "lastEngineStatusDateTime": {
            "type": "string",
            "description": "The datetime (in UTC) of the equipment's last engine status.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true
          },
          "lastOdometerReadingInMeters": {
            "type": "number",
            "description": "The equipment's last meter reading in meters.",
            "format": "double",
            "nullable": true,
            "readOnly": true
          },
          "lastOdometerReadingInMiles": {
            "type": "number",
            "description": "The equipment's last meter reading in miles.",
            "format": "double",
            "nullable": true,
            "readOnly": true
          },
          "lastOdometerReadingDateTime": {
            "type": "string",
            "description": "The datetime (in UTC) of the equipment's last odometer reading.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true
          },
          "lastOdometerReadingSource": {
            "type": "string",
            "description": "The source of the equipment's last odometer reading.",
            "nullable": true,
            "readOnly": true
          },
          "lastSpeed": {
            "type": "number",
            "description": "The equipment's last speed in miles per hour.",
            "format": "float",
            "nullable": true,
            "readOnly": true
          },
          "lastTotalFuelUsedInLiters": {
            "type": "number",
            "description": "The equipment's last total fuel used in liters.",
            "format": "double",
            "nullable": true,
            "readOnly": true
          },
          "lastTotalFuelUsedReport": {
            "type": "string",
            "description": "The datetime (in UTC) of the equipment's last total fuel used report.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true
          },
          "make": {
            "type": "string",
            "description": "The make of the equipment.",
            "nullable": true,
            "readOnly": true
          },
          "model": {
            "type": "string",
            "description": "The model of the equipment.",
            "nullable": true,
            "readOnly": true
          },
          "odometerOffset": {
            "type": "number",
            "description": "The odometer offset.",
            "format": "double",
            "nullable": true,
            "readOnly": true
          },
          "speedUom": {
            "type": "string",
            "description": "The unit of measure used by the equipment's speed reading.",
            "nullable": true,
            "readOnly": true
          },
          "isRegistered": {
            "type": "boolean",
            "description": "Whether or not the equipment is registered.",
            "readOnly": true
          }
        },
        "additionalProperties": false,
        "description": "A POCO that represents a slice of equipment state returned by the API."
      },
      "ApiEquipmentReadResponseMetadata": {
        "type": "object",
        "properties": {
          "nextCursor": {
            "type": "string",
            "description": "If non-null, specifies the cursor that will return\r\nthe next set of results.",
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false,
        "description": "Contains metadata about a paginated response."
      },
      "ApiEquipmentReadPaginatedResponse": {
        "required": [
          "metadata",
          "results"
        ],
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiEquipmentRead"
            },
            "description": "The paginated results.",
            "readOnly": true
          },
          "metadata": {
            "$ref": "#/components/schemas/ApiEquipmentReadResponseMetadata"
          }
        },
        "additionalProperties": false,
        "description": "A POCO that represents a cursor-paginated response from the server."
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "oauth2",
        "description": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.hcssapps.com/identity/connect/token",
            "scopes": {
              "telematics:read": "telematics:read",
              "telematics:write": "telematics:write"
            }
          },
          "authorizationCode": {
            "tokenUrl": "https://api.hcssapps.com/identity/connect/token",
            "authorizationUrl": "https://api.hcssapps.com/identity/connect/authorize",
            "scopes": {
              "telematics:read": "telematics:read",
              "telematics:write": "telematics:write"
            }
          }
        }
      }
    }
  }
}