{
  "openapi": "3.0.1",
  "info": {
    "title": "Users API",
    "version": "v1",
    "description": "Manage your users in Credentials.  Operations require the 'users:read', 'users:write', or 'users:delete' scopes.",
    "termsOfService": "https://support.hcss.com.",
    "contact": {
      "name": "Heavy Construction Systems Specialists, Inc. (HCSS)",
      "url": "https://support.hcss.com/",
      "email": "support@hcss.com"
    },
    "license": {
      "name": "EULA",
      "url": "https://support.hcss.com."
    }
  },
  "servers": [
    {
      "url": "https://api.hcssapps.com/users"
    }
  ],
  "security": [
    {
      "bearer": [
        "users:read",
        "users:write",
        "users:delete"
      ]
    }
  ],
  "paths": {
    "/api/v1/BusinessUnits": {
      "get": {
        "tags": [
          "BusinessUnits"
        ],
        "summary": "Returns all business units in a company",
        "description": "For help with authorization, please visit https://developer.hcssapps.com/getting-started/request-token",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PublicBusinessUnitDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicBusinessUnitDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicBusinessUnitDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. For help troubleshooting this error, visit https://developer.hcssapps.com/getting-started/troubleshoot-forbidden"
          }
        }
      }
    },
    "/api/v1/Jobs/GetJobsByBusinessUnit": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Returns all jobs in a business unit",
        "description": "For help with authorization, please visit https://developer.hcssapps.com/getting-started/request-token",
        "parameters": [
          {
            "name": "businessUnitId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PublicJobDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicJobDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicJobDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. For help troubleshooting this error, visit https://developer.hcssapps.com/getting-started/troubleshoot-forbidden"
          }
        }
      }
    },
    "/api/v1/Roles": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Returns all roles in a company",
        "description": "For help with authorization, please visit https://developer.hcssapps.com/getting-started/request-token",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PublicRoleDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicRoleDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicRoleDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. For help troubleshooting this error, visit https://developer.hcssapps.com/getting-started/troubleshoot-forbidden"
          }
        }
      }
    },
    "/api/v1/SubscriptionGroups": {
      "get": {
        "tags": [
          "SubscriptionGroups"
        ],
        "summary": "Returns all subscription groups in a company",
        "description": "For help with authorization, please visit https://developer.hcssapps.com/getting-started/request-token",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSubscriptionGroupDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSubscriptionGroupDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSubscriptionGroupDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. For help troubleshooting this error, visit https://developer.hcssapps.com/getting-started/troubleshoot-forbidden"
          },
          "404": {
            "description": "No subscription groups were found."
          }
        }
      }
    },
    "/api/v1/Users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Returns all users in a company with paging",
        "description": "For help with authorization, please visit https://developer.hcssapps.com/getting-started/request-token",
        "operationId": "Get",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "businessUnitId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PublicUserDtoPaginatedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicUserDtoPaginatedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicUserDtoPaginatedResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. For help troubleshooting this error, visit https://developer.hcssapps.com/getting-started/troubleshoot-forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Creates a new user",
        "description": "<ul>\r\n  <li>Email is required when ContactMethod is 'Email'</li>\r\n  <li>PhoneNumber is required when ContactMethod is 'PhoneNumber'</li>\r\n  <li>BusinessUnitAccess.Values should be a list of Business Unit Ids when BusinessUnitAccess.Type is 'SelectedBusinessUnits'</li>\r\n  <li>BusinessUnitAccess.Values should be null when BusinessUnitAccess.Type is 'AllBusinessUnits'</li>\r\n  <li>JobAccess.Values should be null when JobAccess.Type is 'AllJobs'</li>\r\n</ul>\r\n            If creating a duplicate user with the Parent-Child feature, the following fields will all be synced from any existing duplicates:\r\n            <ul><li>First Name</li><li>Last Name</li><li>Phone Number</li><li>Email</li><li>Contact Method</li><li>Allow Phone Number Login</li><li>Exclude From External Authentication</li></ul>\r\n            For help with authorization, please visit https://developer.hcssapps.com/getting-started/request-tokens",
        "operationId": "CreateUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicCreateUserDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicCreateUserDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicCreateUserDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User was successfully created."
          },
          "400": {
            "description": "Bad Request. For help troubleshooting this error, visit https://developer.hcssapps.com/getting-started/troubleshoot-bad-request"
          },
          "403": {
            "description": "Forbidden. For help troubleshooting this error, visit https://developer.hcssapps.com/getting-started/troubleshoot-forbidden"
          }
        }
      }
    },
    "/api/v1/Users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Returns user by id",
        "description": "For help with authorization, please visit https://developer.hcssapps.com/getting-started/request-token",
        "operationId": "GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PublicUserDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicUserDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicUserDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. For help troubleshooting this error, visit https://developer.hcssapps.com/getting-started/troubleshoot-forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Updates a user",
        "description": "Only properties that are not null will be updated\r\n<ul><li>Email is required when ContactMethod is 'Email'</li><li>PhoneNumber is required when ContactMethod is 'PhoneNumber'</li><li>BusinessUnitAccess.Values should be a list of Business Unit Ids when BusinessUnitAccess.Type is 'SelectedBusinessUnits'</li><li>BusinessUnitAccess.Values should be null when BusinessUnitAccess.Type is 'AllBusinessUnits'</li><li>JobAccess.Values should be null when JobAccess.Type is 'AllJobs'</li></ul>\r\nIf updating a duplicate user with the Parent-Child feature, the following fields will also be updated in all duplicates:\r\n<ul><li>Username</li><li>First Name</li><li>Last Name</li><li>Phone Number</li><li>Email</li><li>Contact Method</li><li>Allow Phone Number Login</li><li>Exclude From External Authentication</li></ul>\r\nFor help with authorization, please visit https://developer.hcssapps.com/getting-started/request-tokens",
        "operationId": "UpdateUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicUpdateUserDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicUpdateUserDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicUpdateUserDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "User was successfully updated."
          },
          "400": {
            "description": "Bad Request. For help troubleshooting this error, visit https://developer.hcssapps.com/getting-started/troubleshoot-bad-request"
          },
          "403": {
            "description": "Forbidden. For help troubleshooting this error, visit https://developer.hcssapps.com/getting-started/troubleshoot-forbidden"
          },
          "404": {
            "description": "Existing user with id was not found. Verify that the id provided is correct."
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Deletes a user with the given id",
        "description": "For help with authorization, please visit https://developer.hcssapps.com/getting-started/request-token",
        "operationId": "DeleteUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "User was successfully deleted."
          },
          "400": {
            "description": "Bad Request. For help troubleshooting this error, visit https://developer.hcssapps.com/getting-started/troubleshoot-bad-request"
          },
          "403": {
            "description": "Forbidden. For help troubleshooting this error, visit https://developer.hcssapps.com/getting-started/troubleshoot-forbidden"
          },
          "404": {
            "description": "User with id was not found. Verify that the id provided is correct."
          }
        }
      }
    },
    "/api/v1/Users/userName/{userName}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Returns user by username",
        "description": "For help with authorization, please visit https://developer.hcssapps.com/getting-started/request-token",
        "operationId": "GetByUsername",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "description": "The unique username of the user to fetch",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PublicUserDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicUserDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicUserDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. For help troubleshooting this error, visit https://developer.hcssapps.com/getting-started/troubleshoot-forbidden"
          },
          "404": {
            "description": "Could not find a user with matching username. Verify that the provided username is correct."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ContactMethod": {
        "enum": [
          "Email",
          "PhoneNumber"
        ],
        "type": "string",
        "description": "Contact method for notifying the user"
      },
      "PublicBusinessUnitAccessDto": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/UserBusinessUnitAccess"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Populated with Business Unit Guids when Type = SelectedBusinessUnits",
            "nullable": true,
            "example": null
          }
        },
        "additionalProperties": false,
        "description": "A model describing Business Unit Access. Combines the Type of access and list of Business Unit Guids."
      },
      "PublicBusinessUnitDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The Guid of the business unit according to HCSS Setups",
            "format": "uuid",
            "example": "B86659FA-D8F1-4909-80B7-59950D3FDD46"
          },
          "name": {
            "type": "string",
            "description": "The Name of the business unit according to HCSS Setups. In Setups it is known as 'Code'",
            "nullable": true,
            "example": "MANAGER"
          }
        },
        "additionalProperties": false,
        "description": "A model describing business units returned by the BusinessUnit controller"
      },
      "PublicCreateUserDto": {
        "required": [
          "contactMethod",
          "firstName",
          "homeBusinessUnit",
          "lastName",
          "userName",
          "userRole"
        ],
        "type": "object",
        "properties": {
          "userName": {
            "type": "string",
            "description": "The unique username of the User, used to login to HCSS Apps.",
            "example": "John.Doe@company.com"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the User.",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the User.",
            "example": "Doe"
          },
          "phoneNumber": {
            "type": "string",
            "description": "The phone number of the User.",
            "nullable": true,
            "example": "555-555-1234"
          },
          "email": {
            "type": "string",
            "description": "The email address of the User.",
            "nullable": true,
            "example": "John.Doe@company.com"
          },
          "contactMethod": {
            "$ref": "#/components/schemas/ContactMethod"
          },
          "userRole": {
            "type": "string",
            "description": "Assigns a Role to the User.",
            "format": "uuid",
            "example": "1531C1FC-3B2B-453A-BB88-595AF8B2ECDB"
          },
          "subscriptionGroup": {
            "type": "string",
            "description": "Assigns a Subscription Group to the User.",
            "format": "uuid",
            "nullable": true,
            "example": "0C6116F2-D77A-4B86-9389-379079CDEDFE"
          },
          "note": {
            "type": "string",
            "description": "Used to add optional notes for the User.",
            "nullable": true,
            "example": "This is an example note."
          },
          "homeBusinessUnit": {
            "type": "string",
            "description": "The default Business Unit that the User belongs to.",
            "format": "uuid",
            "example": "B86659FA-D8F1-4909-80B7-59950D3FDD46"
          },
          "employeeCode": {
            "type": "string",
            "description": "Assigns an Employee to the User.",
            "nullable": true,
            "example": "example-employee-code-01"
          },
          "allowPhoneNumberLogin": {
            "type": "boolean",
            "description": "Enables the User to login to HCSS Apps using their phone number.",
            "nullable": true,
            "example": false
          },
          "excludeFromExternalAuthentication": {
            "type": "boolean",
            "description": "Excludes the User from signing in with external authentication and will require the User to use their HCSS Apps login.",
            "nullable": true,
            "example": true
          },
          "businessUnitAccess": {
            "$ref": "#/components/schemas/PublicBusinessUnitAccessDto"
          },
          "jobAccess": {
            "$ref": "#/components/schemas/PublicJobAccessDto"
          }
        },
        "additionalProperties": false,
        "description": "A model used for creating a User"
      },
      "PublicJobAccessDto": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/UserJobAccess"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Populated with Job Guids when Type = SelectedJobs",
            "nullable": true,
            "example": null
          }
        },
        "additionalProperties": false,
        "description": "A model describing Job Access. Combines the Type of access and list of Job Guids.\r\n\"SelectedJobTags\" is not currently supported."
      },
      "PublicJobDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The Guid of the job in HeavyJob",
            "format": "uuid",
            "example": "298E2302-DC9B-4CD7-8FBB-3A4B6FC17448"
          },
          "businessUnitId": {
            "type": "string",
            "description": "The Guid of the business unit that the job belongs to",
            "format": "uuid",
            "example": "B86659FA-D8F1-4909-80B7-59961F2FDD46"
          },
          "code": {
            "type": "string",
            "description": "The Code of the job in HeavyJob",
            "nullable": true,
            "example": "JOB-CODE-1"
          },
          "description": {
            "type": "string",
            "description": "The description of the job in HeavyJob.",
            "nullable": true,
            "example": "This is a job."
          }
        },
        "additionalProperties": false,
        "description": "A model describing jobs returned by the Job controller"
      },
      "PublicRoleDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The Guid of the Role according to HCSS Credentials",
            "format": "uuid",
            "example": "1531C1FC-3B2B-453A-BB88-595AF8B2ECDB"
          },
          "name": {
            "type": "string",
            "description": "The Name of the Role according to HCSS Credentials",
            "nullable": true,
            "example": "User"
          }
        },
        "additionalProperties": false,
        "description": "A model describing user roles returned by the Roles controller"
      },
      "PublicSubscriptionGroupDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The Guid of the subscription group according to HCSS Credentials",
            "format": "uuid",
            "example": "0C6116F2-D77A-4B86-9389-379079CDEDFE"
          },
          "name": {
            "type": "string",
            "description": "The Name of the subscription group according to HCSS Credentials",
            "nullable": true,
            "example": "HeavyBid Access"
          }
        },
        "additionalProperties": false,
        "description": "A model describing Subscription Groups returned by the SubscriptionGroups controller"
      },
      "PublicUpdateUserDto": {
        "type": "object",
        "properties": {
          "userName": {
            "type": "string",
            "description": "The unique username of the User, used to login to HCSS Apps.",
            "nullable": true,
            "example": "John.Doe@company.com"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the User.",
            "nullable": true,
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the User.",
            "nullable": true,
            "example": "Doe"
          },
          "phoneNumber": {
            "type": "string",
            "description": "The phone number of the User.",
            "nullable": true,
            "example": "555-555-1234"
          },
          "email": {
            "type": "string",
            "description": "The email address of the User.",
            "nullable": true,
            "example": "John.Doe@company.com"
          },
          "contactMethod": {
            "$ref": "#/components/schemas/ContactMethod"
          },
          "userRole": {
            "type": "string",
            "description": "Assigns a Role to the User.",
            "format": "uuid",
            "nullable": true,
            "example": "1531C1FC-3B2B-453A-BB88-595AF8B2ECDB"
          },
          "subscriptionGroup": {
            "type": "string",
            "description": "Assigns a Subscription Group to the User.",
            "format": "uuid",
            "nullable": true,
            "example": "0C6116F2-D77A-4B86-9389-379079CDEDFE"
          },
          "note": {
            "type": "string",
            "description": "Used to add optional notes for the User.",
            "nullable": true,
            "example": "This is an example note."
          },
          "homeBusinessUnit": {
            "type": "string",
            "description": "The default Business Unit that the User belongs to.",
            "format": "uuid",
            "nullable": true,
            "example": "B86659FA-D8F1-4909-80B7-59950D3FDD46"
          },
          "employeeCode": {
            "type": "string",
            "description": "Assigns an Employee to the User.",
            "nullable": true,
            "example": "example-employee-code-01"
          },
          "allowPhoneNumberLogin": {
            "type": "boolean",
            "description": "Enables the User to login to HCSS Apps using their phone number.",
            "nullable": true,
            "example": false
          },
          "excludeFromExternalAuthentication": {
            "type": "boolean",
            "description": "Excludes the User from signing in with external authentication and will require the User to use their HCSS Apps login.",
            "nullable": true,
            "example": true
          },
          "businessUnitAccess": {
            "$ref": "#/components/schemas/PublicBusinessUnitAccessDto"
          },
          "jobAccess": {
            "$ref": "#/components/schemas/PublicJobAccessDto"
          }
        },
        "additionalProperties": false,
        "description": "A model used for partial updates to a User"
      },
      "PublicUserDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The Guid of the User according to HCSS Credentials",
            "format": "uuid",
            "example": "35392206-3517-4035-B474-B100DCB780FA"
          },
          "userName": {
            "type": "string",
            "description": "The unique UserName of the User, used to login to HCSS Apps",
            "nullable": true,
            "example": "John.Doe@company.com"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the User",
            "nullable": true,
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the User",
            "nullable": true,
            "example": "Doe"
          },
          "phoneNumber": {
            "type": "string",
            "description": "The phone number of the User",
            "nullable": true,
            "example": "555-555-1234"
          },
          "email": {
            "type": "string",
            "description": "The email address of the User",
            "nullable": true,
            "example": "John.Doe@company.com"
          },
          "contactMethod": {
            "$ref": "#/components/schemas/ContactMethod"
          },
          "userRole": {
            "type": "string",
            "description": "The Role Guid of the User",
            "format": "uuid",
            "example": "1531C1FC-3B2B-453A-BB88-595AF8B2ECDB"
          },
          "subscriptionGroup": {
            "type": "string",
            "description": "The Subscription Group Guid of the User",
            "format": "uuid",
            "nullable": true,
            "example": "0C6116F2-D77A-4B86-9389-379079CDEDFE"
          },
          "note": {
            "type": "string",
            "description": "Optional notes of the User",
            "nullable": true,
            "example": "This is an example note."
          },
          "homeBusinessUnit": {
            "type": "string",
            "description": "The default Business Unit that the User belongs to",
            "format": "uuid",
            "example": "B86659FA-D8F1-4909-80B7-59950D3FDD46"
          },
          "businessUnitAccess": {
            "$ref": "#/components/schemas/PublicBusinessUnitAccessDto"
          },
          "employeeCode": {
            "type": "string",
            "description": "The Employee Code of the User",
            "nullable": true,
            "example": "example-employee-code-01"
          },
          "allowPhoneNumberLogin": {
            "type": "boolean",
            "description": "Shows if the User is able to login to HCSS Apps using their phone number",
            "nullable": true,
            "example": false
          },
          "excludeFromExternalAuthentication": {
            "type": "boolean",
            "description": "Excludes the User from signing in with external authentication and will require the User to use their HCSS Apps login.",
            "nullable": true,
            "example": true
          },
          "jobAccess": {
            "$ref": "#/components/schemas/PublicJobAccessDto"
          },
          "createdDate": {
            "type": "string",
            "description": "DateTime this user record was created",
            "format": "date-time",
            "example": "2022-05-15 10:46:49.163"
          },
          "modifiedDate": {
            "type": "string",
            "description": "DateTime this user record was updated",
            "format": "date-time",
            "example": "2022-07-21 12:35:26.093"
          }
        },
        "additionalProperties": false,
        "description": "A model describing Users returned by the Users controller"
      },
      "PublicUserDtoPaginatedResult": {
        "type": "object",
        "properties": {
          "currentPage": {
            "type": "integer",
            "description": "The current page of records",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The length of records retrieved per page",
            "format": "int32"
          },
          "totalCount": {
            "type": "integer",
            "description": "The total length of records available",
            "format": "int32"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicUserDto"
            },
            "description": "The list of records retrieved",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "A wrapper for paged responses"
      },
      "UserBusinessUnitAccess": {
        "enum": [
          "AllBusinessUnits",
          "SelectedBusinessUnits"
        ],
        "type": "string"
      },
      "UserJobAccess": {
        "enum": [
          "AllJobs",
          "SelectedJobs",
          "ActiveEmployeeJobs",
          "SelectedJobTags"
        ],
        "type": "string"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "oauth2",
        "description": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.hcssapps.com/identity/connect/token",
            "scopes": {
              "users:read": "users:read",
              "users:write": "users:write",
              "users:delete": "users:delete"
            }
          },
          "authorizationCode": {
            "tokenUrl": "https://api.hcssapps.com/identity/connect/token",
            "authorizationUrl": "https://api.hcssapps.com/identity/connect/authorize",
            "scopes": {
              "users:read": "users:read",
              "users:write": "users:write",
              "users:delete": "users:delete"
            }
          }
        }
      }
    }
  }
}