{
    "openapi": "3.0.0",
    "info": {
        "title": "Webhooks API",
        "description": "Webhooks allow for listening to events published by HCSS Products in place of polling. Currently only supports HeavyBid Pre-Construction",
        "termsOfService": "https://support.hcss.com.",
        "contact": {
            "name": "Heavy Construction Systems Specialists, Inc. (HCSS)",
            "url": "https://support.hcss.com/",
            "email": "support@hcss.com"
        },
        "license": {
            "name": "EULA",
            "url": "https://support.hcss.com."
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.hcssapps.com/webhooks"
        }
    ],
    "security": [
        {
            "bearer": [
                "precon:read",
                "dis:read",
                "heavyjob:read"
            ]
        }
    ],
    "paths": {
        "/api/v1/setups": {
            "get": {
                "tags": [
                    "Setups"
                ],
                "summary": "Gets all webhooks",
                "description": "List of all webhooks that belong to the calling client ID.",
                "operationId": "Setups_GetWebhooks",
                "responses": {
                    "200": {
                        "description": "Success.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SetupsWebhook"
                                    }
                                },
                                "example": [
                                    {
                                        "companyId": "32f0c8c4-336c-4f7a-a7b1-9a5d338aadcd",
                                        "eventType": "EmployeeCreated",
                                        "callbackUrl": "https://Webook.MySite.com",
                                        "dateCreated": "2024-01-12T11:23:29Z",
                                        "clientId": "abcd1234",
                                        "status": "Active",
                                        "secretKey": "K7gNU3sdo+OL0wNhqoVWhr3g6s1xYv72ol/pe/Unols=",
                                        "id": "93a422b2-19c2-4bf7-bf4b-a805a60b733c"
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
                    },
                    "403": {
                        "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Setups"
                ],
                "summary": "Creates a subscription for an event",
                "description": "This endpoint takes in a callback URL, and a list of event types that you would like to receive updates for. During this request, HCSS will make a GET request to your callback URL with a query parameter called \"challenge\". Your endpoint must return a 200 OK with the challenge in the response. Once your callback URL has successfully responded to the challenge, you will begin to receive POST requests to the same URL. Information regarding the shape of these POST requests can be seen in the \"Callbacks\" section below.\n\nNote: Location events are sent only for 'Job' type at this time.",
                "operationId": "Setups_CreateSubscription",
                "requestBody": {
                    "x-name": "dto",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetupsSubscribeDto"
                            },
                            "example": {
                                "url": "https://My.WebhookSite.com",
                                "eventTypes": [
                                    "EmployeeCreated",
                                    "BusinessUnitUpdated",
                                    "LocationDeleted"
                                ],
                                "secretKey": "K7gNU3sdo+OL0wNhqoVWhr3g6s1xYv72ol/pe/Unols="
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "200": {
                        "description": "Success.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionResult"
                                },
                                "example": {
                                    "secretKey": "K7gNU3sdo+OL0wNhqoVWhr3g6s1xYv72ol/pe/Unols="
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
                    },
                    "403": {
                        "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
                    }
                },
                "callbacks": {
                    "Business Unit Event": {
                        "www.myAmazingWebhook.com/setups/businessUnitUpdates": {
                            "post": {
                                "requestBody": {
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "nullable": true,
                                                "example": {
                                                    "companyId": "f13a70a3-f130-4d7f-a5dc-a5fec8137813",
                                                    "eventType": "BusinessUnitCreated",
                                                    "businessUnitId": "3dcd2fbe-a190-4c97-97b7-211ef63a348f",
                                                    "id": "9b868224-a350-47bc-9944-0168fed4ec52"
                                                },
                                                "oneOf": [
                                                    {
                                                        "$ref": "#/components/schemas/SetupsSendEventPayload"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "required": true
                                },
                                "responses": {
                                    "200": {
                                        "description": "Your server returns this code if it accepts the callback"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Setups"
                ],
                "summary": "Updates a subscription for an event",
                "description": "This endpoint takes in a callback URL, and a list of event types that you would like to receive updates for. During this request, HCSS will make a GET request to your callback URL with a query parameter called \"challenge\". Your endpoint must return a 200 OK with the challenge in the response. Once your callback URL has successfully responded to the challenge, you will begin to receive POST requests to the same URL. Information regarding the shape of these POST requests can be seen in the \"Callbacks\" section below.\n\nNote: Location events are sent only for 'Job' type at this time.",
                "operationId": "Setups_UpdateSubscription",
                "requestBody": {
                    "x-name": "dto",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetupsSubscribeDto"
                            },
                            "example": {
                                "url": "https://My.WebhookSite.com",
                                "eventTypes": [
                                    "EmployeeCreated",
                                    "BusinessUnitUpdated",
                                    "LocationDeleted"
                                ],
                                "secretKey": "K7gNU3sdo+OL0wNhqoVWhr3g6s1xYv72ol/pe/Unols="
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "200": {
                        "description": "Success.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionResult"
                                },
                                "example": {
                                    "secretKey": "K7gNU3sdo+OL0wNhqoVWhr3g6s1xYv72ol/pe/Unols="
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
                    },
                    "403": {
                        "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
                    }
                },
                "callbacks": {
                    "Business Unit Event": {
                        "www.myAmazingWebhook.com/setups/businessUnitUpdates": {
                            "post": {
                                "requestBody": {
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "nullable": true,
                                                "example": {
                                                    "companyId": "f13a70a3-f130-4d7f-a5dc-a5fec8137813",
                                                    "eventType": "BusinessUnitCreated",
                                                    "businessUnitId": "3dcd2fbe-a190-4c97-97b7-211ef63a348f",
                                                    "id": "9b868224-a350-47bc-9944-0168fed4ec52"
                                                },
                                                "oneOf": [
                                                    {
                                                        "$ref": "#/components/schemas/SetupsSendEventPayload"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "required": true
                                },
                                "responses": {
                                    "200": {
                                        "description": "Your server returns this code if it accepts the callback"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Setups"
                ],
                "summary": "Delete a subscription",
                "description": "Delete a subscription",
                "operationId": "Setups_DeleteSubscription",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "x-position": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
                    },
                    "403": {
                        "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/v1/precon/{businessUnitId}": {
            "get": {
                "tags": [
                    "HeavyBid Pre-Construction"
                ],
                "summary": "Gets all webhooks",
                "description": "List of all webhooks that belong to the calling client ID.",
                "operationId": "PreCon_GetWebhooks",
                "parameters": [
                    {
                        "name": "businessUnitId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-position": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PreConWebhook"
                                    }
                                },
                                "example": [
                                    {
                                        "companyId": "5729473f-0cfc-44cd-a6db-8da55ad698df",
                                        "businessUnitId": "6e7c5052-3e2b-4970-aa34-194b98564a48",
                                        "eventType": "ProjectCreated",
                                        "callbackUrl": "https://Webook.MySite.com",
                                        "dateCreated": "2024-01-12T11:23:29Z",
                                        "clientId": "abcd1234",
                                        "status": "Active",
                                        "secretKey": "K7gNU3sdo+OL0wNhqoVWhr3g6s1xYv72ol/pe/Unols=",
                                        "id": "fece1ad8-d5e2-43fa-b290-362193695099"
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
                    },
                    "403": {
                        "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "HeavyBid Pre-Construction"
                ],
                "summary": "Creates a subscription for an event",
                "description": "This endpoint takes in a callback URL, and a list of event types that you would like to receive updates for. During this request, HCSS will make a GET request to your callback URL with a query parameter called \"challenge\". Your endpoint must return a 200 OK with the challenge in the response. Once your callback URL has successfully responded to the challenge, you will begin to receive POST requests to the same URL. Information regarding the shape of these POST requests can be seen in the \"Callbacks\" section below.",
                "operationId": "PreCon_CreateSubscription",
                "parameters": [
                    {
                        "name": "businessUnitId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-position": 2
                    }
                ],
                "requestBody": {
                    "x-name": "dto",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PreConSubscribeDto"
                            },
                            "example": {
                                "url": "https://My.WebhookSite.com",
                                "eventTypes": [
                                    "ProjectChanged",
                                    "ProjectCreated",
                                    "SchemaChanged"
                                ],
                                "secretKey": "K7gNU3sdo+OL0wNhqoVWhr3g6s1xYv72ol/pe/Unols="
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "200": {
                        "description": "Success.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionResult"
                                },
                                "example": {
                                    "secretKey": "K7gNU3sdo+OL0wNhqoVWhr3g6s1xYv72ol/pe/Unols="
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
                    },
                    "403": {
                        "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
                    }
                },
                "callbacks": {
                    "Project Event": {
                        "www.myAmazingWebhook.com/precon/projectUpdates": {
                            "post": {
                                "requestBody": {
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "nullable": true,
                                                "example": {
                                                    "eventSource": "HeavyBid Pre-Construction",
                                                    "eventType": "ProjectCreated",
                                                    "entityUrl": "https://api.hcssapps.com/precon/api/v1/businessUnits/3dcd2fbe-a190-4c97-97b7-211ef63a348f/Projects/eaa9346c-7881-47cc-95d9-10fbffbbbbbe",
                                                    "version": "1",
                                                    "date": "2019-09-10T16:12:29Z",
                                                    "data": {
                                                        "companyId": "064779f0-36b1-46d4-b4df-3cd97bc4651e",
                                                        "businessUnitId": "3dcd2fbe-a190-4c97-97b7-211ef63a348f",
                                                        "projectId": "eaa9346c-7881-47cc-95d9-10fbffbbbbbe"
                                                    }
                                                },
                                                "oneOf": [
                                                    {
                                                        "$ref": "#/components/schemas/PreConSendProjectEventPayload"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "required": true
                                },
                                "responses": {
                                    "200": {
                                        "description": "Your server returns this code if it accepts the callback"
                                    }
                                }
                            }
                        }
                    },
                    "Schema Event": {
                        "www.myAmazingWebhook.com/precon/schemaUpdates": {
                            "post": {
                                "requestBody": {
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "nullable": true,
                                                "example": {
                                                    "eventSource": "HeavyBid Pre-Construction",
                                                    "eventType": "SchemaChanged",
                                                    "entityUrl": "https://api.hcssapps.com/precon/api/v1/businessUnits/3dcd2fbe-a190-4c97-97b7-211ef63a348f/Schemas/eaa9346c-7881-47cc-95d9-10fbffbbbbbe",
                                                    "version": "1",
                                                    "date": "2019-09-10T16:12:29Z",
                                                    "data": {
                                                        "companyId": "064779f0-36b1-46d4-b4df-3cd97bc4651e",
                                                        "businessUnitId": "3dcd2fbe-a190-4c97-97b7-211ef63a348f",
                                                        "schemaId": "eaa9346c-7881-47cc-95d9-10fbffbbbbbe"
                                                    }
                                                },
                                                "oneOf": [
                                                    {
                                                        "$ref": "#/components/schemas/PreConSendSchemaEventPayload"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "required": true
                                },
                                "responses": {
                                    "200": {
                                        "description": "Your server returns this code if it accepts the callback"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "HeavyBid Pre-Construction"
                ],
                "summary": "Updates a subscription for an event",
                "description": "This endpoint takes in a callback URL, and a list of event types that you would like to receive updates for. During this request, HCSS will make a GET request to your callback URL with a query parameter called \"challenge\". Your endpoint must return a 200 OK with the challenge in the response. Once your callback URL has successfully responded to the challenge, you will begin to receive POST requests to the same URL. Information regarding the shape of these POST requests can be seen in the \"Callbacks\" section below.",
                "operationId": "PreCon_UpdateSubscription",
                "parameters": [
                    {
                        "name": "businessUnitId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-position": 2
                    }
                ],
                "requestBody": {
                    "x-name": "dto",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PreConSubscribeDto"
                            },
                            "example": {
                                "url": "https://My.WebhookSite.com",
                                "eventTypes": [
                                    "ProjectChanged",
                                    "ProjectCreated",
                                    "SchemaChanged"
                                ],
                                "secretKey": "K7gNU3sdo+OL0wNhqoVWhr3g6s1xYv72ol/pe/Unols="
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "200": {
                        "description": "Success.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionResult"
                                },
                                "example": {
                                    "secretKey": "K7gNU3sdo+OL0wNhqoVWhr3g6s1xYv72ol/pe/Unols="
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
                    },
                    "403": {
                        "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
                    }
                },
                "callbacks": {
                    "Project Event": {
                        "www.myAmazingWebhook.com/precon/projectUpdates": {
                            "post": {
                                "requestBody": {
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "nullable": true,
                                                "example": {
                                                    "eventSource": "HeavyBid Pre-Construction",
                                                    "eventType": "ProjectCreated",
                                                    "entityUrl": "https://api.hcssapps.com/precon/api/v1/businessUnits/3dcd2fbe-a190-4c97-97b7-211ef63a348f/Projects/eaa9346c-7881-47cc-95d9-10fbffbbbbbe",
                                                    "version": "1",
                                                    "date": "2019-09-10T16:12:29Z",
                                                    "data": {
                                                        "companyId": "064779f0-36b1-46d4-b4df-3cd97bc4651e",
                                                        "businessUnitId": "3dcd2fbe-a190-4c97-97b7-211ef63a348f",
                                                        "projectId": "eaa9346c-7881-47cc-95d9-10fbffbbbbbe"
                                                    }
                                                },
                                                "oneOf": [
                                                    {
                                                        "$ref": "#/components/schemas/PreConSendProjectEventPayload"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "required": true
                                },
                                "responses": {
                                    "200": {
                                        "description": "Your server returns this code if it accepts the callback"
                                    }
                                }
                            }
                        }
                    },
                    "Schema Event": {
                        "www.myAmazingWebhook.com/precon/schemaUpdates": {
                            "post": {
                                "requestBody": {
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "nullable": true,
                                                "example": {
                                                    "eventSource": "HeavyBid Pre-Construction",
                                                    "eventType": "SchemaChanged",
                                                    "entityUrl": "https://api.hcssapps.com/precon/api/v1/businessUnits/3dcd2fbe-a190-4c97-97b7-211ef63a348f/Schemas/eaa9346c-7881-47cc-95d9-10fbffbbbbbe",
                                                    "version": "1",
                                                    "date": "2019-09-10T16:12:29Z",
                                                    "data": {
                                                        "companyId": "064779f0-36b1-46d4-b4df-3cd97bc4651e",
                                                        "businessUnitId": "3dcd2fbe-a190-4c97-97b7-211ef63a348f",
                                                        "schemaId": "eaa9346c-7881-47cc-95d9-10fbffbbbbbe"
                                                    }
                                                },
                                                "oneOf": [
                                                    {
                                                        "$ref": "#/components/schemas/PreConSendSchemaEventPayload"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "required": true
                                },
                                "responses": {
                                    "200": {
                                        "description": "Your server returns this code if it accepts the callback"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "HeavyBid Pre-Construction"
                ],
                "summary": "Delete a subscription",
                "description": "Delete a subscription",
                "operationId": "PreCon_DeleteSubscription",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "x-position": 1
                    },
                    {
                        "name": "businessUnitId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-position": 2
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
                    },
                    "403": {
                        "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/v1/heavyjob": {
            "get": {
                "tags": [
                    "HeavyJob"
                ],
                "summary": "Gets all webhooks",
                "description": "List of all webhooks that belong to the calling client ID.",
                "operationId": "HeavyJob_GetWebhooks",
                "responses": {
                    "200": {
                        "description": "Success.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/HeavyJobWebhook"
                                    }
                                },
                                "example": [
                                    {
                                        "companyId": "35836f3f-6145-45dc-a6ba-1a16dc499617",
                                        "jobId": "aebf4510-8e60-4051-b8e3-8a9766479ce2",
                                        "eventType": "CostCodeCreated",
                                        "callbackUrl": "https://Webook.MySite.com",
                                        "dateCreated": "2024-01-12T11:23:29Z",
                                        "clientId": "abcd1234",
                                        "status": "Active",
                                        "secretKey": "K7gNU3sdo+OL0wNhqoVWhr3g6s1xYv72ol/pe/Unols=",
                                        "id": "895f54a0-c61c-48dd-9400-08b0a07a8a18"
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
                    },
                    "403": {
                        "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "HeavyJob"
                ],
                "summary": "Creates a subscription for an event",
                "description": "This endpoint takes in a callback URL, and a list of event types that you would like to receive updates for. During this request, HCSS will make a GET request to your callback URL with a query parameter called \"challenge\". Your endpoint must return a 200 OK with the challenge in the response. Once your callback URL has successfully responded to the challenge, you will begin to receive POST requests to the same URL. Information regarding the shape of these POST requests can be seen in the \"Callbacks\" section below.",
                "operationId": "HeavyJob_CreateSubscription",
                "requestBody": {
                    "x-name": "dto",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HeavyJobSubscribeDto"
                            },
                            "example": {
                                "jobIds": [
                                    "b27f9aef-65bb-40c8-9afe-55df843cddcb",
                                    "728f75df-aa99-4d26-8ff0-d554dd96cb0a"
                                ],
                                "url": "https://My.WebhookSite.com",
                                "eventTypes": [
                                    "CostCodeCreated",
                                    "CostCodeDeleted",
                                    "CostCodeUpdated"
                                ],
                                "secretKey": "K7gNU3sdo+OL0wNhqoVWhr3g6s1xYv72ol/pe/Unols="
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "200": {
                        "description": "Success.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionResult"
                                },
                                "example": {
                                    "secretKey": "K7gNU3sdo+OL0wNhqoVWhr3g6s1xYv72ol/pe/Unols="
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
                    },
                    "403": {
                        "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
                    }
                },
                "callbacks": {
                    "Cost Code Event": {
                        "www.myAmazingWebhook.com/heavyjob/costCodeUpdates": {
                            "post": {
                                "requestBody": {
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "nullable": true,
                                                "example": {
                                                    "companyId": "064779f0-36b1-46d4-b4df-3cd97bc4651e",
                                                    "eventType": "CostCodeCreated",
                                                    "jobId": "eaa9346c-7881-47cc-95d9-10fbffbbbbbe",
                                                    "costCodeId": "7fe61203-fa5f-4d8c-a9ab-86eaf799e683"
                                                },
                                                "oneOf": [
                                                    {
                                                        "$ref": "#/components/schemas/HeavyJobCostCodeSendEventPayload"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "required": true
                                },
                                "responses": {
                                    "200": {
                                        "description": "Your server returns this code if it accepts the callback"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "HeavyJob"
                ],
                "summary": "Updates a subscription for an event",
                "description": "This endpoint takes in a callback URL, and a list of event types that you would like to receive updates for. During this request, HCSS will make a GET request to your callback URL with a query parameter called \"challenge\". Your endpoint must return a 200 OK with the challenge in the response. Once your callback URL has successfully responded to the challenge, you will begin to receive POST requests to the same URL. Information regarding the shape of these POST requests can be seen in the \"Callbacks\" section below.",
                "operationId": "HeavyJob_UpdateSubscription",
                "requestBody": {
                    "x-name": "dto",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HeavyJobSubscribeDto"
                            },
                            "example": {
                                "jobIds": [
                                    "b27f9aef-65bb-40c8-9afe-55df843cddcb",
                                    "728f75df-aa99-4d26-8ff0-d554dd96cb0a"
                                ],
                                "url": "https://My.WebhookSite.com",
                                "eventTypes": [
                                    "CostCodeCreated",
                                    "CostCodeDeleted",
                                    "CostCodeUpdated"
                                ],
                                "secretKey": "K7gNU3sdo+OL0wNhqoVWhr3g6s1xYv72ol/pe/Unols="
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "200": {
                        "description": "Success.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionResult"
                                },
                                "example": {
                                    "secretKey": "K7gNU3sdo+OL0wNhqoVWhr3g6s1xYv72ol/pe/Unols="
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
                    },
                    "403": {
                        "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
                    }
                },
                "callbacks": {
                    "Cost Code Event": {
                        "www.myAmazingWebhook.com/heavyjob/costCodeUpdates": {
                            "post": {
                                "requestBody": {
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "nullable": true,
                                                "example": {
                                                    "companyId": "064779f0-36b1-46d4-b4df-3cd97bc4651e",
                                                    "eventType": "CostCodeCreated",
                                                    "jobId": "eaa9346c-7881-47cc-95d9-10fbffbbbbbe",
                                                    "costCodeId": "7fe61203-fa5f-4d8c-a9ab-86eaf799e683"
                                                },
                                                "oneOf": [
                                                    {
                                                        "$ref": "#/components/schemas/HeavyJobCostCodeSendEventPayload"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "required": true
                                },
                                "responses": {
                                    "200": {
                                        "description": "Your server returns this code if it accepts the callback"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "HeavyJob"
                ],
                "summary": "Delete a subscription",
                "description": "Delete a subscription",
                "operationId": "HeavyJob_DeleteSubscription",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "x-position": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information."
                    },
                    "403": {
                        "description": "Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information."
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "SetupsWebhook": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/BaseWebhookOfSetupsEventType"
                    },
                    {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                            "companyId": {
                                "type": "string",
                                "format": "guid"
                            }
                        }
                    }
                ]
            },
            "BaseWebhookOfSetupsEventType": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                        "type": "object",
                        "x-abstract": true,
                        "additionalProperties": false,
                        "required": [
                            "secretKey"
                        ],
                        "properties": {
                            "eventType": {
                                "$ref": "#/components/schemas/SetupsEventType"
                            },
                            "callbackUrl": {
                                "type": "string",
                                "nullable": true
                            },
                            "dateCreated": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "clientId": {
                                "type": "string"
                            },
                            "status": {
                                "$ref": "#/components/schemas/Status"
                            },
                            "secretKey": {
                                "type": "string",
                                "minLength": 1
                            }
                        }
                    }
                ]
            },
            "SetupsEventType": {
                "type": "string",
                "description": "",
                "x-enumNames": [
                    "BusinessUnitCreated",
                    "BusinessUnitUpdated",
                    "BusinessUnitDeleted",
                    "EmployeeCreated",
                    "EmployeeUpdated",
                    "EmployeeDeleted",
                    "EquipmentCreated",
                    "EquipmentUpdated",
                    "EquipmentDeleted",
                    "LocationCreated",
                    "LocationUpdated",
                    "LocationDeleted"
                ],
                "enum": [
                    "BusinessUnitCreated",
                    "BusinessUnitUpdated",
                    "BusinessUnitDeleted",
                    "EmployeeCreated",
                    "EmployeeUpdated",
                    "EmployeeDeleted",
                    "EquipmentCreated",
                    "EquipmentUpdated",
                    "EquipmentDeleted",
                    "LocationCreated",
                    "LocationUpdated",
                    "LocationDeleted"
                ]
            },
            "Status": {
                "type": "string",
                "description": "",
                "x-enumNames": [
                    "Active",
                    "Stopped",
                    "Deleted"
                ],
                "enum": [
                    "Active",
                    "Stopped",
                    "Deleted"
                ]
            },
            "BaseEntity": {
                "type": "object",
                "x-abstract": true,
                "additionalProperties": false,
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "guid"
                    }
                }
            },
            "SubscriptionResult": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "secretKey": {
                        "type": "string"
                    }
                }
            },
            "SetupsSubscribeDto": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/BaseSubscribeDtoOfSetupsEventType"
                    },
                    {
                        "type": "object",
                        "additionalProperties": false
                    }
                ]
            },
            "BaseSubscribeDtoOfSetupsEventType": {
                "type": "object",
                "x-abstract": true,
                "additionalProperties": false,
                "properties": {
                    "url": {
                        "type": "string",
                        "description": "The callback URL. This is where the webhook notifications will be sent."
                    },
                    "eventTypes": {
                        "type": "array",
                        "description": "The available event types for subscription. You can subscribe to either one or all of the events.",
                        "items": {
                            "$ref": "#/components/schemas/SetupsEventType"
                        }
                    },
                    "secretKey": {
                        "type": "string",
                        "description": "The optional secret key. This key is used to calculate hash of the response payload and included in the header.\nIf not provided, HCSS will generate a random key and include it in the response."
                    }
                }
            },
            "SetupsSendEventPayload": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "companyId": {
                        "type": "string",
                        "format": "guid"
                    },
                    "eventType": {
                        "$ref": "#/components/schemas/SetupsEventType"
                    },
                    "businessUnitId": {
                        "type": "string",
                        "format": "guid",
                        "nullable": true
                    },
                    "id": {
                        "type": "string",
                        "format": "guid",
                        "nullable": true
                    }
                }
            },
            "PreConWebhook": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/BaseWebhookOfPreConEventType"
                    },
                    {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                            "companyId": {
                                "type": "string",
                                "format": "guid"
                            },
                            "businessUnitId": {
                                "type": "string",
                                "format": "guid"
                            }
                        }
                    }
                ]
            },
            "BaseWebhookOfPreConEventType": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                        "type": "object",
                        "x-abstract": true,
                        "additionalProperties": false,
                        "required": [
                            "secretKey"
                        ],
                        "properties": {
                            "eventType": {
                                "$ref": "#/components/schemas/PreConEventType"
                            },
                            "callbackUrl": {
                                "type": "string",
                                "nullable": true
                            },
                            "dateCreated": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "clientId": {
                                "type": "string"
                            },
                            "status": {
                                "$ref": "#/components/schemas/Status"
                            },
                            "secretKey": {
                                "type": "string",
                                "minLength": 1
                            }
                        }
                    }
                ]
            },
            "PreConEventType": {
                "type": "string",
                "description": "",
                "x-enumNames": [
                    "ProjectCreated",
                    "ProjectChanged",
                    "ProjectDeleted",
                    "SchemaChanged"
                ],
                "enum": [
                    "ProjectCreated",
                    "ProjectChanged",
                    "ProjectDeleted",
                    "SchemaChanged"
                ]
            },
            "PreConSubscribeDto": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/BaseSubscribeDtoOfPreConEventType"
                    },
                    {
                        "type": "object",
                        "additionalProperties": false
                    }
                ]
            },
            "BaseSubscribeDtoOfPreConEventType": {
                "type": "object",
                "x-abstract": true,
                "additionalProperties": false,
                "properties": {
                    "url": {
                        "type": "string",
                        "description": "The callback URL. This is where the webhook notifications will be sent."
                    },
                    "eventTypes": {
                        "type": "array",
                        "description": "The available event types for subscription. You can subscribe to either one or all of the events.",
                        "items": {
                            "$ref": "#/components/schemas/PreConEventType"
                        }
                    },
                    "secretKey": {
                        "type": "string",
                        "description": "The optional secret key. This key is used to calculate hash of the response payload and included in the header.\nIf not provided, HCSS will generate a random key and include it in the response."
                    }
                }
            },
            "PreConSendProjectEventPayload": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/PreConSendEventPayloadBaseOfPreConSendProjectEventData"
                    },
                    {
                        "type": "object",
                        "additionalProperties": false
                    }
                ]
            },
            "PreConSendEventPayloadBaseOfPreConSendProjectEventData": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "eventSource": {
                        "type": "string"
                    },
                    "eventType": {
                        "$ref": "#/components/schemas/PreConEventType"
                    },
                    "entityUrl": {
                        "type": "string"
                    },
                    "version": {
                        "type": "string"
                    },
                    "date": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/PreConSendProjectEventData"
                    }
                }
            },
            "PreConSendProjectEventData": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/PreConSendEventDataBase"
                    },
                    {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                            "projectId": {
                                "type": "string",
                                "format": "guid"
                            }
                        }
                    }
                ]
            },
            "PreConSendEventDataBase": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "companyId": {
                        "type": "string",
                        "format": "guid"
                    },
                    "businessUnitId": {
                        "type": "string",
                        "format": "guid"
                    }
                }
            },
            "PreConSendSchemaEventPayload": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/PreConSendEventPayloadBaseOfPreConSendSchemaEventData"
                    },
                    {
                        "type": "object",
                        "additionalProperties": false
                    }
                ]
            },
            "PreConSendEventPayloadBaseOfPreConSendSchemaEventData": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "eventSource": {
                        "type": "string"
                    },
                    "eventType": {
                        "$ref": "#/components/schemas/PreConEventType"
                    },
                    "entityUrl": {
                        "type": "string"
                    },
                    "version": {
                        "type": "string"
                    },
                    "date": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/PreConSendSchemaEventData"
                    }
                }
            },
            "PreConSendSchemaEventData": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/PreConSendEventDataBase"
                    },
                    {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                            "schemaId": {
                                "type": "string"
                            }
                        }
                    }
                ]
            },
            "HeavyJobWebhook": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/BaseWebhookOfHeavyJobEventType"
                    },
                    {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                            "companyId": {
                                "type": "string",
                                "format": "guid"
                            },
                            "jobId": {
                                "type": "string",
                                "format": "guid"
                            }
                        }
                    }
                ]
            },
            "BaseWebhookOfHeavyJobEventType": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                        "type": "object",
                        "x-abstract": true,
                        "additionalProperties": false,
                        "required": [
                            "secretKey"
                        ],
                        "properties": {
                            "eventType": {
                                "$ref": "#/components/schemas/HeavyJobEventType"
                            },
                            "callbackUrl": {
                                "type": "string",
                                "nullable": true
                            },
                            "dateCreated": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "clientId": {
                                "type": "string"
                            },
                            "status": {
                                "$ref": "#/components/schemas/Status"
                            },
                            "secretKey": {
                                "type": "string",
                                "minLength": 1
                            }
                        }
                    }
                ]
            },
            "HeavyJobEventType": {
                "type": "string",
                "description": "",
                "x-enumNames": [
                    "CostCodeCreated",
                    "CostCodeUpdated",
                    "CostCodeDeleted"
                ],
                "enum": [
                    "CostCodeCreated",
                    "CostCodeUpdated",
                    "CostCodeDeleted"
                ]
            },
            "HeavyJobSubscribeDto": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/BaseSubscribeDtoOfHeavyJobEventType"
                    },
                    {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                            "jobIds": {
                                "type": "array",
                                "description": "The optional job guids. If provided only events pertaining to these jobs will be notified. If you want to get notified for all the jobs, do not include JobIds in the request. It is possible to subscribe to more than 1 job.",
                                "nullable": true,
                                "items": {
                                    "type": "string",
                                    "format": "guid"
                                }
                            }
                        }
                    }
                ]
            },
            "BaseSubscribeDtoOfHeavyJobEventType": {
                "type": "object",
                "x-abstract": true,
                "additionalProperties": false,
                "properties": {
                    "url": {
                        "type": "string",
                        "description": "The callback URL. This is where the webhook notifications will be sent."
                    },
                    "eventTypes": {
                        "type": "array",
                        "description": "The available event types for subscription. You can subscribe to either one or all of the events.",
                        "items": {
                            "$ref": "#/components/schemas/HeavyJobEventType"
                        }
                    },
                    "secretKey": {
                        "type": "string",
                        "description": "The optional secret key. This key is used to calculate hash of the response payload and included in the header.\nIf not provided, HCSS will generate a random key and include it in the response."
                    }
                }
            },
            "HeavyJobCostCodeSendEventPayload": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/HeavyJobSendEventPayloadBase"
                    },
                    {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                            "eventType": {
                                "$ref": "#/components/schemas/HeavyJobEventType"
                            },
                            "jobId": {
                                "type": "string",
                                "format": "guid"
                            },
                            "costCodeId": {
                                "type": "string",
                                "format": "guid"
                            }
                        }
                    }
                ]
            },
            "HeavyJobSendEventPayloadBase": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "companyId": {
                        "type": "string",
                        "format": "guid"
                    }
                }
            }
        },
        "securitySchemes": {
            "bearer": {
                "type": "oauth2",
                "description": "oauth2",
                "flows": {
                    "clientCredentials": {
                        "tokenUrl": "https://api.hcssapps.com/identity/connect/token",
                        "scopes": {
                            "precon:read": "precon:read",
                            "dis:read": "dis:read",
                            "heavyjob:read": "heavyjob:read"
                        }
                    },
                    "authorizationCode": {
                        "tokenUrl": "https://api.hcssapps.com/identity/connect/token",
                        "authorizationUrl": "https://api.hcssapps.com/identity/connect/authorize",
                        "scopes": {
                            "precon:read": "precon:read",
                            "dis:read": "dis:read",
                            "heavyjob:read": "heavyjob:read"
                        }
                    }
                }
            }
        }
    },
    "x-generator": "NSwag v13.19.0.0 (NJsonSchema v10.9.0.0 (Newtonsoft.Json v13.0.0.0))"
}