openapi: 3.0.1
info:
  title: HeavyJob API
  description: Get time cards, materials, budgets, and more. Operations require the 'heavyjob:read', 'heavyjob:write', 'timecards:read', or 'timecards:write' scope. For help with authorization, please visit https://developer.hcssapps.com/getting-started/request-token.
  version: v1
  termsOfService: https://support.hcss.com.
  contact:
    name: Heavy Construction Systems Specialists, Inc. (HCSS)
    url: https://support.hcss.com/
    email: support@hcss.com
  license:
    name: EULA
    url: https://support.hcss.com.
servers:
  - url: https://api.hcssapps.com/heavyjob
security:
  - bearer:
      - heavyjob:read
      - heavyjob:write
      - timecards:read
      - timecards:write
      - heavyjob:users:read
      - heavyjob:users:write
paths:
  /api/v1/accessGroup:
    get:
      tags:
        - AccessGroup
      summary: Returns access groups
      description: This call will return a list of access groups.
      operationId: AccessGroupController_GetAllRoles
      parameters:
        - name: isDeleted
          in: query
          description: If true, returns deleted access groups.
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiAccessGroupRead'
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:users:read
  /api/v1/accountingValues/search:
    post:
      tags:
        - Accounting
      summary: Returns a list of accounting values that satisfy the filter criteria.
      operationId: AccountingController_GetAccountingValuesAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingValuesSearchRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AccountingValuesSearchRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AccountingValuesSearchRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAccountingValuesReadPaginatedResponse'
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/rateSetGroupAccountingValues/search:
    post:
      tags:
        - Accounting
      summary: Returns a list of rate set group accounting values that satisfy the filter criteria.
      operationId: AccountingController_GetRateSetGroupAccountingValuesAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateSetGroupAccountingValuesSearchRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/RateSetGroupAccountingValuesSearchRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RateSetGroupAccountingValuesSearchRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAccountingValuesReadPaginatedResponse'
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/jobs/{jobId}/advancedBudgets/material:
    get:
      tags:
        - AdvancedBudget
      summary: Returns material advanced budgets
      description: "This call will return a list of material advanced budgets (i.e., the cartesian product of material cost types and cost codes) \r\nfor the specified job, purchase order, discontinued status or deleted status."
      operationId: AdvancedBudgetController_GetMaterialsAdvancedBudget
      parameters:
        - name: jobId
          in: path
          description: The job id to query by.
          required: true
          schema:
            type: string
            format: uuid
        - name: purchaseOrderId
          in: query
          description: The purchase order id to query by.
          schema:
            type: string
            format: uuid
        - name: isDiscontinued
          in: query
          description: If true, returns discontinued material advanced budgets.
          schema:
            type: boolean
        - name: isDeleted
          in: query
          description: If true, returns deleted material advanced budgets.
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiMaterialAdvancedBudgetRead'
              example:
                - id: 6d343fd2-8a25-428d-ade7-6309577969cd
                  jobMaterialId: 93404c70-18a5-438e-875b-fc47f7031367
                  materialDescription: ' material description'
                  purchaseOrderId: 788837e9-492e-47f3-9a28-299f49967f04
                  costCode: cost code
                  costCodeDescription: cost code description
                  salesTaxPercent: 8.25
                  unitCost: 50.5
                  unitOfMeasure: EA
                  vendorId: ebb2645b-8f2e-4a07-a0c1-9db48723f7e8
                  isDeleted: false
                  materialBusinessUnitId: bbc8fc73-87ac-4968-bd43-4809b8291f69
                  costCodeId: cd81addc-ba92-422e-814b-7d2363a167bf
                  purchaseOrderDetailId: 7f3fdac4-9a25-4c74-afea-78b4d7bea623
                  status: active
                  quantity: 100.1
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/advancedBudgets/material:
    post:
      tags:
        - AdvancedBudget
      summary: Creates material advanced budget
      description: Creates a new material advanced budget with the information provided.
      operationId: AdvancedBudgetController_CreateMaterialAdvancedBudget
      requestBody:
        description: The material advanced budget to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiMaterialAdvancedBudgetWrite'
            example:
              costCodeId: 7b2184ad-e3d5-4064-a73d-549deb2c88c2
              purchaseOrderDetailId: cd9cd863-5229-4c7a-b5a0-ea10508203c9
              status: active
              quantity: 67.2
          text/json:
            schema:
              $ref: '#/components/schemas/ApiMaterialAdvancedBudgetWrite'
            example:
              costCodeId: 7b2184ad-e3d5-4064-a73d-549deb2c88c2
              purchaseOrderDetailId: cd9cd863-5229-4c7a-b5a0-ea10508203c9
              status: active
              quantity: 67.2
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiMaterialAdvancedBudgetWrite'
            example:
              costCodeId: 7b2184ad-e3d5-4064-a73d-549deb2c88c2
              purchaseOrderDetailId: cd9cd863-5229-4c7a-b5a0-ea10508203c9
              status: active
              quantity: 67.2
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMaterialAdvancedBudgetRead'
              example:
                id: 6d343fd2-8a25-428d-ade7-6309577969cd
                jobMaterialId: 93404c70-18a5-438e-875b-fc47f7031367
                materialDescription: ' material description'
                purchaseOrderId: 788837e9-492e-47f3-9a28-299f49967f04
                costCode: cost code
                costCodeDescription: cost code description
                salesTaxPercent: 8.25
                unitCost: 50.5
                unitOfMeasure: EA
                vendorId: ebb2645b-8f2e-4a07-a0c1-9db48723f7e8
                isDeleted: false
                materialBusinessUnitId: bbc8fc73-87ac-4968-bd43-4809b8291f69
                costCodeId: cd81addc-ba92-422e-814b-7d2363a167bf
                purchaseOrderDetailId: 7f3fdac4-9a25-4c74-afea-78b4d7bea623
                status: active
                quantity: 100.1
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:write
  /api/v1/jobs/{jobId}/advancedBudgets/subcontract:
    get:
      tags:
        - AdvancedBudget
      summary: Returns subcontract work item advanced budgets
      description: "This call will return a list of subcontract item advanced budgets (i.e., the cartesian product of subcontract cost types and cost codes)\r\nfor the specified job."
      operationId: AdvancedBudgetController_GetSubcontractsAdvancedBudget
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: vendorContractId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiSubcontractAdvancedBudgetRead'
              example:
                - id: 7a6560ce-c0b7-429f-9cf7-6fe4589024cd
                  jobSubcontractId: 11a1eff4-e213-4036-a49e-2b7d8de66d71
                  subcontractDescription: subcontract description
                  vendorContractId: 307a88ff-4171-46fd-8c24-8992907915e0
                  costCode: cost code
                  costCodeDescription: cost code description
                  salesTaxPercent: 8.25
                  unitCost: 50.5
                  unitOfMeasure: EA
                  vendorId: dd3fd638-e86e-466e-8265-3f688f57573a
                  mWorkItemBusinessUnitId: 2dcad479-bacf-47c2-94b7-f2dd830c637b
                  costCodeId: dfb7f751-7839-4dce-ad65-70e6e26f2a7f
                  vendorContractDetailId: b5ac8592-e6c7-4f23-acd7-914a5afb336a
                  status: active
                  quantity: 100.1
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/advancedBudgets/subcontract:
    post:
      tags:
        - AdvancedBudget
      summary: Creates subcontract advanced budget
      description: This call creates a new subcontract advanced budget with the information provided.
      operationId: AdvancedBudgetController_CreateSubcontractAdvancedBudget
      requestBody:
        description: The subcontract budget to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiSubcontractAdvancedBudgetWrite'
            example:
              costCodeId: 7b2184ad-e3d5-4064-a73d-549deb2c88c2
              vendorContractDetailId: 842684f8-48ba-4961-b27a-d6e2cc38d758
              status: active
              quantity: 25.9
          text/json:
            schema:
              $ref: '#/components/schemas/ApiSubcontractAdvancedBudgetWrite'
            example:
              costCodeId: 7b2184ad-e3d5-4064-a73d-549deb2c88c2
              vendorContractDetailId: 842684f8-48ba-4961-b27a-d6e2cc38d758
              status: active
              quantity: 25.9
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiSubcontractAdvancedBudgetWrite'
            example:
              costCodeId: 7b2184ad-e3d5-4064-a73d-549deb2c88c2
              vendorContractDetailId: 842684f8-48ba-4961-b27a-d6e2cc38d758
              status: active
              quantity: 25.9
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSubcontractAdvancedBudgetRead'
              example:
                id: 7a6560ce-c0b7-429f-9cf7-6fe4589024cd
                jobSubcontractId: 11a1eff4-e213-4036-a49e-2b7d8de66d71
                subcontractDescription: subcontract description
                vendorContractId: 307a88ff-4171-46fd-8c24-8992907915e0
                costCode: cost code
                costCodeDescription: cost code description
                salesTaxPercent: 8.25
                unitCost: 50.5
                unitOfMeasure: EA
                vendorId: dd3fd638-e86e-466e-8265-3f688f57573a
                mWorkItemBusinessUnitId: 2dcad479-bacf-47c2-94b7-f2dd830c637b
                costCodeId: dfb7f751-7839-4dce-ad65-70e6e26f2a7f
                vendorContractDetailId: b5ac8592-e6c7-4f23-acd7-914a5afb336a
                status: active
                quantity: 100.1
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:write
  /api/v1/jobs/{jobId}/advancedBudgets/custom:
    get:
      tags:
        - AdvancedBudget
      summary: Returns a list of user-defined custom cost-type items advanced budget (i.e., the cartesian product of custom cost types and cost codes).
      operationId: AdvancedBudgetController_GetCustomCostTypesAdvancedBudget
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: purchaseOrderId
          in: query
          schema:
            type: string
            format: uuid
        - name: isDiscontinued
          in: query
          schema:
            type: boolean
        - name: isDeleted
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCustomCostTypeItemAdvancedBudgetRead'
              example:
                - id: e3b25848-6f73-4a4b-a6dc-110d4fe7103b
                  jobCustomCostTypeItemId: eb6d7734-54e6-4f4f-af3f-dec47523d286
                  customCostTypeItemDescription: cost type item description
                  purchaseOrderId: c73428d8-957c-4af6-ac31-9917343d36f8
                  costCode: cost code
                  costCodeDescription: cost code description
                  salesTaxPercent: 8.25
                  unitCost: 50.5
                  unitOfMeasure: EA
                  vendorId: adb5dc2e-a3b2-4024-a95b-6b1c8e26d6c4
                  isDeleted: false
                  mCostTypeItemBusinessUnitId: 344fc7a7-5701-4128-983e-88b2472f999f
                  costCodeId: 90ddbc51-af18-444f-b708-d6393fa3376b
                  purchaseOrderDetailId: fe35f271-bed7-4dfc-a244-9592329c8f1c
                  status: active
                  quantity: 100.1
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/advancedBudgets/custom:
    post:
      tags:
        - AdvancedBudget
      summary: Creates a new custom-cost-type item advanced budget.
      operationId: AdvancedBudgetController_CreateCustomCostTypeItemAdvancedBudget
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiCustomCostTypeItemAdvancedBudgetWrite'
            example:
              costCodeId: 7b2184ad-e3d5-4064-a73d-549deb2c88c2
              purchaseOrderDetailId: cd9cd863-5229-4c7a-b5a0-ea10508203c9
              status: active
              quantity: 12.35
          text/json:
            schema:
              $ref: '#/components/schemas/ApiCustomCostTypeItemAdvancedBudgetWrite'
            example:
              costCodeId: 7b2184ad-e3d5-4064-a73d-549deb2c88c2
              purchaseOrderDetailId: cd9cd863-5229-4c7a-b5a0-ea10508203c9
              status: active
              quantity: 12.35
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiCustomCostTypeItemAdvancedBudgetWrite'
            example:
              costCodeId: 7b2184ad-e3d5-4064-a73d-549deb2c88c2
              purchaseOrderDetailId: cd9cd863-5229-4c7a-b5a0-ea10508203c9
              status: active
              quantity: 12.35
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCustomCostTypeItemAdvancedBudgetRead'
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:write
  /api/v1/attachment:
    post:
      tags:
        - Attachment
      summary: Saves an attachment
      description: Used in conjunction with the <a href="https://developer.hcssapps.com/products/attachments/spec/tag/Files/#tag/Files/operation/Post" target="_blank">Attachments API</a> to associate an attachment to a foreman for a given date and job.
      operationId: AttachmentController_SaveAttachment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAttachmentWrite'
            example:
              transactionDate: '2023-07-01T00:00:00'
              jobId: 8d6b8063-0465-48c1-b507-671ef42e29a9
              foremanId: d01d3fb9-c579-4cb7-b405-60c7eaa791ec
              attachmentInfos:
                - fileId: b0959a79-0534-43e2-baa3-fdfeca64be1e
                  note: This is the attachment note
          text/json:
            schema:
              $ref: '#/components/schemas/ApiAttachmentWrite'
            example:
              transactionDate: '2023-07-01T00:00:00'
              jobId: 8d6b8063-0465-48c1-b507-671ef42e29a9
              foremanId: d01d3fb9-c579-4cb7-b405-60c7eaa791ec
              attachmentInfos:
                - fileId: b0959a79-0534-43e2-baa3-fdfeca64be1e
                  note: This is the attachment note
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiAttachmentWrite'
            example:
              transactionDate: '2023-07-01T00:00:00'
              jobId: 8d6b8063-0465-48c1-b507-671ef42e29a9
              foremanId: d01d3fb9-c579-4cb7-b405-60c7eaa791ec
              attachmentInfos:
                - fileId: b0959a79-0534-43e2-baa3-fdfeca64be1e
                  note: This is the attachment note
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:write
  /api/v1/bulkCreateJobsRequest/search:
    post:
      tags:
        - BulkCreateJobsRequest
      summary: Returns bulk job creation requests
      description: "<span style='color: white; background-color: red; font-weight: bold; padding: 5px;'>VOLATILE</span>\n\t\t<span>The query parameters and responses are likely to change. Do not use this operation for mission-critical applications yet.</span>\n\t\t<br /><br />This call will return a list bulk job creation requests for the specified business unit id, batch id(s) or created between a date range."
      operationId: BulkCreateJobsRequestController_GetBulkCreateJobsRequestsAsync
      requestBody:
        description: The filter request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiBulkCreateJobsRequestSearch'
            example:
              businessUnitId: 885fcc1b-a726-4545-8a6d-e7e149102e22
              batchRequestIds:
                - 6cc2d3e3-d1cc-430e-95a6-fdfefe0155cd
              startDate: '2019-01-01T00:00:00'
              endDate: '2019-01-01T00:00:00'
              analyzeFromSingleJobData: true
          text/json:
            schema:
              $ref: '#/components/schemas/ApiBulkCreateJobsRequestSearch'
            example:
              businessUnitId: 885fcc1b-a726-4545-8a6d-e7e149102e22
              batchRequestIds:
                - 6cc2d3e3-d1cc-430e-95a6-fdfefe0155cd
              startDate: '2019-01-01T00:00:00'
              endDate: '2019-01-01T00:00:00'
              analyzeFromSingleJobData: true
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiBulkCreateJobsRequestSearch'
            example:
              businessUnitId: 885fcc1b-a726-4545-8a6d-e7e149102e22
              batchRequestIds:
                - 6cc2d3e3-d1cc-430e-95a6-fdfefe0155cd
              startDate: '2019-01-01T00:00:00'
              endDate: '2019-01-01T00:00:00'
              analyzeFromSingleJobData: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiBulkCreateJobsRequestRead'
              example:
                - id: 7473f866-5fca-4396-98ce-89c6f30f988b
                  businessUnitId: 885fcc1b-a726-4545-8a6d-e7e149102e22
                  parameters: '{"canOverwrite":false,"sourceJobId":"6cc2d3e3-d1cc-430e-95a6-fdfefe0155cd","copyOptions":[]}'
                  requestedOnDate: '2019-01-01T00:00:00'
                  jobsRequested: 5
                  userId: 3655dc7b-6c88-4db7-ae22-ba0f4bebde15
                  status: complete
                  user:
                    id: 417dbe8c-a769-4887-b37c-747bcf4354b0
                    firstName: James
                    lastName: Smith
                    email: example@hcss.com
                  errorMessage: An error has occured.
                  completedOnDate: '2019-01-01T00:00:00'
                  sourceFile: Example.xlsx
                  jobsCreated: 5
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/singleCreateJobsRequest/search:
    post:
      tags:
        - BulkCreateJobsRequest
      summary: Returns single job creation requests.
      description: "<span style='color: white; background-color: red; font-weight: bold; padding: 5px;'>VOLATILE</span>\n\t\t<span>The query parameters and responses are likely to change. Do not use this operation for mission-critical applications yet.</span>\n\t\t<br /><br />This endpoint will return information about individual jobs that were part of a bulk create request."
      operationId: BulkCreateJobsRequestController_GetSingleCreateJobsRequestAsync
      requestBody:
        description: The criteria used to search for the job creation information. If both bulk request IDs and single request IDs are provided, all the single IDs must be part of one of the bulk requests provided.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiSingleCreateJobRequestSearch'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiSingleCreateJobRequestSearch'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiSingleCreateJobRequestSearch'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiSingleCreateJobRequestRead'
              example:
                - id: 7f98d111-8bce-4ec5-a7ed-f75ab6c4927b
                  jobId: 624ebd06-b32a-47ab-81f1-4d4c60ae347a
                  requestId: 51996a67-cbb6-4c82-bb16-2f7f5e2dbb80
                  requestedOnDate: '2019-01-01T00:00:00'
                  jobCode: JobCode
                  parameters: ''
                  status: complete
                  errorMessage: An error has occured.
                  errorDetails: These are some extra details about this error.
                  completedOnDate: '2019-01-01T00:00:00'
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
        '404':
          description: The specified resource is not found.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/businessUnits:
    get:
      tags:
        - BusinessUnit
      summary: Returns business units
      description: This call returns a list of business units.
      operationId: BusinessUnitController_GetBusinessUnits
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiBusinessUnitRead'
              example:
                - id: 4a5d0072-9e2e-48b3-a37e-571bd296ca06
                  credentialsId: 28e49efc-7bea-49c3-ba40-f88448cdc987
                  code: MANAGER
                  description: main business unit
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/businessUnits/{id}/preferences:
    get:
      tags:
        - BusinessUnitPreference
      summary: Gets the list of preferences for the business unit.
      operationId: BusinessUnitPreferenceController_GetBusinessUnitPreferencesAsync
      parameters:
        - name: id
          in: path
          description: ID of the business unit that the preferences belong to.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBusinessUnitPreferencesRead'
              example:
                defaultLaborRateSetId: cd0aa29d-86fe-427e-8746-ead5d739cd65
                defaultPayClassId: da5d4157-0bc2-4364-8cad-72c5fc1b3a52
                defaultEquipmentRateSetId: 626aecd6-1ccb-4be1-ae3e-d07d095f877d
                startOfPayWeek: tuesday
                truckingCostTypeId: d7041413-6554-4596-950f-ff96434ab163
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
    put:
      tags:
        - BusinessUnitPreference
      summary: Gets the list of preferences for the business unit.
      operationId: BusinessUnitPreferenceController_UpdateBusinessUnitPreferencesAsync
      parameters:
        - name: id
          in: path
          description: ID of the business unit that the preferences belong to.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The preferences to update for the business unit.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiBusinessUnitPreferencesWrite'
            example:
              defaultLaborRateSetId: cd0aa29d-86fe-427e-8746-ead5d739cd65
              defaultEquipmentRateSetId: 626aecd6-1ccb-4be1-ae3e-d07d095f877d
              startOfPayWeek: tuesday
          text/json:
            schema:
              $ref: '#/components/schemas/ApiBusinessUnitPreferencesWrite'
            example:
              defaultLaborRateSetId: cd0aa29d-86fe-427e-8746-ead5d739cd65
              defaultEquipmentRateSetId: 626aecd6-1ccb-4be1-ae3e-d07d095f877d
              startOfPayWeek: tuesday
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiBusinessUnitPreferencesWrite'
            example:
              defaultLaborRateSetId: cd0aa29d-86fe-427e-8746-ead5d739cd65
              defaultEquipmentRateSetId: 626aecd6-1ccb-4be1-ae3e-d07d095f877d
              startOfPayWeek: tuesday
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:write
  /api/v1/changeOrder:
    get:
      tags:
        - ChangeOrder
      summary: Finds a change order by id.
      operationId: ChangeOrderController_GetChangeOrderAsync
      parameters:
        - name: id
          in: query
          description: The change order id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiChangeOrderRead'
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
    delete:
      tags:
        - ChangeOrder
      summary: Deletes a change order by id.
      operationId: ChangeOrderController_DeleteChangeOrderAsync
      parameters:
        - name: id
          in: query
          description: The change order id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:write
    post:
      tags:
        - ChangeOrder
      summary: Creates a change order.
      operationId: ChangeOrderController_CreateChangeOrderAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiChangeOrderWrite'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiChangeOrderWrite'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiChangeOrderWrite'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiChangeOrderRead'
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:write
    patch:
      tags:
        - ChangeOrder
      summary: Updates a change order.
      operationId: ChangeOrderController_UpdateChangeOrderAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiChangeOrderPatch'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiChangeOrderPatch'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiChangeOrderPatch'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:write
  /api/v1/changeOrdersByJob:
    get:
      tags:
        - ChangeOrder
      summary: Finds all change orders by job id.
      operationId: ChangeOrderController_GetChangeOrdersByJobAsync
      parameters:
        - name: id
          in: query
          description: The job id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiChangeOrderRead'
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/changeOrdersByBU:
    get:
      tags:
        - ChangeOrder
      summary: Finds all change orders by business unit id.
      operationId: ChangeOrderController_GetChangeOrdersByBUAsync
      parameters:
        - name: id
          in: query
          description: The business unit id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiChangeOrderRead'
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/changeOrderChangesByBU:
    get:
      tags:
        - ChangeOrder
      summary: Finds all change orders by business unit id that have been updated since a given timestamp.
      operationId: ChangeOrderController_GetMobileChangeOrdersByBUAsync
      parameters:
        - name: id
          in: query
          description: The business unit id
          required: true
          schema:
            type: string
            format: uuid
        - name: lastSyncTime
          in: query
          description: The last timestamp used when this data was requested
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiChangeOrderMobileRead'
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/changeOrderIncrementor:
    get:
      tags:
        - ChangeOrder
      summary: Finds the change order incrementor data by business unit id.
      operationId: ChangeOrderController_GetChangeOrdersIncrementorAsync
      parameters:
        - name: id
          in: query
          description: The business unit id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiChangeOrderIncrementorRead'
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/jobs/{jobId}/costs:
    get:
      tags:
        - Cost
      summary: Returns job costs
      description: This call returns job costs for the specified job, effective date or start date.
      operationId: CostController_GetJobCosts
      parameters:
        - name: jobId
          in: path
          description: The job id to query by.
          required: true
          schema:
            type: string
            format: uuid
        - name: effectiveDate
          in: query
          description: The effective date of the costs. If omitted, returns all costs including any future costs.
          schema:
            type: string
            format: date-time
        - name: startDate
          in: query
          description: The starting date to calculate costs. If omitted, returns all costs from the beginning of the job.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiJobCostRead'
              example:
                jobId: 61300b34-5fc7-4271-a638-6af37ad1813b
                totalCost: 556867.4
                costCodeCosts:
                  - costCodeId: 7261c280-1124-433f-abf8-b04f657cf5b4
                    equipmentCost: 1000.5
                    equipmentHours: 10.2
                    laborCost: 2000.6
                    laborHours: 25.3
                    materialCost: 3000.1
                    subcontractCost: 4000.6
                    truckingCost: 300.5
                    quantity: 100.6
                    customCostTypeValues:
                      - costCategoryCode: HAUL
                        costCategoryDescription: Debris removal
                        costCategoryId: ea4d944a-a10f-46f8-984d-69673b47a994
                        cost: 546565.1
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
        '404':
          description: The specified resource is not found.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/jobCosts:
    get:
      tags:
        - Cost
      summary: Returns job costs associated with a cost code
      description: This call returns a paginated list of job costs associated with a cost code for a specified cost code, effective date or start date.
      operationId: CostController_GetJobCostByCostCode
      parameters:
        - name: costCodeId
          in: query
          description: The cost code id.
          required: true
          schema:
            type: string
            format: uuid
        - name: effectiveDate
          in: query
          description: The effective date of the costs. If omitted, returns all costs including any future costs.
          schema:
            type: string
            format: date-time
        - name: startDate
          in: query
          description: The starting date to calculate costs. If omitted, returns all costs from the beginning of the job.
          schema:
            type: string
            format: date-time
        - name: cursor
          in: query
          description: Optional.  When there are additional results, the metadata nextCursor field should be passed to retrieve the next page of results.
          schema:
            type: string
        - name: limit
          in: query
          description: The maximum number of results that should be returned.
          schema:
            type: integer
            format: int32
            default: 1000
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCostCodeCostDetailsReadPaginatedResponse'
              example:
                results:
                  - costCodeId: caa64fa0-6ac7-4bb8-af0c-354ca3475338
                    foremanId: 04d4e7ba-1793-45e0-bff1-df6d38f6bcfa
                    date: '2019-12-13T00:00:00Z'
                    quantity: 10.5
                    equipmentCost: 518
                    equipmentHours: 7
                    laborCost: 318.87
                    laborHours: 8.75
                    materialCost: 2
                    subcontractCost: 3
                    truckingCost: 4.5
                metadata:
                  nextCursor: DGDS93EaYwDQj4ggr0meNz6T7vkZpDqxLFIs2leWDww
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/jobCosts/advancedRequest:
    post:
      tags:
        - Cost
      summary: Returns costs and hours spent per cost code
      description: This call returns a paginated list of costs and hours spent per cost code for the specified business unit, cost codes, jobs, foremen, or date range.
      operationId: CostController_QueryJobCosts
      requestBody:
        description: Set of filters for the request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCodeTransactionAdvancedRead'
            example:
              businessUnitId: 81aa06f2-46ec-457f-9b35-ae6e05d4dbef
              costCodeIds:
                - 5d05001a-acde-4203-a38c-684bb5f47a33
              jobIds:
                - 565947f8-528c-4667-9351-8db02eab1157
              jobTagIds:
                - 39bda327-ada0-4aab-ab03-a3fe621cc547
              foremanIds:
                - c28aee2e-6e0e-4c91-a82a-931417c12f9e
              startDate: '2022-08-06T00:00:00'
              endDate: '2022-08-06T00:00:00'
              cursor: gCpeihFB1whbiZt1qIf1TbhL8TPbeRP2
              limit: 500
          text/json:
            schema:
              $ref: '#/components/schemas/CostCodeTransactionAdvancedRead'
            example:
              businessUnitId: 81aa06f2-46ec-457f-9b35-ae6e05d4dbef
              costCodeIds:
                - 5d05001a-acde-4203-a38c-684bb5f47a33
              jobIds:
                - 565947f8-528c-4667-9351-8db02eab1157
              jobTagIds:
                - 39bda327-ada0-4aab-ab03-a3fe621cc547
              foremanIds:
                - c28aee2e-6e0e-4c91-a82a-931417c12f9e
              startDate: '2022-08-06T00:00:00'
              endDate: '2022-08-06T00:00:00'
              cursor: gCpeihFB1whbiZt1qIf1TbhL8TPbeRP2
              limit: 500
          application/*+json:
            schema:
              $ref: '#/components/schemas/CostCodeTransactionAdvancedRead'
            example:
              businessUnitId: 81aa06f2-46ec-457f-9b35-ae6e05d4dbef
              costCodeIds:
                - 5d05001a-acde-4203-a38c-684bb5f47a33
              jobIds:
                - 565947f8-528c-4667-9351-8db02eab1157
              jobTagIds:
                - 39bda327-ada0-4aab-ab03-a3fe621cc547
              foremanIds:
                - c28aee2e-6e0e-4c91-a82a-931417c12f9e
              startDate: '2022-08-06T00:00:00'
              endDate: '2022-08-06T00:00:00'
              cursor: gCpeihFB1whbiZt1qIf1TbhL8TPbeRP2
              limit: 500
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCostCodeCostDetailsReadPaginatedResponse'
              example:
                results:
                  - costCodeId: caa64fa0-6ac7-4bb8-af0c-354ca3475338
                    foremanId: 04d4e7ba-1793-45e0-bff1-df6d38f6bcfa
                    date: '2019-12-13T00:00:00Z'
                    quantity: 10.5
                    equipmentCost: 518
                    equipmentHours: 7
                    laborCost: 318.87
                    laborHours: 8.75
                    materialCost: 2
                    subcontractCost: 3
                    truckingCost: 4.5
                metadata:
                  nextCursor: DGDS93EaYwDQj4ggr0meNz6T7vkZpDqxLFIs2leWDww
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v2/jobCosts/advancedRequest:
    post:
      tags:
        - Cost
      summary: Returns job costs
      description: This call returns a paginated list of job costs.
      operationId: CostController_QueryJobCostsV2
      requestBody:
        description: The request object for getting job costs.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCodeTransactionAdvancedRead'
            example:
              businessUnitId: 81aa06f2-46ec-457f-9b35-ae6e05d4dbef
              costCodeIds:
                - 5d05001a-acde-4203-a38c-684bb5f47a33
              jobIds:
                - 565947f8-528c-4667-9351-8db02eab1157
              jobTagIds:
                - 39bda327-ada0-4aab-ab03-a3fe621cc547
              foremanIds:
                - c28aee2e-6e0e-4c91-a82a-931417c12f9e
              startDate: '2022-08-06T00:00:00'
              endDate: '2022-08-06T00:00:00'
              cursor: gCpeihFB1whbiZt1qIf1TbhL8TPbeRP2
              limit: 500
          text/json:
            schema:
              $ref: '#/components/schemas/CostCodeTransactionAdvancedRead'
            example:
              businessUnitId: 81aa06f2-46ec-457f-9b35-ae6e05d4dbef
              costCodeIds:
                - 5d05001a-acde-4203-a38c-684bb5f47a33
              jobIds:
                - 565947f8-528c-4667-9351-8db02eab1157
              jobTagIds:
                - 39bda327-ada0-4aab-ab03-a3fe621cc547
              foremanIds:
                - c28aee2e-6e0e-4c91-a82a-931417c12f9e
              startDate: '2022-08-06T00:00:00'
              endDate: '2022-08-06T00:00:00'
              cursor: gCpeihFB1whbiZt1qIf1TbhL8TPbeRP2
              limit: 500
          application/*+json:
            schema:
              $ref: '#/components/schemas/CostCodeTransactionAdvancedRead'
            example:
              businessUnitId: 81aa06f2-46ec-457f-9b35-ae6e05d4dbef
              costCodeIds:
                - 5d05001a-acde-4203-a38c-684bb5f47a33
              jobIds:
                - 565947f8-528c-4667-9351-8db02eab1157
              jobTagIds:
                - 39bda327-ada0-4aab-ab03-a3fe621cc547
              foremanIds:
                - c28aee2e-6e0e-4c91-a82a-931417c12f9e
              startDate: '2022-08-06T00:00:00'
              endDate: '2022-08-06T00:00:00'
              cursor: gCpeihFB1whbiZt1qIf1TbhL8TPbeRP2
              limit: 500
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCostCodeCostDetailsReadV2PaginatedResponse'
              example:
                results:
                  - job:
                      jobId: 921fc6c2-2f7e-427f-8928-8f39258fc048
                      jobCode: Job1
                      jobDescription: Job1 in BU 1
                    costCode:
                      costCodeId: 821b1f09-fe76-4cb4-850f-a0f2d695ed5e
                      costCodeCode: cost code 1
                      costCodeDescription: cc1 desc
                    foreman:
                      employeeId: f698213f-aa83-4851-b55d-c88baca6e3bd
                      employeeCode: Employee 1
                      employeeFirstName: James
                      employeeLastName: Smith
                    entryType: foreman
                    date: '2019-12-12T00:00:00Z'
                    quantity: 0.25
                    equipmentCost: 370
                    equipmentHours: 5
                    laborCost: 208.17
                    laborHours: 6.25
                    materialCost: 0
                    subcontractCost: 0
                    truckingCost: 0
                  - job:
                      jobId: 921fc6c2-2f7e-427f-8928-8f39258fc048
                      jobCode: Job1
                      jobDescription: Job1 in BU 1
                    costCode:
                      costCodeId: 821b1f09-fe76-4cb4-850f-a0f2d695ed5e
                      costCodeCode: cost code 1
                      costCodeDescription: cc1 desc
                    foreman:
                      employeeId: f698213f-aa83-4851-b55d-c88baca6e3bd
                      employeeCode: Employee 1
                      employeeFirstName: James
                      employeeLastName: Smith
                    entryType: foreman
                    date: '2019-12-13T00:00:00Z'
                    quantity: 10.5
                    equipmentCost: 518
                    equipmentHours: 7
                    laborCost: 318.87
                    laborHours: 8.75
                    materialCost: 2
                    subcontractCost: 3
                    truckingCost: 4.5
                metadata:
                  nextCursor: DGDS93EaYwDQj4ggr0meNz6T7vkZpDqxLFIs2leWDww
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/jobCostsToDate/search:
    post:
      tags:
        - Cost
      summary: Returns a paginated list of job costs.
      description: "This call returns a paginated list of costs and hours spent per cost code for \r\nthe specified business unit, cost codes, jobs, or foremen.\r\nYou must request at least one of the following: businessUnitId, jobIds, jobTagIds, or costCodeIds."
      operationId: CostController_QueryJobCostsToDate
      requestBody:
        description: Set of filters for the request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostToDateSearchRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CostToDateSearchRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CostToDateSearchRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCostCodeCostDetailsToDateReadPaginatedResponse'
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/jobCostCustomCosts/advancedRequest:
    post:
      tags:
        - Cost
      summary: Returns a paginated list of job cost custom costs.
      operationId: CostController_QueryJobCostCustomCosts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCodeTransactionAdvancedRead'
            example:
              businessUnitId: 81aa06f2-46ec-457f-9b35-ae6e05d4dbef
              costCodeIds:
                - 5d05001a-acde-4203-a38c-684bb5f47a33
              jobIds:
                - 565947f8-528c-4667-9351-8db02eab1157
              jobTagIds:
                - 39bda327-ada0-4aab-ab03-a3fe621cc547
              foremanIds:
                - c28aee2e-6e0e-4c91-a82a-931417c12f9e
              startDate: '2022-08-06T00:00:00'
              endDate: '2022-08-06T00:00:00'
              cursor: gCpeihFB1whbiZt1qIf1TbhL8TPbeRP2
              limit: 500
          text/json:
            schema:
              $ref: '#/components/schemas/CostCodeTransactionAdvancedRead'
            example:
              businessUnitId: 81aa06f2-46ec-457f-9b35-ae6e05d4dbef
              costCodeIds:
                - 5d05001a-acde-4203-a38c-684bb5f47a33
              jobIds:
                - 565947f8-528c-4667-9351-8db02eab1157
              jobTagIds:
                - 39bda327-ada0-4aab-ab03-a3fe621cc547
              foremanIds:
                - c28aee2e-6e0e-4c91-a82a-931417c12f9e
              startDate: '2022-08-06T00:00:00'
              endDate: '2022-08-06T00:00:00'
              cursor: gCpeihFB1whbiZt1qIf1TbhL8TPbeRP2
              limit: 500
          application/*+json:
            schema:
              $ref: '#/components/schemas/CostCodeTransactionAdvancedRead'
            example:
              businessUnitId: 81aa06f2-46ec-457f-9b35-ae6e05d4dbef
              costCodeIds:
                - 5d05001a-acde-4203-a38c-684bb5f47a33
              jobIds:
                - 565947f8-528c-4667-9351-8db02eab1157
              jobTagIds:
                - 39bda327-ada0-4aab-ab03-a3fe621cc547
              foremanIds:
                - c28aee2e-6e0e-4c91-a82a-931417c12f9e
              startDate: '2022-08-06T00:00:00'
              endDate: '2022-08-06T00:00:00'
              cursor: gCpeihFB1whbiZt1qIf1TbhL8TPbeRP2
              limit: 500
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCostCodeCustomCostDetailsReadPaginatedResponse'
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/costCodes/{costCodeId}/costs:
    get:
      tags:
        - Cost
      summary: Returns cost code costs
      description: This list returns a list of cost code costs.
      operationId: CostController_GetCostCodeCosts
      parameters:
        - name: costCodeId
          in: path
          description: The cost code id.
          required: true
          schema:
            type: string
            format: uuid
        - name: effectiveDate
          in: query
          description: The effective date of the costs. If omitted, returns all costs including any future costs.
          schema:
            type: string
            format: date-time
        - name: startDate
          in: query
          description: The starting date to calculate costs. If omitted, returns all costs from the beginning of the job.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCostCodeCostRead'
              example:
                costCodeId: 7261c280-1124-433f-abf8-b04f657cf5b4
                equipmentCost: 1000.5
                equipmentHours: 10.2
                laborCost: 2000.6
                laborHours: 25.3
                materialCost: 3000.1
                subcontractCost: 4000.6
                truckingCost: 300.5
                quantity: 100.6
                customCostTypeValues:
                  - costCategoryCode: HAUL
                    costCategoryDescription: Debris removal
                    costCategoryId: ea4d944a-a10f-46f8-984d-69673b47a994
                    cost: 546565.1
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
    put:
      tags:
        - Cost
      summary: Sets costs for the cost code by creating adjustments.
      description: To adjust the trucking cost, use the associated custom cost type from the business unit preferences.
      operationId: CostController_UpdateCostCodeCosts
      parameters:
        - name: costCodeId
          in: path
          description: The cost code id.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The cost.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiCostCodeCostWrite'
            example:
              effectiveDate: '2019-01-01'
              equipmentCost: 100.5
              equipmentHours: 150.2
              laborCost: 20220.6
              laborHours: 25.6
              materialCost: 300.1
              subcontractCost: 400.6
              quantity: 100.6
              customCostTypeValues:
                - costCategoryId: a20517ce-113f-442d-9e7b-e1ee7c786d4d
                  cost: 46565.1
          text/json:
            schema:
              $ref: '#/components/schemas/ApiCostCodeCostWrite'
            example:
              effectiveDate: '2019-01-01'
              equipmentCost: 100.5
              equipmentHours: 150.2
              laborCost: 20220.6
              laborHours: 25.6
              materialCost: 300.1
              subcontractCost: 400.6
              quantity: 100.6
              customCostTypeValues:
                - costCategoryId: a20517ce-113f-442d-9e7b-e1ee7c786d4d
                  cost: 46565.1
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiCostCodeCostWrite'
            example:
              effectiveDate: '2019-01-01'
              equipmentCost: 100.5
              equipmentHours: 150.2
              laborCost: 20220.6
              laborHours: 25.6
              materialCost: 300.1
              subcontractCost: 400.6
              quantity: 100.6
              customCostTypeValues:
                - costCategoryId: a20517ce-113f-442d-9e7b-e1ee7c786d4d
                  cost: 46565.1
        required: true
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:write
  /api/v1/businessUnits/{businessUnitId}/costAdjustments:
    get:
      tags:
        - CostAdjustment
      summary: Returns a list of cost adjustments.
      operationId: CostAdjustmentController_GetCostAdjustments
      parameters:
        - name: businessUnitId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCostAdjustmentRead'
              example:
                - id: 6fb30455-27ad-47db-a0f5-e90fa12e2a84
                  businessUnitId: 07c00dc0-aecf-45bd-bf9e-74628188b3c7
                  code: CostAdjustment1
                  description: Cost Adjustment 1
                  applyCost: true
                  applyToAllHours: false
                  isTaxable: true
                  isActive: true
                  type: quantity
                  accountingCode: Accounting Code
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
    post:
      tags:
        - CostAdjustment
      summary: Creates cost adjustment
      description: This call creates a new cost adjustment.
      operationId: CostAdjustmentController_CreateCostAdjustment
      parameters:
        - name: businessUnitId
          in: path
          description: The business unit id.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The cost adjustment to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiCostAdjustmentWrite'
            example:
              code: CostAdjustment
              description: Cost Adjustment Description
              applyToAllHours: false
              isTaxable: true
              isActive: true
              type: quantity
              accountingCode: Accounting Code
          text/json:
            schema:
              $ref: '#/components/schemas/ApiCostAdjustmentWrite'
            example:
              code: CostAdjustment
              description: Cost Adjustment Description
              applyToAllHours: false
              isTaxable: true
              isActive: true
              type: quantity
              accountingCode: Accounting Code
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiCostAdjustmentWrite'
            example:
              code: CostAdjustment
              description: Cost Adjustment Description
              applyToAllHours: false
              isTaxable: true
              isActive: true
              type: quantity
              accountingCode: Accounting Code
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCostAdjustmentRead'
              example:
                id: ff76af83-e765-4a81-bd3d-427e1c640bac
                businessUnitId: 93bfd2f6-400e-47cd-82bb-45c62c3b23e5
                code: CostAdjustment
                description: Cost Adjustment Description
                applyCost: true
                applyToAllHours: false
                isTaxable: true
                isActive: true
                type: quantity
                accountingCode: Accounting Code
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:write
  /api/v1/costAdjustments/{id}:
    put:
      tags:
        - CostAdjustment
      summary: Updates an existing cost adjustment by its id.
      operationId: CostAdjustmentController_UpdateCostAdjustment
      parameters:
        - name: id
          in: path
          description: The id of the existing cost adjustment.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The new parameters for the cost adjustment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiCostAdjustmentWrite'
            example:
              code: CostAdjustment
              description: Cost Adjustment Description
              applyToAllHours: false
              isTaxable: true
              isActive: true
              type: quantity
              accountingCode: Accounting Code
          text/json:
            schema:
              $ref: '#/components/schemas/ApiCostAdjustmentWrite'
            example:
              code: CostAdjustment
              description: Cost Adjustment Description
              applyToAllHours: false
              isTaxable: true
              isActive: true
              type: quantity
              accountingCode: Accounting Code
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiCostAdjustmentWrite'
            example:
              code: CostAdjustment
              description: Cost Adjustment Description
              applyToAllHours: false
              isTaxable: true
              isActive: true
              type: quantity
              accountingCode: Accounting Code
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:write
    delete:
      tags:
        - CostAdjustment
      summary: Deletes a cost adjustment by its id.
      operationId: CostAdjustmentController_DeleteCostAdjustment
      parameters:
        - name: id
          in: path
          description: The cost adjustment id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:write
  /api/v1/costCodes:
    get:
      tags:
        - CostCode
      summary: Returns cost codes
      description: This call returns a list of cost codes with accounting values, if available, given business unit, job, cost code or accounting template.
      operationId: CostCodeController_GetCostCodesV1Async
      parameters:
        - name: accountingTemplateName
          in: query
          description: If specified, returns accounting values for this template instead of the default template.
          schema:
            type: string
        - name: jobId
          in: query
          description: Filters the list of cost codes by job
          schema:
            type: string
            format: uuid
        - name: businessUnitId
          in: query
          description: Filters the list of cost codes by business unit
          schema:
            type: string
            format: uuid
        - name: costCodeId
          in: query
          description: Return a single cost code
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: The maximum number of results that should be returned.
          schema:
            type: integer
            format: int32
            default: 1000
        - name: cursor
          in: query
          description: "When there are additional results, the metadata nextCursor \r\nfield should be passed to retrieve the next page of results."
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCostCodeWithAccountingValuesReadPaginatedResponse'
              example:
                results:
                  - accountingCode: Account Code 1
                    code: COSTCODE
                    description: This is a cost code.
                    businessUnitId: 03b9b2d2-9af6-4bc5-9517-fd0d8e448d0c
                    businessUnitCode: BUCODE
                    jobId: 78d3a94d-8e3b-4b7f-a833-ccb6bd3d2a52
                    jobCode: JOBCODE
                    isHiddenFromMobile: false
                    quantityDrivingEntityType: none
                    payItemId: d40f89e3-6729-4fb2-b452-e4639af0ce2a
                    payItem: pay item
                    payItemFactor: 2
                    isPayItemDriver: true
                    quantity: 100.12
                    unitOfMeasure: EA
                    status: active
                    historicalActivityCode: ''
                    historicalBiditem: ''
                    heavyBidEstimateCode: ''
                    isCapExpected: true
                    isTm: false
                    workersCompId: 39beef34-21dc-4f8c-a894-37de8b4563f0
                    workersCompCode: WORKERSCOMPCODE
                    workersCompDescription: Workers Comp Description
                    laborHours: 5.5
                    equipmentHours: 2.5
                    laborDollars: 10000.25
                    equipmentDollars: 2500.75
                    materialDollars: 2890.1
                    subcontractDollars: 1500.4
                    supplyDollars: 8989.3
                    customCostTypeDollars:
                      - costCategoryId: 5147d92e-159e-44f4-bfeb-361eae15388d
                        costCategoryCode: HAUL
                        costCategoryDescription: Debris removal.
                        budgetedCost: 2322.1
                    isDeleted: false
                    id: 85f16824-83a3-4c49-a402-0b48c607e1cb
                metadata:
                  nextCursor: DGDS93EaYwDQj4ggr0meNz6T7vkZpDqxLFIs2leWDww
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
    post:
      tags:
        - CostCode
      summary: Creates a new cost code with accounting values.
      description: The code will be uppercased and trimmed of whitespace.
      operationId: CostCodeController_CreateCostCode
      parameters:
        - name: accountingTemplateName
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiCostCodeWithAccountingValuesWrite'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiCostCodeWithAccountingValuesWrite'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiCostCodeWithAccountingValuesWrite'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCostCodeWithAccountingValuesRead'
              example:
                accountingCode: Account Code 1
                code: COSTCODE
                description: This is a cost code.
                businessUnitId: 03b9b2d2-9af6-4bc5-9517-fd0d8e448d0c
                businessUnitCode: BUCODE
                jobId: 78d3a94d-8e3b-4b7f-a833-ccb6bd3d2a52
                jobCode: JOBCODE
                isHiddenFromMobile: false
                quantityDrivingEntityType: none
                payItemId: d40f89e3-6729-4fb2-b452-e4639af0ce2a
                payItem: pay item
                payItemFactor: 2
                isPayItemDriver: true
                quantity: 100.12
                unitOfMeasure: EA
                status: active
                historicalActivityCode: ''
                historicalBiditem: ''
                heavyBidEstimateCode: ''
                isCapExpected: true
                isTm: false
                workersCompId: 39beef34-21dc-4f8c-a894-37de8b4563f0
                workersCompCode: WORKERSCOMPCODE
                workersCompDescription: Workers Comp Description
                laborHours: 5.5
                equipmentHours: 2.5
                laborDollars: 10000.25
                equipmentDollars: 2500.75
                materialDollars: 2890.1
                subcontractDollars: 1500.4
                supplyDollars: 8989.3
                customCostTypeDollars:
                  - costCategoryId: 5147d92e-159e-44f4-bfeb-361eae15388d
                    costCategoryCode: HAUL
                    costCategoryDescription: Debris removal.
                    budgetedCost: 2322.1
                isDeleted: false
                id: 85f16824-83a3-4c49-a402-0b48c607e1cb
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:write
    patch:
      tags:
        - CostCode
      summary: Creates or updates cost codes (up to 10000)
      description: "Creates or updates cost codes on the specified job.\r\n\r\nThis endpoint currently only supports the adding or updating of cost codes across \r\na single job. If more than one job ID is specified, the request will be rejected."
      operationId: CostCodeController_UpsertCostCodes
      requestBody:
        description: The list of cost codes to be added or updated.
        content:
          application/json:
            schema:
              maxItems: 10000
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/ApiCostCodeUpsert'
            example:
              - supplyDollars: 8989.3
                removePayItem: false
                jobId: 8033a2c3-c2b3-4ec0-acb0-0d21cd7446ac
                code: COSTCODE1
                description: Cost Code 1 Desc.
                quantity: 100.5
                unitOfMeasure: TON
                laborHours: 5.5
                equipmentHours: 2.5
                laborDollars: 10000.25
                equipmentDollars: 2500.75
                materialDollars: 2890.1
                subcontractDollars: 1500.4
                status: active
                note: Cost code note.
                historicalActivityCode: 09091F
                isTm: true
                isHiddenFromMobile: false
                isCapExpected: false
                payItemId: 0e151185-1262-4a83-bc99-6bfe43f0e866
                payItemFactor: 1
                isPayItemDriver: true
          text/json:
            schema:
              maxItems: 10000
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/ApiCostCodeUpsert'
            example:
              - supplyDollars: 8989.3
                removePayItem: false
                jobId: 8033a2c3-c2b3-4ec0-acb0-0d21cd7446ac
                code: COSTCODE1
                description: Cost Code 1 Desc.
                quantity: 100.5
                unitOfMeasure: TON
                laborHours: 5.5
                equipmentHours: 2.5
                laborDollars: 10000.25
                equipmentDollars: 2500.75
                materialDollars: 2890.1
                subcontractDollars: 1500.4
                status: active
                note: Cost code note.
                historicalActivityCode: 09091F
                isTm: true
                isHiddenFromMobile: false
                isCapExpected: false
                payItemId: 0e151185-1262-4a83-bc99-6bfe43f0e866
                payItemFactor: 1
                isPayItemDriver: true
          application/*+json:
            schema:
              maxItems: 10000
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/ApiCostCodeUpsert'
            example:
              - supplyDollars: 8989.3
                removePayItem: false
                jobId: 8033a2c3-c2b3-4ec0-acb0-0d21cd7446ac
                code: COSTCODE1
                description: Cost Code 1 Desc.
                quantity: 100.5
                unitOfMeasure: TON
                laborHours: 5.5
                equipmentHours: 2.5
                laborDollars: 10000.25
                equipmentDollars: 2500.75
                materialDollars: 2890.1
                subcontractDollars: 1500.4
                status: active
                note: Cost code note.
                historicalActivityCode: 09091F
                isTm: true
                isHiddenFromMobile: false
                isCapExpected: false
                payItemId: 0e151185-1262-4a83-bc99-6bfe43f0e866
                payItemFactor: 1
                isPayItemDriver: true
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:write
  /api/v2/costCodes:
    get:
      tags:
        - CostCode
      summary: Returns cost codes
      description: This call returns a list of cost codes with accounting values, if available, given business unit, job, cost code, accounting template or modified since date.
      operationId: CostCodeController_GetCostCodesV2Async
      parameters:
        - name: accountingTemplateName
          in: query
          description: If specified, returns accounting values for this template instead of the default template.
          schema:
            type: string
        - name: jobId
          in: query
          description: Filters the list of cost codes by job
          schema:
            type: string
            format: uuid
        - name: businessUnitId
          in: query
          description: Filters the list of cost codes by business unit
          schema:
            type: string
            format: uuid
        - name: costCodeId
          in: query
          description: Return a single cost code
          schema:
            type: string
            format: uuid
        - name: isDeleted
          in: query
          description: If true, only include deleted cost codes. If false, only include non-deleted cost codes. If null, include all.
          schema:
            type: boolean
        - name: limit
          in: query
          description: The maximum number of results that should be returned.
          schema:
            type: integer
            format: int32
            default: 1000
        - name: cursor
          in: query
          description: "<param name=\"modifiedSince \">The timestamp you want to see the changes from. (optional)</param>\r\n            When there are additional results, the metadata nextCursor \r\n            field should be passed to retrieve the next page of results."
          schema:
            type: string
        - name: modifiedSince
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCostCodeWithAccountingValuesReadV2PaginatedResponse'
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v2/costCodes/advancedRequest:
    post:
      tags:
        - CostCode
      summary: Returns cost codes
      description: This call returns a list of cost codes for the specified business unit, jobs, cost codes, or accounting template
      operationId: CostCodeController_GetCostCodesAdvancedRequestV2Async
      requestBody:
        description: The request object for getting cost codes.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiCostCodeAdvancedRequestV2'
            example:
              businessUnitId: d03c8427-83f3-4f71-8eba-e89a7ea8ec1a
              jobIds:
                - 6d4f91a3-5871-44af-9c0c-7ed6492697ae
                - ed631a56-af60-45c2-bd2b-3223c26c0513
              costCodeIds:
                - db343a7e-e298-4754-ba53-21bb3256c3fd
                - 5b8e1c2e-ce62-4671-989c-1b0310167850
              cursor: gCpeihFB1whbiZt1qIf1TbhL8TPbeRP2
              accountingTemplateName: Accounting Template
              limit: 500
          text/json:
            schema:
              $ref: '#/components/schemas/ApiCostCodeAdvancedRequestV2'
            example:
              businessUnitId: d03c8427-83f3-4f71-8eba-e89a7ea8ec1a
              jobIds:
                - 6d4f91a3-5871-44af-9c0c-7ed6492697ae
                - ed631a56-af60-45c2-bd2b-3223c26c0513
              costCodeIds:
                - db343a7e-e298-4754-ba53-21bb3256c3fd
                - 5b8e1c2e-ce62-4671-989c-1b0310167850
              cursor: gCpeihFB1whbiZt1qIf1TbhL8TPbeRP2
              accountingTemplateName: Accounting Template
              limit: 500
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiCostCodeAdvancedRequestV2'
            example:
              businessUnitId: d03c8427-83f3-4f71-8eba-e89a7ea8ec1a
              jobIds:
                - 6d4f91a3-5871-44af-9c0c-7ed6492697ae
                - ed631a56-af60-45c2-bd2b-3223c26c0513
              costCodeIds:
                - db343a7e-e298-4754-ba53-21bb3256c3fd
                - 5b8e1c2e-ce62-4671-989c-1b0310167850
              cursor: gCpeihFB1whbiZt1qIf1TbhL8TPbeRP2
              accountingTemplateName: Accounting Template
              limit: 500
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCostCodeWithAccountingValuesReadPaginatedResponse'
              example:
                results:
                  - accountingCode: Account Code 1
                    code: COSTCODE
                    description: This is a cost code.
                    businessUnitId: 03b9b2d2-9af6-4bc5-9517-fd0d8e448d0c
                    businessUnitCode: BUCODE
                    jobId: 78d3a94d-8e3b-4b7f-a833-ccb6bd3d2a52
                    jobCode: JOBCODE
                    isHiddenFromMobile: false
                    quantityDrivingEntityType: none
                    payItemId: d40f89e3-6729-4fb2-b452-e4639af0ce2a
                    payItem: pay item
                    payItemFactor: 2
                    isPayItemDriver: true
                    quantity: 100.12
                    unitOfMeasure: EA
                    status: active
                    historicalActivityCode: ''
                    historicalBiditem: ''
                    heavyBidEstimateCode: ''
                    isCapExpected: true
                    isTm: false
                    workersCompId: 39beef34-21dc-4f8c-a894-37de8b4563f0
                    workersCompCode: WORKERSCOMPCODE
                    workersCompDescription: Workers Comp Description
                    laborHours: 5.5
                    equipmentHours: 2.5
                    laborDollars: 10000.25
                    equipmentDollars: 2500.75
                    materialDollars: 2890.1
                    subcontractDollars: 1500.4
                    supplyDollars: 8989.3
                    customCostTypeDollars:
                      - costCategoryId: 5147d92e-159e-44f4-bfeb-361eae15388d
                        costCategoryCode: HAUL
                        costCategoryDescription: Debris removal.
                        budgetedCost: 2322.1
                    isDeleted: false
                    id: 85f16824-83a3-4c49-a402-0b48c607e1cb
                metadata:
                  nextCursor: DGDS93EaYwDQj4ggr0meNz6T7vkZpDqxLFIs2leWDww
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/costCodes/search:
    post:
      tags:
        - CostCode
      summary: Returns cost codes
      description: "<span style='color: white; background-color: red; font-weight: bold; padding: 5px;'>VOLATILE</span>\n\t\t<span>The query parameters and responses are likely to change. Do not use this operation for mission-critical applications yet.</span>\n\t\t<br /><br />This call returns a list of cost codes for the specified business unit, jobs, job tags, and cost codes"
      operationId: CostCodeController_GetCostCodesSearchAsync
      requestBody:
        description: The request object for getting cost codes.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiCostCodeSearchRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiCostCodeSearchRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiCostCodeSearchRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCostCodeWithJobReadPaginatedResponse'
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/costCodes/customCostTypes:
    patch:
      tags:
        - CostCode
      summary: Creates or updates budgets for a list of cost code and custom cost type combination
      operationId: CostCodeController_CreateOrUpdateCustomCostTypeBudgetsAsync
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ApiCostCodeCustomCostTypeBudgetWrite'
            example:
              - costCodeId: cdc4561c-a864-404d-abd8-986daa185b12
                customCostTypeId: 6d89d035-b418-4f8e-9402-2cbf5f1060c9
                budgetedCost: 1000.25
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ApiCostCodeCustomCostTypeBudgetWrite'
            example:
              - costCodeId: cdc4561c-a864-404d-abd8-986daa185b12
                customCostTypeId: 6d89d035-b418-4f8e-9402-2cbf5f1060c9
                budgetedCost: 1000.25
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ApiCostCodeCustomCostTypeBudgetWrite'
            example:
              - costCodeId: cdc4561c-a864-404d-abd8-986daa185b12
                customCostTypeId: 6d89d035-b418-4f8e-9402-2cbf5f1060c9
                budgetedCost: 1000.25
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:write
  /api/v1/costCode/progress/advancedRequest:
    post:
      tags:
        - CostCodeProgress
      summary: Returns a list of quantities for a given date range, job Id and other optional parameters.
      operationId: CostCodeProgressController_GetCostCodeProgressAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCodeProgressAdvancedRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CostCodeProgressAdvancedRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CostCodeProgressAdvancedRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCostCodeProgressReadPaginatedResponse'
        '400':
          description: Bad Request. See https://developer.hcssapps.com/getting-started/troubleshoot-bad-request for more information.
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer:
            - heavyjob:read
  /api/v1/costCodeSetupFilters:
    get:
      tags:
[...]
