openapi: 3.0.0
info:
  title: HeavyBid Estimate Insights API
  description: Integrate with synced HeavyBid data. Operations require the 'heavybid:read' scope.
  termsOfService: https://support.hcss.com.
  contact:
    name: Heavy Construction Systems Specialists, Inc. (HCSS)
    url: https://support.hcss.com/
    email: support@hcss.com
  license:
    name: EULA
    url: https://support.hcss.com.
  version: v2
servers:
  - url: https://api.hcssapps.com/heavybid
security:
  - bearer:
      - heavybid:read
      - heavybid:write
      - heavybid:system:read
      - heavybid:system:write
paths:
  /api/v2/integration/businessunits/{businessUnitId}/activities:
    get:
      tags:
        - Activities
      summary: Get All Activities
      description: |-
        Get All Activities



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetAllActivityAsync
      parameters:
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
        - name: includeExcludedEstimates
          in: query
          description: Whether the pull biditems that have been marked as "excluded" and are not used in calculations.
          schema:
            type: boolean
            default: false
          x-position: 3
        - name: $top
          in: query
          description: The max number of records. (e.g. $top=10)
          schema:
            type: string
            default: ''
        - name: $skip
          in: query
          description: The number of records to skip. (e.g. $skip=5)
          schema:
            type: string
            default: ''
        - name: $filter
          in: query
          description: A function that must evaluate to true for a record to be returned. (e.g. $filter=estimateId eq c9804e19-acbf-4db2-adaa-04d344dbcc1b)
          schema:
            type: string
            default: ''
        - name: $orderby
          in: query
          description: Determines what values are used to order a collection of records. (e.g. $orderby=filters/typeOfWork desc)
          schema:
            type: string
            default: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseOfActivityIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/activities/{id}:
    get:
      tags:
        - Activities
      summary: Get an Activity by Id
      description: |-
        Get an Activity by Id



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetActivity
      parameters:
        - name: id
          in: path
          required: true
          description: The required activity id.
          schema:
            type: string
            format: guid
          x-position: 1
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseSingleOfActivityIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/activitycodebook:
    get:
      tags:
        - Activity Codebook
      summary: Retrieves all activity codebook activities for a business unit.
      description: |-
        Retrieves all activity codebook activities for a business unit.



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetAllActivityCodebookAsync
      parameters:
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
        - name: $top
          in: query
          description: The max number of records. (e.g. $top=10)
          schema:
            type: string
            default: ''
        - name: $skip
          in: query
          description: The number of records to skip. (e.g. $skip=5)
          schema:
            type: string
            default: ''
        - name: $filter
          in: query
          description: A function that must evaluate to true for a record to be returned. (e.g. $filter=estimateId eq c9804e19-acbf-4db2-adaa-04d344dbcc1b)
          schema:
            type: string
            default: ''
        - name: $orderby
          in: query
          description: Determines what values are used to order a collection of records. (e.g. $orderby=filters/typeOfWork desc)
          schema:
            type: string
            default: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseOfActivityCodebookIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/activitycodebook/{id}:
    get:
      tags:
        - Activity Codebook
      summary: Retrieves a specific activity codebook activity by its id.
      description: |-
        Retrieves a specific activity codebook activity by its id.



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetActivityCodebookById
      parameters:
        - name: id
          in: path
          required: true
          description: The required activity codebook activity id.
          schema:
            type: string
            format: guid
          x-position: 1
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseSingleOfActivityCodebookIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/activitycodebookresource:
    get:
      tags:
        - Activity Codebook Resources
      summary: Retrieves all activity codebook resources for a business unit.
      description: |-
        Retrieves all activity codebook resources for a business unit.



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetAllActivityCodebookResourcesAsync
      parameters:
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
        - name: $top
          in: query
          description: The max number of records. (e.g. $top=10)
          schema:
            type: string
            default: ''
        - name: $skip
          in: query
          description: The number of records to skip. (e.g. $skip=5)
          schema:
            type: string
            default: ''
        - name: $filter
          in: query
          description: A function that must evaluate to true for a record to be returned. (e.g. $filter=estimateId eq c9804e19-acbf-4db2-adaa-04d344dbcc1b)
          schema:
            type: string
            default: ''
        - name: $orderby
          in: query
          description: Determines what values are used to order a collection of records. (e.g. $orderby=filters/typeOfWork desc)
          schema:
            type: string
            default: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseOfActivityCodebookResourceIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/activitycodebookresource/{id}:
    get:
      tags:
        - Activity Codebook Resources
      summary: Retrieves a specific activity codebook resource by its id.
      description: |-
        Retrieves a specific activity codebook resource by its id.



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetActivityCodebookResourceById
      parameters:
        - name: id
          in: path
          required: true
          description: The required activity codebook resource id.
          schema:
            type: string
            format: guid
          x-position: 1
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseSingleOfActivityCodebookResourceIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/estimates/{estimateId}/attachments:
    get:
      tags:
        - Attachments
      summary: Get Estimate Attachments
      description: |-
        Get Estimate Attachments



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetEstimateAttachments
      parameters:
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 1
        - name: estimateId
          in: path
          required: true
          description: The required estimate id.
          schema:
            type: string
            format: guid
          x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseOfAttachmentIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/estimates/{estimateId}/attachments/{attachmentId}:
    get:
      tags:
        - Attachments
      summary: Download an Estimate Attachment by Id
      description: |-
        Download an Estimate Attachment by Id



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_DownloadEstimateAttachment
      parameters:
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 1
        - name: estimateId
          in: path
          required: true
          description: The required estimate id.
          schema:
            type: string
            format: guid
          x-position: 2
        - name: attachmentId
          in: path
          required: true
          description: The required attachment id.
          schema:
            type: string
            format: guid
          x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/biditemcodebook:
    get:
      tags:
        - Biditem Codebook
      summary: Retrieves all biditem codebook biditems for a business unit.
      description: |-
        Retrieves all biditem codebook biditems for a business unit.



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetAllBiditemCodebookAsync
      parameters:
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
        - name: $top
          in: query
          description: The max number of records. (e.g. $top=10)
          schema:
            type: string
            default: ''
        - name: $skip
          in: query
          description: The number of records to skip. (e.g. $skip=5)
          schema:
            type: string
            default: ''
        - name: $filter
          in: query
          description: A function that must evaluate to true for a record to be returned. (e.g. $filter=estimateId eq c9804e19-acbf-4db2-adaa-04d344dbcc1b)
          schema:
            type: string
            default: ''
        - name: $orderby
          in: query
          description: Determines what values are used to order a collection of records. (e.g. $orderby=filters/typeOfWork desc)
          schema:
            type: string
            default: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseOfBiditemCodebookIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/biditemcodebook/{id}:
    get:
      tags:
        - Biditem Codebook
      summary: Retrieves a specific biditem codebook biditem by its id.
      description: |-
        Retrieves a specific biditem codebook biditem by its id.



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetBiditemCodebookById
      parameters:
        - name: id
          in: path
          required: true
          description: The required biditem codebook biditem id.
          schema:
            type: string
            format: guid
          x-position: 1
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseSingleOfBiditemCodebookIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/biditems:
    get:
      tags:
        - Biditems
      summary: Get All Biditems
      description: |-
        Get All Biditems



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetAllBidItemsAsync
      parameters:
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
        - name: includeExcludedEstimates
          in: query
          description: Whether to pull biditems that have been marked as "excluded" and are not used in calculations.
          schema:
            type: boolean
            default: false
          x-position: 3
        - name: $top
          in: query
          description: The max number of records. (e.g. $top=10)
          schema:
            type: string
            default: ''
        - name: $skip
          in: query
          description: The number of records to skip. (e.g. $skip=5)
          schema:
            type: string
            default: ''
        - name: $filter
          in: query
          description: A function that must evaluate to true for a record to be returned. (e.g. $filter=estimateId eq c9804e19-acbf-4db2-adaa-04d344dbcc1b)
          schema:
            type: string
            default: ''
        - name: $orderby
          in: query
          description: Determines what values are used to order a collection of records. (e.g. $orderby=filters/typeOfWork desc)
          schema:
            type: string
            default: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseOfBiditemIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/biditems/{id}:
    get:
      tags:
        - Biditems
      summary: Get a Biditem by Id
      description: |-
        Get a Biditem by Id



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetBidItem
      parameters:
        - name: id
          in: path
          required: true
          description: The required biditem id.
          schema:
            type: string
            format: guid
          x-position: 1
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseSingleOfBiditemIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits:
    get:
      tags:
        - Business Units
      summary: Get All Business Units
      description: |-
        Get All Business Units

        This is typically the first API call made. Most of the other routes require a specific business unit id to be passed in.

        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetAllBusinessUnitsAsync
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseOfApiBusinessUnitRead'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/estimates:
    get:
      tags:
        - Estimates
      summary: Get All Estimates
      description: |-
        Get All Estimates



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetAllEstimatesAsync
      parameters:
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
        - name: includeExcludedEstimates
          in: query
          description: Whether to include excluded estimates.
          schema:
            type: boolean
            default: false
          x-position: 3
        - name: includeDeletedEstimates
          in: query
          description: Whether to include deleted estimates.
          schema:
            type: boolean
            default: false
          x-position: 4
        - name: $top
          in: query
          description: The max number of records. (e.g. $top=10)
          schema:
            type: string
            default: ''
        - name: $skip
          in: query
          description: The number of records to skip. (e.g. $skip=5)
          schema:
            type: string
            default: ''
        - name: $filter
          in: query
          description: A function that must evaluate to true for a record to be returned. (e.g. $filter=estimateId eq c9804e19-acbf-4db2-adaa-04d344dbcc1b)
          schema:
            type: string
            default: ''
        - name: $orderby
          in: query
          description: Determines what values are used to order a collection of records. (e.g. $orderby=filters/typeOfWork desc)
          schema:
            type: string
            default: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseOfEstimateIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/estimates/{id}:
    get:
      tags:
        - Estimates
      summary: Get an Estimate by Id
      description: |-
        Get an Estimate by Id



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetEstimate
      parameters:
        - name: id
          in: path
          required: true
          description: The required id.
          schema:
            type: string
            format: guid
          x-position: 1
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseSingleOfEstimateIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/estimates/{id}/kpis:
    get:
      tags:
        - Estimates
      summary: Get Key Indicators for an Estimate
      description: |-
        Get Key Indicators for an Estimate



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetAllCalulatedKPIs
      parameters:
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 1
        - name: id
          in: path
          required: true
          description: The required estimate id.
          schema:
            type: string
            format: guid
          x-position: 2
        - name: $top
          in: query
          description: The max number of records. (e.g. $top=10)
          schema:
            type: string
            default: ''
        - name: $skip
          in: query
          description: The number of records to skip. (e.g. $skip=5)
          schema:
            type: string
            default: ''
        - name: $filter
          in: query
          description: A function that must evaluate to true for a record to be returned. (e.g. $filter=estimateId eq c9804e19-acbf-4db2-adaa-04d344dbcc1b)
          schema:
            type: string
            default: ''
        - name: $orderby
          in: query
          description: Determines what values are used to order a collection of records. (e.g. $orderby=filters/typeOfWork desc)
          schema:
            type: string
            default: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseOfKPI'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/materialcodebook:
    get:
      tags:
        - Material Codebook
      summary: Retrieves all material codebook resources for a business unit.
      description: |-
        Retrieves all material codebook resources for a business unit.



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetAllMaterialCodebookResourcesAsync
      parameters:
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
        - name: $top
          in: query
          description: The max number of records. (e.g. $top=10)
          schema:
            type: string
            default: ''
        - name: $skip
          in: query
          description: The number of records to skip. (e.g. $skip=5)
          schema:
            type: string
            default: ''
        - name: $filter
          in: query
          description: A function that must evaluate to true for a record to be returned. (e.g. $filter=estimateId eq c9804e19-acbf-4db2-adaa-04d344dbcc1b)
          schema:
            type: string
            default: ''
        - name: $orderby
          in: query
          description: Determines what values are used to order a collection of records. (e.g. $orderby=filters/typeOfWork desc)
          schema:
            type: string
            default: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseOfMaterialCodebookIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/materialcodebook/{id}:
    get:
      tags:
        - Material Codebook
      summary: Retrieves a specific material codebook resource by its id.
      description: |-
        Retrieves a specific material codebook resource by its id.



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetMaterialCodebookResourceById
      parameters:
        - name: id
          in: path
          required: true
          description: The required material codebook resource id.
          schema:
            type: string
            format: guid
          x-position: 1
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseSingleOfMaterialCodebookIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
    put:
      tags:
        - Material Codebook
      summary: Replace a specific material codebook resource by its id.
      description: |-
        Replace a specific material codebook resource by its id.



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_UpdateMaterialCodebookResourceById
      parameters:
        - name: id
          in: path
          required: true
          description: The required material codebook resource id.
          schema:
            type: string
            format: guid
          x-position: 1
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
      requestBody:
        x-name: dto
        description: The new material codebook resource to replace the old one with.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaterialCodebookIntegrationUpdateDto'
        required: true
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseSingleOfMaterialCodebookIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/estimates/{estimateId}/materials/{materialType}:
    get:
      tags:
        - Materials
      summary: Get all Materials for an Estimate of a specific Material Type
      description: |-
        Get all Materials for an Estimate of a specific Material Type



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetEstimateMaterialsAsync
      parameters:
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id
          schema:
            type: string
            format: guid
          x-position: 2
        - name: estimateId
          in: path
          required: true
          description: The required estimate id
          schema:
            type: string
            format: guid
          x-position: 3
        - name: materialType
          in: path
          required: true
          description: The required material type "permanent" or "construction"
          schema:
            type: string
            nullable: true
          x-position: 4
        - name: $top
          in: query
          description: The max number of records. (e.g. $top=10)
          schema:
            type: string
            default: ''
        - name: $skip
          in: query
          description: The number of records to skip. (e.g. $skip=5)
          schema:
            type: string
            default: ''
        - name: $filter
          in: query
          description: A function that must evaluate to true for a record to be returned. (e.g. $filter=estimateId eq c9804e19-acbf-4db2-adaa-04d344dbcc1b)
          schema:
            type: string
            default: ''
        - name: $orderby
          in: query
          description: Determines what values are used to order a collection of records. (e.g. $orderby=filters/typeOfWork desc)
          schema:
            type: string
            default: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseOfMaterialAnalysisReportIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/partitions:
    get:
      tags:
        - Partitions
      summary: Get All Database Partitions
      description: |-
        Get All Database Partitions



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetAllDatabasePartitionsAsync
      parameters:
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseOfApiDatabasePartitionRead'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/partitions/{id}:
    get:
      tags:
        - Partitions
      summary: Get a Database Partition by Id
      description: |-
        Get a Database Partition by Id



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetDatabasePartitionById
      parameters:
        - name: id
          in: path
          required: true
          description: The required id.
          schema:
            type: string
            format: guid
          x-position: 1
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseSingleOfApiDatabasePartitionRead'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/estimates/{estimateId}/quoteFolders:
    get:
      tags:
        - Quote Folders
      summary: Get all quote folders in an estimate with details.
      description: |-
        Get all quote folders in an estimate with details.



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetQuoteFoldersWithDetails
      parameters:
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
        - name: estimateId
          in: path
          required: true
          description: The required estimate id.
          schema:
            type: string
            format: guid
          x-position: 3
        - name: $top
          in: query
          description: The max number of records. (e.g. $top=10)
          schema:
            type: string
            default: ''
        - name: $skip
          in: query
          description: The number of records to skip. (e.g. $skip=5)
          schema:
            type: string
            default: ''
        - name: $filter
          in: query
          description: A function that must evaluate to true for a record to be returned. (e.g. $filter=estimateId eq c9804e19-acbf-4db2-adaa-04d344dbcc1b)
          schema:
            type: string
            default: ''
        - name: $orderby
          in: query
          description: Determines what values are used to order a collection of records. (e.g. $orderby=filters/typeOfWork desc)
          schema:
            type: string
            default: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseOfQuoteFolderIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/quoteFolders/{id}:
    get:
      tags:
        - Quote Folders
      summary: Get detailed quote folder by id
      description: |-
        Get detailed quote folder by id



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetQuoteFolderWithDetailsById
      parameters:
        - name: id
          in: path
          required: true
          description: The required quote id.
          schema:
            type: string
            format: guid
          x-position: 1
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseSingleOfQuoteFolderIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/resources:
    get:
      tags:
        - Resources
      summary: Get All Resources
      description: |-
        Get All Resources



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetAllResourcesAsync
      parameters:
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
        - name: includeExcludedEstimates
          in: query
          description: Whether the pull biditems that have been marked as "excluded" and are not used in calculations.
          schema:
            type: boolean
            default: false
          x-position: 3
        - name: $top
          in: query
          description: The max number of records. (e.g. $top=10)
          schema:
            type: string
            default: ''
        - name: $skip
          in: query
          description: The number of records to skip. (e.g. $skip=5)
          schema:
            type: string
            default: ''
        - name: $filter
          in: query
          description: A function that must evaluate to true for a record to be returned. (e.g. $filter=estimateId eq c9804e19-acbf-4db2-adaa-04d344dbcc1b)
          schema:
            type: string
            default: ''
        - name: $orderby
          in: query
          description: Determines what values are used to order a collection of records. (e.g. $orderby=filters/typeOfWork desc)
          schema:
            type: string
            default: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseOfResourceIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
  /api/v2/integration/businessunits/{businessUnitId}/resources/{id}:
    get:
      tags:
        - Resources
      summary: Get a Resource by Id
      description: |-
        Get a Resource by Id



        For help with authorization, see https://developer.hcssapps.com/getting-started/request-tokens
      operationId: IntegrationsV2Controller_GetResourceById
      parameters:
        - name: id
          in: path
          required: true
          description: The required resource id.
          schema:
            type: string
            format: guid
          x-position: 1
        - name: businessUnitId
          in: path
          required: true
          description: The required business unit id.
          schema:
            type: string
            format: guid
          x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponseSingleOfResourceIntegrationDto'
        '401':
          description: Unauthorized. See https://developer.hcssapps.com/getting-started/troubleshoot-unauthorized for more information.
        '403':
          description: Forbidden. See https://developer.hcssapps.com/getting-started/troubleshoot-forbidden for more information.
      security:
        - bearer: []
components:
  schemas:
    IntegrationResponseOfActivityIntegrationDto:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          description: Response data
          nullable: true
          items:
            $ref: '#/components/schemas/ActivityIntegrationDto'
        currentTopValue:
          type: integer
          description: The current top value
          format: int32
          nullable: true
          example: 100
        currentSkipValue:
          type: integer
          description: The current skip value
          format: int32
          nullable: true
          example: 0
        nextSkipValue:
          type: integer
          description: Current top value + current skip value
          format: int32
          nullable: true
          example: 100
    ActivityIntegrationDto:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          description: The unique activity id.
          format: guid
          example: 2cf04cfb-7f3d-4456-9bd7-7513c725f5fc
        estimateId:
          type: string
          description: The unique estimate id.
          format: guid
          example: 483e8356-7c9d-4949-b882-154072a8e38a
        estimateCode:
          type: string
          description: The HeavyBid estimate code.
          nullable: true
          example: 1-BRIDGE
        lastModified:
          type: string
          description: The last modified date.
          format: date-time
          example: '2022-02-10T03:09:48Z'
        biditemId:
          type: string
          description: The unique biditem id.
          format: guid
          example: db7284b1-b1d2-4eb3-9361-dfc88aa36bab
        activityCode:
          type: string
          description: The HeavyBid activity code.
          nullable: true
          example: 290001
        biditemCode:
          type: string
          description: The HeavyBid biditem code.
          nullable: true
          example: 140
        description:
          type: string
          description: The description.
          nullable: true
          example: Install Silt Fence
        quantity:
          type: number
          description: The quantity.
          format: decimal
          example: 45000
        units:
          type: string
          description: The unit of measure.
          nullable: true
          example: LF
        factorable:
          type: string
          description: |-
            By default, activities are factorable if there are bid/takeoff differences. For advanced and comp systems, on the Treeview > Misc tab the user can uncheck factorable to retain the cost. An example of this would be a flat fee that has no regard for quantity.
                        
          nullable: true
          example: 'Y'
        workersCompCode:
          type: string
          description: Workers compensation code used in this activity.
          nullable: true
          example: TX6217
        marineWorkersComp:
          type: string
          description: The marine worker's comp code.
          nullable: true
          example: L
        summaryCode:
          type: string
          description: The summary code.
          nullable: true
          example: EXC
        calendar:
          type: string
          description: The calendar.
          nullable: true
          example: 50S
        hoursPerDay:
          type: number
          description: |-
            Number of hours/day of work performed in this activity. It will come from the calendar used in the activity. If no calendar is used, it will use the hours/day in the calendar setup or the user can just type it in if no calendar is used.
                        
          format: decimal
          example: 10
        crew:
          type: string
          description: The crew code.
          nullable: true
          example: EC
        crewHours:
          type: number
          description: Crew hours. A crew hour is 1 hour of all the labor used in the crew (so four labor hours in a crew working one hour would be one crew hour).
          format: decimal
          example: 450
        crewPercent:
          type: number
          description: Crew percent. Used to calculate overtime percent for labor in a crew assigned to an Activity with no calendar. Most activities with crews will have default to 100.00 unless it is changed by the user on the modify crew screen.
          format: decimal
          example: 0
        productionType:
          type: string
          description: |-
            The production type.
            Production type must be one of the following:
            UH - Units per crew hour
            HU - Crew hours per unit
            MU - Man hours per unit
            UM - Units per man hour
            $U - Cost per unit
            S - Shifts
            US - Units per shift
            SU - Shifts per unit
            CH - Crew hours
            RF- Resource factoring (only if the preference to use this feature is turned on)
          nullable: true
          example: UH
        productionRate:
          type: number
          description: Rate of production to be used in the calculations for the crew. This value will mean different things depending on the ProductionRate
          format: decimal
          example: 100
        user1:
          type: number
          description: The user defined quantity 1.
          format: decimal
          example: 0
        user2:
          type: number
          description: The user defined quantity 2.
          format: decimal
          example: 0
        user3:
          type: number
          description: The user defined quantity 3.
          format: decimal
          example: 0
        user4:
          type: number
          description: The user defined quantity 4.
          format: decimal
          example: 0
        accountingJCCode1:
          type: string
          description: The accounting code 1.
          nullable: true
          example: 290001
        accountingJCCode2:
          type: string
          description: The accounting code 2.
          nullable: true
          example: 140
        alternateCostCode:
          type: string
          description: The alternate cost code.
          nullable: true
          example: 2900
        resourceFactorRiskPercent:
          type: number
          description: |-
            When ProductionType=RF, ResourceFactorRiskPercent is used to calculate the labor hours in relation to the MH/Unit set for the material in that activity. (Labor hours
            will equal ResourceFactorRiskPercent times “MH/Unit”.)"
          format: decimal
          example: 100
        efficientPercent:
          type: number
          description: The crew efficiency factor can be used to account for differences in crew productivity in different areas or environments, without needing to set up a different crew for each condition, or without manually figuring out a new production rate.
          format: decimal
          example: 100
        calculatedDuration:
          type: number
          description: The number of days/shifts the activity will take to complete.
          format: decimal
          example: 45
        modifiedCrew:
          type: string
          description: Flag that signals the crew was modified to be different than the default crew setup.
          nullable: true
          example: 'N'
        userFlag1:
          type: string
          description: The user flag 1.
          nullable: true
          example: 'Y'
        userFlag2:
          type: string
          description: The user flag 2.
          nullable: true
          example: 'Y'
        manHours:
          type: number
          description: Total number of labor hours in the activity. Labor must have a unit of measure of MH to be counted.
          format: decimal
          example: 2475
        directTotal:
          type: number
          description: The direct total.
          format: decimal
          example: 121246.49
        crewCost:
          type: number
          description: The total crew cost.
          format: decimal
          example: 50496.49
        crewCost_WithMaterial:
          type: number
          description: The total crew cost with material.
          format: decimal
          example: 50496.49
        notes:
          type: string
          description: The notes.
          nullable: true
          example: ''
        reportGroup1:
          type: string
          description: The report group1.
          nullable: true
          example: ''
        reportGroup2:
          type: string
          description: The report group2.
          nullable: true
          example: ''
        reportGroup3:
          type: string
          description: The report group3.
          nullable: true
          example: ''
        reportGroup4:
          type: string
          description: The report group4.
          nullable: true
          example: ''
        reportGroup5:
          type: string
          description: The report group5.
          nullable: true
          example: ''
        reportGroup6:
          type: string
          description: The report group6.
          nullable: true
          example: ''
        factor:
          type: number
          description: The factor.
          format: decimal
          example: 1
        days:
          type: number
          description: The days.
          format: decimal
          example: 0
        labor:
          type: number
          description: The total labor.
          format: decimal
          example: 33210
        burden:
          type: number
          description: The total burden.
          format: decimal
          example: 10588.24
        permanentMaterial:
          type: number
          description: The total permanent material.
          format: decimal
          example: 70750
        constructionMaterial:
          type: number
          description: The total construction material.
          format: decimal
          example: 0
        subcontract:
          type: number
          description: The total subcontract.
          format: decimal
          example: 0
        equipmentOperatingExpense:
          type: number
          description: The total equipment operating expense.
          format: decimal
          example: 1775.23
        companyEquipment:
          type: number
          description: The total company equipment.
          format: decimal
          example: 4923.02
        rentedEquipment:
          type: number
          description: The total rented equipment
          format: decimal
          example: 0
        misc1:
          type: number
          description: The total misc1.
          format: decimal
          example: 0
        misc2:
          type: number
          description: The total misc2.
          format: decimal
          example: 0
        misc3:
          type: number
          description: The total misc3.
          format: decimal
          example: 0
        accountingRevenueCode:
          type: string
          description: The accounting revenue code.
          nullable: true
          example: 290001
        accountingDescription:
          type: string
          description: The accounting description.
          nullable: true
          example: ''
        accountingQuantity:
          type: number
          description: The accounting quantity.
          format: decimal
          example: 0
        accountingUnits:
          type: string
          description: The accounting units.
          nullable: true
          example: ''
        accountingChangeOrder:
          type: string
          description: The accounting change order.
          nullable: true
          example: ''
        heavyJobCode:
          type: string
          description: The HeavyJob code.
          nullable: true
          example: ''
        heavyJobDescription:
          type: string
          description: The HeavyJob description
          nullable: true
          example: ''
        heavyJobQuantity:
          type: number
          description: The HeavyJob quantity.
          format: decimal
          example: 0
        heavyJobUnit:
          type: string
          description: The HeavyJob unit.
          nullable: true
          example: ''
        addQuantity:
          type: string
          description: The add quantity.
          nullable: true
          example: 'N'
        alternateDescription:
          type: string
          description: The alternate description.
          nullable: true
          example: ''
        safetyCode:
          type: string
          description: The safety code.
          nullable: true
          example: ''
        cpmPriorItem:
          type: string
          description: The CPM prior item.
          nullable: true
          example: ''
        schedulingEquivalentCPMItem:
          type: string
          description: The scheduling equivalent CPM item.
          nullable: true
          example: ''
        schedulingStart1:
          type: number
          description: The scheduling start1.
          format: decimal
          example: 1
        schedulingDuration1:
          type: number
          description: The scheduling duration1.
          format: decimal
          example: 64
        schedulingPercent1:
          type: number
          description: The scheduling percent1.
          format: decimal
          example: 100
        schedulingStart2:
          type: number
          description: The schduling start1.
          format: decimal
          example: 0
        schedulingDuration2:
          type: number
          description: The scheduling duration2.
          format: decimal
          example: 0
        schedulingPercent2:
          type: number
          description: The scheduling percent2.
          format: decimal
          example: 0
        schedulingStart3:
          type: number
          description: The scheduling start3.
          format: decimal
          example: 0
        schedulingDuration3:
          type: number
          description: The scheduling duration3.
          format: decimal
          example: 0
        schedulingPercent3:
          type: number
          description: The scheduling percent3.
          format: decimal
          example: 0
        schedulingStart4:
          type: number
          description: The scheduling start4.
          format: decimal
          example: 0
        schedulingDuration4:
          type: number
          description: The scheduling duration4.
          format: decimal
          example: 0
        schedulingPercent4:
          type: number
          description: The scheduling percent4.
          format: decimal
          example: 0
        schedulingCPMLag:
          type: number
          description: The scheduling CPM lag.
          format: decimal
          example: 0
        schedulingBarOption:
          type: string
          description: The scheduling bar option.
          nullable: true
          example: ''
        schedulingSubNet:
          type: string
          description: The scheduling sub net.
          nullable: true
          example: ''
        schedulingBarLineNum:
          type: number
          description: The scheduling bar line number.
          format: decimal
          example: 0
        schedulingCPMExportDescription:
          type: string
          description: The scheduling CPM export description.
          nullable: true
          example: ''
        schedulingCPMSequential:
          type: string
          description: The scheduling CPM sequential.
          nullable: true
          example: ''
        nonAdditive:
          type: string
          description: The skip cost.
          nullable: true
          example: ''
        saveNonAdditive:
          type: string
          description: The save skip cost.
          nullable: true
          example: ''
    ODataQueryOptionsOfActivityIntegrationDto:
      allOf:
        - $ref: '#/components/schemas/ODataQueryOptions'
        - type: object
          additionalProperties: false
          properties:
            ifMatch:
              nullable: true
              oneOf:
                - $ref: '#/components/schemas/ETagOfActivityIntegrationDto'
            ifNoneMatch:
              nullable: true
              oneOf:
                - $ref: '#/components/schemas/ETagOfActivityIntegrationDto'
    ETagOfActivityIntegrationDto:
      allOf:
        - $ref: '#/components/schemas/ETag'
        - type: object
          additionalProperties: false
    ETag:
      allOf:
        - $ref: '#/components/schemas/DynamicObject'
        - type: object
          additionalProperties: false
          properties:
            Item:
              nullable: true
            IsWellFormed:
              type: boolean
            EntityType:
              type: string
              nullable: true
            IsAny:
              type: boolean
            IsIfNoneMatch:
              type: boolean
            ConcurrencyProperties:
              type: object
              nullable: true
              additionalProperties: {}
    DynamicObject:
      type: object
      additionalProperties: false
    ODataQueryOptions:
      type: object
      additionalProperties: false
      properties:
        request:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/HttpRequest'
        context:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ODataQueryContext'
        rawValues:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ODataRawQueryOptions'
        selectExpand:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/SelectExpandQueryOption'
        apply:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ApplyQueryOption'
        compute:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ComputeQueryOption'
        filter:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/FilterQueryOption'
        search:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/SearchQueryOption'
        orderBy:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/OrderByQueryOption'
        skip:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/SkipQueryOption'
        skipToken:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/SkipTokenQueryOption'
        top:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/TopQueryOption'
        count:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/CountQueryOption'
        validator:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ODataQueryValidator'
        ifMatch:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ETag'
        ifNoneMatch:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ETag'
    HttpRequest:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        bodyReader:
          $ref: '#/components/schemas/PipeReader'
        routeValues:
          $ref: '#/components/schemas/RouteValueDictionary'
    PipeReader:
      type: object
      x-abstract: true
      additionalProperties: false
    RouteValueDictionary:
      type: object
      additionalProperties: false
      properties:
        _arrayStorage:
          type: array
          items:
            $ref: '#/components/schemas/KeyValuePairOfStringAndObject'
        _propertyStorage:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/PropertyStorage'
        Item:
          nullable: true
        Comparer:
          $ref: '#/components/schemas/IEqualityComparerOfString'
        Count:
          type: integer
          format: int32
        Keys:
          type: array
          items:
            type: string
        Values:
          type: array
          items:
            nullable: true
    KeyValuePairOfStringAndObject:
      type: object
      additionalProperties: false
      properties:
        key:
          type: string
        value: {}
    PropertyStorage:
      type: object
      additionalProperties: false
      properties:
        value: {}
        properties:
          type: array
          items:
            $ref: '#/components/schemas/PropertyHelper'
    PropertyHelper:
      type: object
      additionalProperties: false
      properties:
        property:
          $ref: '#/components/schemas/PropertyInfo'
        name:
          type: string
        valueGetter:
          $ref: '#/components/schemas/FuncOfObjectAndObject'
        valueSetter:
          $ref: '#/components/schemas/ActionOfObjectAndObject'
    PropertyInfo:
      allOf:
        - $ref: '#/components/schemas/MemberInfo'
        - type: object
          x-abstract: true
          additionalProperties: false
          properties:
            memberType:
              $ref: '#/components/schemas/MemberTypes'
            isSpecialName:
              type: boolean
            getMethod:
              nullable: true
              oneOf:
                - $ref: '#/components/schemas/MethodInfo'
            setMethod:
              nullable: true
              oneOf:
                - $ref: '#/components/schemas/MethodInfo'
    MemberTypes:
      type: integer
      description: ''
      x-enumFlags: true
      x-enumNames:
        - Constructor
        - Event
        - Field
        - Method
        - Property
        - TypeInfo
        - Custom
        - NestedType
        - All
      enum:
        - 1
        - 2
        - 4
        - 8
        - 16
        - 32
        - 64
        - 128
        - 191
    MethodInfo:
      allOf:
        - $ref: '#/components/schemas/MethodBase'
        - type: object
          x-abstract: true
          additionalProperties: false
          properties:
            memberType:
              $ref: '#/components/schemas/MemberTypes'
            returnParameter:
              $ref: '#/components/schemas/ParameterInfo'
            returnType:
              type: string
    ParameterInfo:
      type: object
      additionalProperties: false
      properties:
        attributes:
          $ref: '#/components/schemas/ParameterAttributes'
        member:
          $ref: '#/components/schemas/MemberInfo'
        name:
          type: string
          nullable: true
        parameterType:
          type: string
        position:
          type: integer
          format: int32
        isIn:
          type: boolean
        isLcid:
          type: boolean
        isOptional:
          type: boolean
        isOut:
          type: boolean
        isRetval:
          type: boolean
        defaultValue:
          nullable: true
        rawDefaultValue:
          nullable: true
        hasDefaultValue:
          type: boolean
        customAttributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttributeData'
        metadataToken:
          type: integer
          format: int32
    ParameterAttributes:
      type: integer
      description: ''
      x-enumFlags: true
      x-enumNames:
        - None
        - In
        - Out
        - Lcid
        - Retval
        - Optional
        - HasDefault
        - HasFieldMarshal
        - Reserved3
        - Reserved4
        - ReservedMask
      enum:
        - 0
        - 1
        - 2
        - 4
        - 8
        - 16
        - 4096
        - 8192
        - 16384
        - 32768
        - 61440
    MemberInfo:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        module:
          $ref: '#/components/schemas/Module'
        customAttributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttributeData'
        isCollectible:
          type: boolean
        metadataToken:
          type: integer
          format: int32
    Module:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        assembly:
          $ref: '#/components/schemas/Assembly'
        fullyQualifiedName:
          type: string
        name:
          type: string
        mdStreamVersion:
          type: integer
          format: int32
        moduleVersionId:
          type: string
          format: guid
        scopeName:
          type: string
        moduleHandle:
          $ref: '#/components/schemas/ModuleHandle'
        customAttributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttributeData'
        metadataToken:
          type: integer
          format: int32
    Assembly:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        definedTypes:
          type: array
          items:
            type: string
        exportedTypes:
          type: array
          items:
            type: string
        codeBase:
          type: string
          nullable: true
        entryPoint:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/MethodInfo'
        fullName:
          type: string
          nullable: true
        imageRuntimeVersion:
          type: string
        isDynamic:
          type: boolean
        location:
          type: string
        reflectionOnly:
          type: boolean
        isCollectible:
          type: boolean
        isFullyTrusted:
          type: boolean
        customAttributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttributeData'
        escapedCodeBase:
          type: string
        manifestModule:
          $ref: '#/components/schemas/Module'
        modules:
          type: array
          items:
            $ref: '#/components/schemas/Module'
        globalAssemblyCache:
          type: boolean
          deprecated: true
          x-deprecatedMessage: The Global Assembly Cache is not supported.
        hostContext:
          type: integer
          format: int64
        securityRuleSet:
          $ref: '#/components/schemas/SecurityRuleSet'
    CustomAttributeData:
      type: object
      additionalProperties: false
      properties:
        attributeType:
          type: string
        constructor:
          allOf:
            - $ref: '#/components/schemas/MethodBase'
            - type: object
              x-abstract: true
              additionalProperties: false
              properties:
                memberType:
                  $ref: '#/components/schemas/MemberTypes'
        constructorArguments:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttributeTypedArgument'
        namedArguments:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttributeNamedArgument'
    ConstructorInfo:
      allOf:
        - $ref: '#/components/schemas/MethodBase'
        - type: object
          x-abstract: true
          additionalProperties: false
          properties:
            memberType:
              $ref: '#/components/schemas/MemberTypes'
    MethodBase:
      allOf:
        - $ref: '#/components/schemas/MemberInfo'
        - type: object
          x-abstract: true
          additionalProperties: false
          properties:
            methodImplementationFlags:
              $ref: '#/components/schemas/MethodImplAttributes'
            callingConvention:
              $ref: '#/components/schemas/CallingConventions'
            isAbstract:
              type: boolean
            isConstructor:
              type: boolean
            isFinal:
              type: boolean
            isHideBySig:
              type: boolean
            isSpecialName:
              type: boolean
            isStatic:
              type: boolean
            isVirtual:
              type: boolean
            isAssembly:
              type: boolean
            isFamily:
              type: boolean
            isFamilyAndAssembly:
              type: boolean
            isFamilyOrAssembly:
              type: boolean
            isPrivate:
              type: boolean
            isPublic:
              type: boolean
            isConstructedGenericMethod:
              type: boolean
            isGenericMethod:
              type: boolean
            isGenericMethodDefinition:
              type: boolean
            containsGenericParameters:
              type: boolean
            isSecurityCritical:
              type: boolean
            isSecuritySafeCritical:
              type: boolean
            isSecurityTransparent:
              type: boolean
    MethodImplAttributes:
      type: integer
      description: ''
      x-enumNames:
        - IL
        - Managed
        - Native
        - OPTIL
        - Runtime
        - CodeTypeMask
        - Unmanaged
        - ManagedMask
        - NoInlining
        - ForwardRef
        - Synchronized
        - NoOptimization
        - PreserveSig
        - AggressiveInlining
        - AggressiveOptimization
        - InternalCall
        - MaxMethodImplVal
      enum:
        - 0
        - 0
        - 1
        - 2
        - 3
        - 3
        - 4
        - 4
        - 8
        - 16
        - 32
        - 64
        - 128
        - 256
        - 512
        - 4096
        - 65535
    CallingConventions:
      type: integer
      description: ''
      x-enumFlags: true
      x-enumNames:
        - Standard
        - VarArgs
        - Any
        - HasThis
        - ExplicitThis
      enum:
        - 1
        - 2
        - 3
        - 32
        - 64
    CustomAttributeTypedArgument:
      type: object
      additionalProperties: false
      properties:
        argumentType:
          type: string
        value:
          nullable: true
    CustomAttributeNamedArgument:
      type: object
      additionalProperties: false
      properties:
        memberInfo:
          $ref: '#/components/schemas/MemberInfo'
        typedValue:
          $ref: '#/components/schemas/CustomAttributeTypedArgument'
        memberName:
          type: string
        isField:
          type: boolean
    SecurityRuleSet:
      type: integer
      description: ''
      x-enumNames:
        - None
        - Level1
        - Level2
      enum:
        - 0
        - 1
        - 2
    ModuleHandle:
      type: object
      additionalProperties: false
      properties:
        mdStreamVersion:
          type: integer
          format: int32
    FuncOfObjectAndObject:
      allOf:
        - $ref: '#/components/schemas/MulticastDelegate'
        - type: object
          additionalProperties: false
    MulticastDelegate:
      allOf:
        - $ref: '#/components/schemas/Delegate'
        - type: object
          x-abstract: true
          additionalProperties: false
    Delegate:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        target:
          nullable: true
        method:
          $ref: '#/components/schemas/MethodInfo'
    ActionOfObjectAndObject:
      allOf:
        - $ref: '#/components/schemas/MulticastDelegate'
        - type: object
          additionalProperties: false
    IEqualityComparerOfString:
      type: object
      x-abstract: true
      additionalProperties: false
    ODataQueryContext:
      type: object
      additionalProperties: false
      properties:
        defaultQuerySettings:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/DefaultQuerySettings'
        model:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmModel'
        elementType:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmType'
        navigationSource:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmNavigationSource'
        elementClrType:
          type: string
          nullable: true
        path:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/ODataPathSegment'
        requestContainer:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IServiceProvider'
    DefaultQuerySettings:
      type: object
      additionalProperties: false
      properties:
        enableExpand:
          type: boolean
        enableSelect:
          type: boolean
        enableCount:
          type: boolean
        enableOrderBy:
          type: boolean
        enableFilter:
          type: boolean
        maxTop:
          type: integer
          format: int32
          nullable: true
        enableSkipToken:
          type: boolean
    IEdmModel:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        schemaElements:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/IEdmSchemaElement'
        vocabularyAnnotations:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/IEdmVocabularyAnnotation'
        referencedModels:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/IEdmModel'
        declaredNamespaces:
          type: array
          nullable: true
          items:
            type: string
        directValueAnnotationsManager:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmDirectValueAnnotationsManager'
        entityContainer:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmEntityContainer'
    IEdmSchemaElement:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        schemaElementKind:
          $ref: '#/components/schemas/EdmSchemaElementKind'
        namespace:
          type: string
          nullable: true
    EdmSchemaElementKind:
      type: integer
      description: ''
      x-enumNames:
        - None
        - TypeDefinition
        - Term
        - Action
        - EntityContainer
        - Function
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
    IEdmVocabularyAnnotation:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        qualifier:
          type: string
          nullable: true
        term:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmTerm'
        target:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmVocabularyAnnotatable'
        value:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmExpression'
    IEdmTerm:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        type:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmTypeReference'
        appliesTo:
          type: string
          nullable: true
        defaultValue:
          type: string
          nullable: true
    IEdmTypeReference:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        isNullable:
          type: boolean
        definition:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmType'
    IEdmType:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        typeKind:
          $ref: '#/components/schemas/EdmTypeKind'
    EdmTypeKind:
      type: integer
      description: ''
      x-enumNames:
        - None
        - Primitive
        - Entity
        - Complex
        - Collection
        - EntityReference
        - Enum
        - TypeDefinition
        - Untyped
        - Path
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
    IEdmVocabularyAnnotatable:
      type: object
      x-abstract: true
      additionalProperties: false
    IEdmExpression:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        expressionKind:
          $ref: '#/components/schemas/EdmExpressionKind'
    EdmExpressionKind:
      type: integer
      description: ''
      x-enumNames:
        - None
        - BinaryConstant
        - BooleanConstant
        - DateTimeOffsetConstant
        - DecimalConstant
        - FloatingConstant
        - GuidConstant
        - IntegerConstant
        - StringConstant
        - DurationConstant
        - 'Null'
        - Record
        - Collection
        - Path
        - If
        - Cast
        - IsType
        - FunctionApplication
        - LabeledExpressionReference
        - Labeled
        - PropertyPath
        - NavigationPropertyPath
        - DateConstant
        - TimeOfDayConstant
        - EnumMember
        - AnnotationPath
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
        - 10
        - 11
        - 12
        - 13
        - 14
        - 15
        - 16
        - 17
        - 18
        - 19
        - 20
        - 21
        - 22
        - 23
        - 24
        - 25
    IEdmDirectValueAnnotationsManager:
      type: object
      x-abstract: true
      additionalProperties: false
    IEdmEntityContainer:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        elements:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/IEdmEntityContainerElement'
    IEdmEntityContainerElement:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        containerElementKind:
          $ref: '#/components/schemas/EdmContainerElementKind'
        container:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmEntityContainer'
    EdmContainerElementKind:
      type: integer
      description: ''
      x-enumNames:
        - None
        - EntitySet
        - ActionImport
        - FunctionImport
        - Singleton
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
    IEdmNavigationSource:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        navigationPropertyBindings:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/IEdmNavigationPropertyBinding'
        path:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmPathExpression'
        type:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmType'
    IEdmNavigationPropertyBinding:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        navigationProperty:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmNavigationProperty'
        target:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmNavigationSource'
        path:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmPathExpression'
    IEdmNavigationProperty:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        partner:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmNavigationProperty'
        onDelete:
          $ref: '#/components/schemas/EdmOnDeleteAction'
        containsTarget:
          type: boolean
        referentialConstraint:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmReferentialConstraint'
    EdmOnDeleteAction:
      type: integer
      description: ''
      x-enumNames:
        - None
        - Cascade
      enum:
        - 0
        - 1
    IEdmReferentialConstraint:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        propertyPairs:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/EdmReferentialConstraintPropertyPair'
    EdmReferentialConstraintPropertyPair:
      type: object
      additionalProperties: false
      properties:
        dependentProperty:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmStructuralProperty'
        principalProperty:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmStructuralProperty'
    IEdmStructuralProperty:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        defaultValueString:
          type: string
          nullable: true
    IEdmPathExpression:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        pathSegments:
          type: array
          nullable: true
          items:
            type: string
        path:
          type: string
          nullable: true
    ODataPathSegment:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        identifier:
          type: string
          nullable: true
    IServiceProvider:
      type: object
      x-abstract: true
      additionalProperties: false
    ODataRawQueryOptions:
      type: object
      additionalProperties: false
      properties:
        filter:
          type: string
          nullable: true
        apply:
          type: string
          nullable: true
        compute:
          type: string
          nullable: true
        search:
          type: string
          nullable: true
        orderBy:
          type: string
          nullable: true
        top:
          type: string
          nullable: true
        skip:
          type: string
          nullable: true
        select:
          type: string
          nullable: true
        expand:
          type: string
          nullable: true
        count:
          type: string
          nullable: true
        format:
          type: string
          nullable: true
        skipToken:
          type: string
          nullable: true
        deltaToken:
          type: string
          nullable: true
    SelectExpandQueryOption:
      type: object
      additionalProperties: false
      properties:
        context:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ODataQueryContext'
        rawSelect:
          type: string
          nullable: true
        rawExpand:
          type: string
          nullable: true
        compute:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ComputeQueryOption'
        validator:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/SelectExpandQueryValidator'
        selectExpandClause:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/SelectExpandClause'
        levelsMaxLiteralExpansionDepth:
          type: integer
          format: int32
    ComputeQueryOption:
      type: object
      additionalProperties: false
      properties:
        context:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ODataQueryContext'
        resultClrType:
          type: string
          nullable: true
        computeClause:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ComputeClause'
        rawValue:
          type: string
          nullable: true
    ComputeClause:
      type: object
      additionalProperties: false
      properties:
        computedItems:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/ComputeExpression'
    ComputeExpression:
      type: object
      additionalProperties: false
      properties:
        expression:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/SingleValueNode'
        alias:
          type: string
          nullable: true
        typeReference:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmTypeReference'
    SingleValueNode:
      allOf:
        - $ref: '#/components/schemas/QueryNode'
        - type: object
          x-abstract: true
          additionalProperties: false
          properties:
            kind:
              $ref: '#/components/schemas/QueryNodeKind'
    QueryNodeKind:
      type: integer
      description: ''
      x-enumNames:
        - None
        - Constant
        - Convert
        - NonResourceRangeVariableReference
        - BinaryOperator
        - UnaryOperator
        - SingleValuePropertyAccess
        - CollectionPropertyAccess
        - SingleValueFunctionCall
        - Any
        - CollectionNavigationNode
        - SingleNavigationNode
        - SingleValueOpenPropertyAccess
        - SingleResourceCast
        - All
        - CollectionResourceCast
        - ResourceRangeVariableReference
        - SingleResourceFunctionCall
        - CollectionFunctionCall
        - CollectionResourceFunctionCall
        - NamedFunctionParameter
        - ParameterAlias
        - EntitySet
        - KeyLookup
        - SearchTerm
        - CollectionOpenPropertyAccess
        - CollectionComplexNode
        - SingleComplexNode
        - Count
        - SingleValueCast
        - CollectionPropertyNode
        - AggregatedCollectionPropertyNode
        - In
        - CollectionConstant
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
        - 10
        - 11
        - 12
        - 13
        - 14
        - 15
        - 16
        - 17
        - 18
        - 19
        - 20
        - 21
        - 22
        - 23
        - 24
        - 25
        - 26
        - 27
        - 28
        - 29
        - 30
        - 31
        - 32
        - 33
    QueryNode:
      type: object
      x-abstract: true
      additionalProperties: false
    SelectExpandQueryValidator:
      type: object
      additionalProperties: false
    SelectExpandClause:
      type: object
      additionalProperties: false
      properties:
        selectedItems:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/SelectItem'
        allSelected:
          type: boolean
    SelectItem:
      type: object
      x-abstract: true
      additionalProperties: false
    ApplyQueryOption:
      type: object
      additionalProperties: false
      properties:
        context:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ODataQueryContext'
        resultClrType:
          type: string
          nullable: true
        applyClause:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ApplyClause'
        rawValue:
          type: string
          nullable: true
    ApplyClause:
      type: object
      additionalProperties: false
      properties:
        transformations:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/TransformationNode'
    TransformationNode:
      type: object
      x-abstract: true
      additionalProperties: false
    FilterQueryOption:
      type: object
      additionalProperties: false
      properties:
        context:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ODataQueryContext'
        validator:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/FilterQueryValidator'
        compute:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ComputeQueryOption'
        filterClause:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/FilterClause'
        rawValue:
          type: string
          nullable: true
    FilterQueryValidator:
      type: object
      additionalProperties: false
    FilterClause:
      type: object
      additionalProperties: false
      properties:
        expression:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/SingleValueNode'
        rangeVariable:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/RangeVariable'
        itemType:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmTypeReference'
    RangeVariable:
      type: object
      x-abstract: true
      additionalProperties: false
    SearchQueryOption:
      type: object
      additionalProperties: false
      properties:
        context:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ODataQueryContext'
        resultClrType:
          type: string
          nullable: true
        searchClause:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/SearchClause'
        rawValue:
          type: string
          nullable: true
    SearchClause:
      type: object
      additionalProperties: false
      properties:
        expression:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/SingleValueNode'
    OrderByQueryOption:
      type: object
      additionalProperties: false
      properties:
        context:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ODataQueryContext'
        orderByNodes:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/OrderByNode'
        rawValue:
          type: string
          nullable: true
        validator:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/OrderByQueryValidator'
        compute:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ComputeQueryOption'
        orderByClause:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/OrderByClause'
    OrderByNode:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        direction:
          $ref: '#/components/schemas/OrderByDirection'
    OrderByDirection:
      type: integer
      description: ''
      x-enumNames:
        - Ascending
        - Descending
      enum:
        - 0
        - 1
    OrderByQueryValidator:
      type: object
      additionalProperties: false
    OrderByClause:
      type: object
      additionalProperties: false
      properties:
        thenBy:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/OrderByClause'
        expression:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/SingleValueNode'
        direction:
          $ref: '#/components/schemas/OrderByDirection'
        rangeVariable:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/RangeVariable'
        itemType:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/IEdmTypeReference'
    SkipQueryOption:
      type: object
      additionalProperties: false
      properties:
        context:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ODataQueryContext'
        rawValue:
          type: string
          nullable: true
        value:
          type: integer
          format: int32
        validator:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/SkipQueryValidator'
    SkipQueryValidator:
      type: object
      additionalProperties: false
    SkipTokenQueryOption:
      type: object
      additionalProperties: false
      properties:
        rawValue:
          type: string
          nullable: true
        context:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ODataQueryContext'
        validator:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/SkipTokenQueryValidator'
        handler:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/SkipTokenHandler'
    SkipTokenQueryValidator:
      type: object
      additionalProperties: false
    SkipTokenHandler:
      type: object
      x-abstract: true
      additionalProperties: false
    TopQueryOption:
      type: object
      additionalProperties: false
      properties:
        context:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/ODataQueryContext'
        rawValue:
          type: string
          nullable: true
        value:
[...]
